:global(.modal-wrapper) {
  .signinform {
    display: flex;
    flex-direction: column;
    max-width: 650px;
  }
  background-color: rgb(255 255 255 / 50%);
  backdrop-filter: blur(4px) saturate(0.5) contrast(1);
  .modal {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
  }  
}

:global([data-theme='dark'] .modal-wrapper) .signinform {
  border: none;
}

.signupContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 2.5rem;

  p {
    color: var(--tertiary-color-400);
    line-height: 1.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    row-gap: 1rem;
    .password-recovery {
      color: var(--tertiary-color-500);
    }
    .sendButton {
      min-width: 200px;
    }
  }
}

.form-btns {
  justify-content: flex-end;
}
