.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	top: calc(var(--nav-height) + 28px);
	left: 1vw;
	position: fixed;
	z-index: 4;
	width: 50px;
	transition: width 0.4s ease;
	border: 1px solid var(--primary-color-300);
	background-color: var(--primary-color-100);
	color: var(--primary-color-100);

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 45px;
		width: 50px;
		outline: none;
		color: var(--tertiary-color-100);
		border-bottom: 1px solid var(--primary-color-300);
		transition: color 0.5s ease, background-color 0.5s ease;

		svg {
			pointer-events: none;
		}

		&.disabled {
			cursor: not-allowed;
			color: var(--tertiary-color-200);
			background-color: var(--primary-color-100);
		}

		&.active {
			background-color: var(--secondary-color-50);
			color: var(--primary-color);
		}
	}

	&.sidebar-open {
		width: 16.5rem;

		a {
			justify-content: revert-layer;
			padding-left: 2rem;
			gap: 10px;
			width: 100%;
		}

	}

	.sidebar-text-visible {
		display: none;
	}
}

[data-theme='dark'] .sidebar {
	border: none;
	background: var(--primary-color-500);

	a.active {
		background-color: var(--primary-color-mask);
		color: var(--secondary-color-50);
	}

	a {
		border: none;
	}
}