@use '../../../../styles/settings/mixin' as mixin;

main.issue-detail {
	width: 100%;
	padding-inline-end: 0px;
	padding-inline-start: 75px;

	.left {
		gap: 0px;
		> div {
			border-left: 1px solid var(--primary-color-300);
			border-right: 1px solid var(--primary-color-300);
		}
		.header {
			display: flex;
			align-items: stretch;
			border-top: 1px solid var(--primary-color-300);
			border-bottom: 1px solid var(--primary-color-300);
			background-color: var(--primary-color);
			font-family: Roboto;
			// color: var(--tertiary-color-200);
			height: 50px;
			padding: 0px;

			> div {
				// border-right: 1px solid var(--primary-color-300);
				display: flex;
				align-items: center;
				padding: 0 13px;
			}

			.back {
				transition: all 0.2s;
				border-right: 1px solid var(--primary-color-300);
				// border-top: 1px solid var(--primary-color-300);

				&:hover {
					background-color: var(--primary-color-400);
				}
			}

			input {
				height: 100%;
				flex: 1;
				width: 90%;
				height: 100%;
				border: none;

				&.grow {
					flex: 1 1;
				}
				
				&:focus {
					border: none !important;
				}

				&.add-issues {
					// flex: 1;
					// width: 90%;
					// height: 100%;
					// border-bottom: none;
				}
			}

			.name {
				text-transform: uppercase;
				font-weight: 700;
				font-size: 14px;
				border-right: none;
				// border-top: 1px solid var(--primary-color-300);

				flex: 1 1;
			}

			.work-buttons {
				display: flex;
				padding: 0px !important;
			}

			.action-btn {
				cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: center;
					flex: 1 1;
					height: 100%;
					width: 45px;
					padding: 0;
			}

			.edit {
				margin-left: auto;
				color: var(--secondary-color-100);
				border-left: 1px solid var(--primary-color-300);
				transition: all 0.2s;

				&.on {
					background-color: var(--primary-color-200);

					&:hover {
						background-color: var(--primary-color-200);
					}
				}

				&:hover {
					background-color: var(--primary-color-200);
					svg {
						transform: scale(1.1);
						transition: all 0.1s;
					}
				}
			}

			.save {
				cursor: pointer;
				border-right: 0px;
				transition: all 0.2s;
				color: var(--secondary-color-300);
				max-width: 0px;
				overflow: hidden;

				&.on {
					color: var(--secondary-color-50);
					background-color: var(--primary-color-500);
					max-width: 50px;

					&:hover {
						color: var(--secondary-color-50);
						background-color: var(--primary-color-500);
					}
				}

				&:hover {
					color: var(--secondary-color-50);
					background-color: var(--primary-color-500);
					svg {
						transition: all 0.1s;
						transform: scale(1.1);
					}
				}
			}

			@include mixin.respond(small) {
				width: 100%;
				padding-block-start: 10px;
			}
		}

		.info {
			display: flex;
			align-items: stretch;
			// column-gap: 10px;
			font-family: Roboto;
			text-transform: uppercase;
			font-size: 11px;
			height: 40px;
			border-bottom: 1px solid var(--primary-color-300);
			padding: 0 15px;

			select {
				color: var(--tertiary-color-300);
				height: 100%;
				border: none;
				background: none;
				padding-left: 5px;
			}
			input[type='number'] {
				margin: 0;
				width: 53%;
				padding-inline: 1rem;
				background: none;
				font-family: Roboto;
				text-transform: uppercase;
				font-size: 13px;
				font-weight: bold;
				font-weight: normal;
				border: none;

				&.off {
					color: var(--tertiary-color-300);
					font-weight: bold;
					outline: none;
					// height: 100%;
					border: 0;
					font-size: 11px;
				}
				&:focus {
					border: none !important;
					color: var(--secondary-color-50);
				}
			}

			.info-resourcer-id {
				width: 170px;
				padding-right: 10px;
			}

			.issue-detail-select {
				display: flex;
				align-items: center;
				padding-left: 20px;
				padding-right: 20px;
				// padding-inline-end: 0;

				&.select-resource {
					width: fit-content;
					flex: 0.45 0 0%;
				}

				p,
				label {
					// padding-inline: 15px;
					white-space: nowrap;
				}
			}

			.issue-detail-select:first-child {
				border-right: 1px solid var(--primary-color-300);
			}

			div {
				display: flex;
				align-items: center;
				font-weight: bolder;
				color: var(--secondary-color-50);
				padding-right: 25px;
				white-space: nowrap;

				span {
					color: var(--tertiary-color-300);
					margin-left: 5px;
					// text-overflow: ellipsis;
					// overflow: hidden;
					// white-space: nowrap;
				}
			}
		}
	}

	.right {
		// flex: 1 1 25%;
		height: 100%;
		// padding-inline: 0px;
		// width: 30%;

		@include mixin.respond(small) {
			width: 100%;
		}
	}

	@include mixin.respond(small) {
		display: flex;
		flex-direction: column;
		padding-inline-start: 10px;
		min-height: auto;
		height: 81dvh;
	}
	@include mixin.respond(wide) {
		.left {
			flex: 0 1 900px;
		}
		.right {
			flex: 0 1 30%;
		}
	}
	.left {
		flex: 0 1 900px;

		textarea {
			background-color: transparent;
			outline: none;
			border: 0px;
			cursor: default;
		}
	}
	.right {
		flex: 0 1 30%;
	}
}

main.issues-list {
	// padding-inline-end: 0;

	.left {
		overflow: hidden;

		.table {
			.column {
				&.id {
					justify-content: center;
				}
				&.vul-title {
					min-width: 15.313rem;
				}
			}

			.item {
				.vul-title {
					padding-inline-end: 1.875rem;
					min-width: 15.313rem;
				}
			}
			.rows {
				height: calc(100vh - 153px);
			}
		}
	}

	.right {
		width: 30%;
	}

	@include mixin.respond(small) {
		height: 81dvh;
		min-height: auto;
		.left {
			width: 100%;

			.card {
				overflow-x: auto;
			}
		}
		.right {
			width: 100%;
		}
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 32rem;
		top: -22dvh;
		right: 17dvw;
		filter: blur(130px) brightness(0.45) opacity(0.4);
		background: rgba(255, 255, 255, 0.7607843137);
		z-index: 5;
	}

	.variant-2 {
		width: 23rem;
		bottom: 30dvh;
		left: 5dvw;
		filter: blur(7.5rem) brightness(0.5) opacity(0.4);
	}

	main.issue-detail {
		.left {
			.header {
				.edit {
					&.on {
						// background: none !important;
						color: var(--secondary-color-200);
					}
				}
				.save {
					&.on {
						// background: none !important;
						color: var(--secondary-color-50);
					}
				}
			}
			.info {
				background: rgba(18, 26, 35, 0.3);
			}
		}
	}
}

.icon-container {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--primary-color);
}
