.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-inline: 20px;
	z-index: 2;
	top: 0;
	color: var(--primary-color-50);
	height: var(--nav-height);
	background: linear-gradient(
		90deg,
		rgba(254, 57, 57, 1) 0%,
		rgba(148, 8, 8, 1) 100%
	);

	&-logo {
		display: flex;
		align-items: center;
		cursor: pointer;

		&-container {
			align-self: center;
			font-size: 1.5rem /* 24px */;
			line-height: 2rem /* 32px */;
			font-weight: 600;
			white-space: nowrap;
		}

		a {
			display: flex;
			align-items: center;

			&,
			.navbar-logo-container,
			img {
				cursor: pointer;
			}
		}
	}

	&-user {
		display: flex;
		align-items: center;
		margin-inline-end: 3rem;
	}

	&-logount {
		width: min-content;
		display: flex;
		align-items: center;
		justify-content: center;

		&,
		.navbar-logout-icon,
		svg,
		path {
			cursor: pointer;
		}
	}

	&-modal {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		position: fixed;
		left: 0;
		top: 0;

		background-color: rgba(0, 0, 0, 0.2);
		z-index: 20;

		&-container {
			max-height: 100%;
			max-width: 36rem;
			overflow-y: auto;
			background-color: #fff;
		}

		.logout-modal {
			width: 100%;
			margin-block-start: 1rem /* 16px */;
			overflow: hidden;
			padding: 1rem;

			&-wrapper {
				width: 100%;
				padding-inline: 2rem;
			}

			&-head {
				padding: 0.75rem /* 12px */;
				display: flex;

				&-text {
					text-align: left;
					font-weight: 700;
				}
			}
			&-buttons {
				margin-block-start: 1.5rem /* 24px */;
				display: flex;
				justify-content: space-evenly;
				align-items: center;
				transition: scale 200ms ease;

				&-btn {
					transition: scale 200ms ease;

					&:hover {
						scale: 1.05;
					}
				}
			}
		}
	}
}
