.navbar {
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	padding-inline-end: 20px;
	top: 0;
	color: var(--primary-color-50);
	height: var(--nav-height);
	background: linear-gradient(
		144deg,
		rgb(223, 223, 223) 0%,
		rgb(219, 219, 219) 100%
	);
	transition: background 125ms linear;

	z-index: 5;

	.left {
		display: flex;
		column-gap: 1rem;
		height: 100%;
		margin-left: 1vw;

		.navbar-logo {
			width: fit-content;
			// min-width: 64px;
			margin-top: 10px;
			height: 100%;
			width: 50px;
			// padding-inline: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			background: rgb(255, 86, 94);
			background: -moz-linear-gradient(
				150deg,
				rgba(255, 86, 94, 1) 10%,
				rgba(254, 48, 49, 1) 70%
			);
			background: -webkit-linear-gradient(
				150deg,
				rgba(255, 86, 94, 1) 10%,
				rgba(254, 48, 49, 1) 70%
			);
			background: linear-gradient(
				150deg,
				rgba(255, 86, 94, 1) 10%,
				rgba(254, 48, 49, 1) 70%
			);
			img {
				height: 27px;
			}
		}
		.breadcrumb {
			color: #424242f7;
			text-transform: lowercase;
			font-weight: 600;
			text-align: center;
			display: flex;
			align-items: center;
			word-spacing: 3px;
			word-spacing: 3px;
			font-size: 14px;
			user-select: none;
			.sep {
				font-size: 14px;
				font-weight: 200;
				margin-inline: 5px;
				text-align: center;
				padding-bottom: 2px;
			}
			.go-home {
				transition: color 150ms linear;
				cursor: pointer;
				&:hover {
					color: var(--secondary-color-200);
				}
			}
		}
	}
	.right {
		display: flex;
		column-gap: 20px;
		height: 100%;
		.change-theme {
			// border-inline-end: 2px solid var(--primary-color-100);
			// padding-inline-end: 20px;
			height: 100%;
			display: flex;
			align-items: center;
			svg {
				height: 18px;
			}
		}

		.user {
			display: flex;
			align-items: center;
			// margin-inline-end: 1rem;
			// padding-inline-start: 5px;
			column-gap: 0.75rem;

			cursor: pointer;
			position: relative;

			.email {
				text-align: left;
				color: #404040;
				letter-spacing: 0.3px;
				font-weight: 500;
				user-select: none;
			}
			.profile {
				width: 2rem;
				display: inline-block;
				aspect-ratio: 1/1;
				background-color: #000;
				border-radius: 100%;
				user-select: none;
			}
		}

		.menu {
			position: absolute;
			top: 90%;
			right: 0%;
			width: max-content;
			display: flex;
			flex-direction: column;

			row-gap: 0.75rem;

			color: var(--tertiary-color-400);
			background-color: var(--primary-color-100);
			cursor: default;
			z-index: 6;
			border-radius: 5%;

			box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);

			max-height: 0px;
			opacity: 0.5;
			overflow: hidden;

			transition-property: max-height, height, padding;
			transition-duration: 150ms;
			transition-timing-function: linear;

			&.active {
				align-items: flex-start;
				padding-block: 20px;
				padding-inline: 15px;

				max-height: fit-content;
				opacity: 1;
				transition-property: max-height, height, padding, opacity;
				transition-duration: 150ms;
				transition-timing-function: linear;
			}

			.user {
				padding-block-end: 0.75rem;
				border-block-end: 1px solid #5656567a;
				margin-inline: 0;
				width: 100%;
				max-width: 225px;
				-webkit-line-clamp: 2;
				white-space: pre-line;
				text-wrap: pretty;
				cursor: default;

				.profile {
					width: 2.5rem;
				}
				.username {
					cursor: text;
				}
			}

			.options {
				display: flex;
				flex-direction: column;
				justify-content: flex-start;

				row-gap: 1rem;
				padding-inline-start: 5px;
				padding-inline-end: 10px;
				flex: 1 1;
				width: 100%;

				.option {
					display: flex;
					justify-content: flex-start;
					align-items: center;

					cursor: pointer;
					column-gap: 1rem;
					transition-property: color, transform;
					transition-duration: 125ms;
					transition-timing-function: linear;
					width: 100%;
					font-size: 13px;

					.text-options {
						margin-inline-start: 0.25rem;
						flex: 1 1;
					}

					#chevron-icon {
						justify-self: flex-end;
						transition-property: transform;
						transition-duration: 125ms;
						transition-timing-function: ease;
					}

					&:hover {
						color: var(--secondary-color-200);
						transform: scale(1.05);

						#chevron-icon {
							transform: scale(1.2) translateX(18%);
						}
					}
				}
			}
		}
	}
}
[data-theme='dark'] {
	.navbar {
		color: var(--tertiary-color-50);
		background: linear-gradient(
			120deg,
			rgba(76, 83, 92, 1) 0%,
			rgba(54, 61, 69, 1) 24%,
			rgba(32, 42, 53, 1) 47%,
			rgba(25, 34, 44, 1) 73%,
			rgba(22, 30, 40, 1) 100%
		);

		.breadcrumb {
			color: var(--tertiary-color-200);
		}

		.user {
			.email {
				color: var(--tertiary-color-200);
			}
		}

		.menu {
			.options {
				.option {
					&:hover {
						color: var(--secondary-color-50);
					}
				}
			}
		}
	}
}
