.stat {
  background-color: var(--primary-color-50);
  border-radius: var(--brd-radius);

  // font-family: 'ITC Avant Garde', Questrial;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  padding-block: 4.6rem;

  // border-width: 1px;
  // border-style: solid;
  // border-color: var(--primary-color-300);

  flex: 1 1;
  min-height: 5.938rem;
  max-height: 5.938rem;
  row-gap: 0.55rem;

  &.default {
    cursor: default;
  }

  &:hover {
    .value,
    p {
      animation: agrandar-y-volver 0.1s;
      color: var(--secondary-color-200) !important;
      text-shadow: 0 0 4px #d91a1a33;
    }
  }

  .value {
    font-family: Roboto;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 32px;
    text-align: center;
    color: var(--tertiary-color-50);
  }

  p {
    font-size: clamp(11px, 10dvw, 14px);
    font-family: Roboto;
    font-weight: bold;
    color: var(--tertiary-color-450);
    margin: 0;
    text-wrap: wrap;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    padding-inline: 0.625rem;
    text-align: center;
  }

  &.stat-active {
    .value {
      color: var(--tertiary-color-300);
    }

    p {
      color: var(--secondary-color-100);
    }
  }

  &:last-child {
    border-left: none;
  }
}

[data-theme='dark'] {
  .stat {
    outline: none;
    background-color: var(--primary-color-300);

    &.stat-active {
      .value,
      p {
        color: var(--secondary-color-200);
      }
    }

    &:first-child {
      border-top-left-radius: 0.313rem;
      border-bottom-left-radius: 0.313rem;
    }

    &:last-child {
      border-top-right-radius: 0.313rem;
      border-bottom-right-radius: 0.313rem;
    }

    .value {
      color: var(--tertiary-color-400);
    }

    p {
      color: var(--tertiary-color-500);
    }
  }
}
