.text-bold {
  font-weight: 500;
  color: var(--text-dark-color);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.confirm-order-card {
  --bg-confirm-order: var(--primary-color-100);
  --bg-active-confirm-order: #fff6f6;
  --border-confirm-order: var(--primary-color-400);
  --border-active-confirm-order: var(--secondary-color-200);
  --text-color: #484848;
  --text-dark-color: #181818;
  --text-light-color: var(--tertiary-color-400);
  --text-red: var(--secondary-color-100);

  width: 100%;
  min-width: 630px;
  max-width: 900px;
  height: fit-content;
  background-color: var(--bg-confirm-order);
  border: 1px solid var(--border-confirm-order);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  margin-top: 1rem;

  user-select: none;
  transition: all 125ms ease;

  &.active {
    background-color: var(--bg-active-confirm-order);
    border: 1px solid var(--border-active-confirm-order);
  }

  .provider-order-info {
    h2 {
      font-size: 1.175rem;
      color: var(--text-color);
      font-weight: 700;
      max-width: 385px;

      .text-dark {
        color: var(--text-dark-color);
        padding-inline-start: 0.5rem;
      }

      .normal {
        font-weight: 500;
        color: var(--text-light-color);
      }
    }

    .text-light {
      color: var(--text-light-color);
      padding-inline-start: 5px;
      opacity: 0.7;

      &.border {
        border-right: 1px solid;
        padding-inline-end: 5px;
      }
    }

    .all-scope {
      cursor: pointer;
      padding-inline-start: 10px;
    }
  }

  .order-important-info {
    margin-block-start: 0.5rem;
    padding-inline-start: 5px;
    line-height: 1.75;

    .icon-text {
      padding-block: 0;
      padding-inline-start: 0;
      text-align: left;
    }
  }

  .provider-order-main-content {
    display: flex;
    flex-direction: column;
    margin-inline-start: auto;

    .order-price-dist {
      display: flex;
      flex-direction: column;
      margin-inline-start: auto;
      margin-inline-end: 2rem;

      &.expand {
        flex: 1;
      }

      .price {
        color: var(--text-red);
        font-size: 2.5rem;
        font-weight: 700;
        padding-block-end: 0.5rem;
        width: fit-content;
        margin-inline-start: auto;
      }

      .distributor {
        font-size: 1.15rem;
        color: var(--text-dark-color);
        text-transform: capitalize;
      }
    }

    .current-extend {
      font-size: 1.25rem;
      line-height: 1.5;
      text-align: right;

      &.m-t-auto {
        margin-block-start: auto;
      }
    }
  }

  .buttons {
    flex: 1 1;
    align-items: flex-end;

    &.move-to-right {
      justify-content: flex-end;
    }

    .btn-decline {
      outline: none;
      border: none;
      border-bottom: 1px solid var(--text-light-color);
      color: var(--text-light-color);
      height: fit-content;
      margin-inline-end: 1.75rem;
      user-select: none;
      cursor: pointer;
      word-spacing: 2px;
      margin-block-end: 1rem;
      white-space: nowrap;
    }

    .btn-order-card {
      padding-inline: 2.5rem;
      margin-block-start: 4rem;
      background-color: #ff3131 !important;

      &:hover {
        background-color: #fa2727 !important;
      }
    }
  }
}

[data-theme='dark'] {
  .confirm-order-card {
    --bg-confirm-order: var(--primary-color-50);
    --bg-active-confirm-order: var(--primary-color-250);
    --border-confirm-order: var(--primary-color-500);
    --border-active-confirm-order: var(--primary-color-600);
    --text-color: #dcdcdc;
    --text-dark-color: #f7f7f7;
    --text-light-color: #ffffff;
    --text-red: var(--secondary-color-200);
  }
}
