.password-req-container {
	--text-colors: #575757;
	--text-color-dash: #353535;
	color: var(--text-colors);
	margin-block-start: 6px;

	.password-req-title {
		margin-block-start: 1.25rem;
		line-height: 25px;
		font-weight: 700;
		letter-spacing: 0.25px;
	}

	.password-req-list {
		display: flex;
		flex-direction: column;
		row-gap: 1.5px;
		align-items: flex-start;
		justify-content: center;

		.password-req-item {
			display: inline-flex;
			align-items: center;
			column-gap: 0.65rem;
			position: relative;

			small {
				position: relative;
			}
		}
	}

	.dashed-item {
		position: absolute;
		background-image: linear-gradient(
			180deg,
			rgba(255, 255, 255, 0) 0%,
			var(--secondary-color) 50%,
			rgba(255, 255, 255, 0) 100%
		);
		background-repeat: repeat;
		height: 1px;
		width: 0%;
		top: 50%;
		background-position: left;
		animation: strike 0.35s ease-in-out forwards;

		&.strike {
			animation: strike 0.35s ease-in-out forwards;
		}

		&.no-strike {
			animation: no-strike 0.35s ease-in-out forwards;
		}
	}
}

@keyframes strike {
	from {
		width: 0%;
	}
	to {
		width: 100%;
		color: var(--text-color-dash);
	}
}
@keyframes no-strike {
	from {
		width: 100%;
		color: var(--text-color-dash);
	}
	to {
		width: 0%;
		color: var(--text-colors);
	}
}
body[data-theme='dark'] {
	.password-req-container {
		--text-colors: #dddddd;
		--text-color-dash: #e1e1e1;
	}
}
