@use '../../../../styles/settings/mixin' as mixin;

main.sb {
  overflow: hidden;

  .left {
    .vdb-app-info {
      margin-inline: 0.75rem;

      .table {
        .rows {
          min-height: calc(99dvh - 173px);
          max-height: calc(99dvh - 173px);

          .item {
            height: calc((1.4rem * 2) + 5px);
            max-height: calc((1.4rem * 2) + 5px);
            line-height: 1.4rem !important;
          }
        }

        .cve {
          text-align: center;
          max-width: 135px;

          div {
            justify-content: center;
          }
        }

        .vul-title {
          text-align: center;
          width: auto;
          padding-inline-end: 6px;

          .publish {
            text-align: left;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
          }
        }

        .vul-risk {
          min-width: 90px;
          max-width: 90px;
        }

        .date {
          text-align: left;
          max-width: 95px;
        }

        .id {
          max-width: 85px;
        }

        .publish {
          justify-content: left;
        }
      }
    }
  }

  .right {
    .previous-search-container {
      display: flex;
      flex-direction: column;
      height: 100%;

      .previous-search-wrapper {
        height: 36%;
        overflow: hidden;

        .previous-search {
          width: 100%;
          height: 100%;

          .previous-search-header {
            padding-block: 0.75rem;
            padding-inline: 1.25rem;

            display: flex;
            flex-flow: row nowrap;
            column-gap: 0.875rem;

            p {
              text-align: left;
              font-weight: 700;
            }
          }

          .previous-search-content {
            display: flex;
            padding-inline: 2rem;
            padding-block: 0.25rem;
            height: 100%;
            overflow: auto;

            .content-wrapper {
              width: 100%;

              &.extend {
                display: flex;
              }

              .content-header {
                display: flex;
                padding: 0.75rem;

                p {
                  font-size: 1rem /* 16px */;
                  line-height: 1.5rem /* 24px */;
                  width: 50%;
                }
              }

              .content-main {
                display: flex;
                padding-inline: 0.75rem;
                padding-block: 0.25rem;

                p {
                  font-size: 1rem;
                  line-height: 1.5rem;
                  width: 50%;
                }
              }
            }
          }
        }
      }
    }
  }
}
