{
	"singleQuote": true,
	"trailingComma": "all",
	"tabWidth": 3,
	"semi": true,
	"endOfLine": "lf",

	"arrowParens": "always",
	"bracketSameLine": true,
	"bracketSpacing": true,
	"experimentalTernaries": false,
	"jsxSingleQuote": false,
	"quoteProps": "as-needed",
	"singleAttributePerLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": false,
	"proseWrap": "always",
	"insertPragma": false,
	"printWidth": 80,
	"requirePragma": false,
	"useTabs": true,
	"embeddedLanguageFormatting": "auto",
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrder": [
		"<THIRD_PARTY_MODULES>",
		"^[./]",
		"^@/(.*)$",
		"^#commonHooks/(.*)$",
		"^#commonUserHooks/(.*)$",
		"^@hooks/(.*)$",
		"^@userHooks/(.*)$",
		"^@resourcesHooks/(.*)$",
		"^@panelHooks/(.*)$",
		"^@moduleHooks/(.*)$",
		"^@stores/(.*)$",
		"^@interfaces/(.*)$",
		"^@utils/(.*)$",
		"^@mocks/(.*)$",
		"^@services/(.*)$",
		"^@buttons/(.*)$",
		"^@modals/(.*)$",
		"^@icons/(.*)$",
		"^@standalones/(.*)$",
		"^@defaults/(.*)$",
		"^@table/(.*)$",
		"^@styles/(.*)$",
		"^[./(.scss)$]"
	]
}
