main.enp {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1;
  gap: 0.5rem;
  padding-block-start: 5%;

  .enp-header {
    cursor: default;
    display: flex;

    h2 {
      font-weight: 700;
      color: var(--tertiary-color-500);
      font-size: 1.25rem;
      line-height: 1.75rem;
    }

    h3 {
      margin-inline-start: 2rem;
      padding-block-start: 0.25rem;
      cursor: pointer;
      text-decoration-line: underline;
      text-underline-offset: 2px;
      text-decoration-thickness: 2px;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: var(--secondary-color-100);
      font-weight: 700;
    }
  }

  .buttons-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: default;
    border: 1px solid var(--primary-color-500);
    background-color: var(--primary-color-200);
    border-radius: 0.25rem;
    height: 3rem;
    width: 100%;

    .buttons-bar-wrapper {
      display: flex;
      align-items: center;
    }

    .scan-btn-container {
      display: flex;
      margin-inline-start: 0.5rem;
    }

    .report-btn-container {
      display: flex;
      margin-inline-start: 1rem;
    }

    @media only screen and (max-width: 600px) {
      height: 5rem;

      .scan-btn-container {
        display: flex;
        flex-direction: column;

        .btn {
          margin-bottom: 5px;
        }
      }
    }
  }

  .modal-os-container {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000080;

    .modal-os-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      max-width: 28rem;
      padding: 1rem;

      @media only screen and (min-width: 768px) {
        height: auto;
      }

      .modal-os {
        position: relative;
        border-radius: 0.25rem;
        box-shadow:
          0 0 0 0 #0000,
          0 1px 3px 0 #0000001a,
          0 1px 2px -1px #0000001a;
        background: var(--primary-color-200);

        .modal-os-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 1.25rem;
          border-bottom-width: 1px;
          border-top-left-radius: 0.25rem;
          border-top-right-radius: 0.25rem;

          h3 {
            font-size: 1.125rem /* 18px */;
            line-height: 1.75rem /* 28px */;
            font-weight: 600;
            color: var(--tertiary-color-600);
          }
        }

        .modal-os-content {
          padding: 1.25rem;

          .os-content-header-wrapper {
            display: flex;
            justify-content: space-around;
            margin-block-end: 2rem;

            .os-content-header {
              display: flex;
              flex-direction: column;
              align-items: center;
              cursor: pointer;

              .os-icon {
                padding: 1.5rem;
                border-width: 1px;
                border-radius: 0.5rem /* 8px */;
                transition-duration: 300ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

                &.isSelectIcon {
                  border-color: var(--secondary-color-50);
                  color: var(--secondary-color-100);
                }

                &.other {
                  border-color: var(--tertiary-color-200);
                  color: var(--tertiary-color-500);
                }
              }
            }
          }

          .os-select-content {
            margin-block-end: 1rem;

            p {
              font-size: 0.875rem /* 14px */;
              line-height: 1.25rem /* 20px */;
              margin-block-end: 0.5rem;
              color: var(--tertiary-color-500);
            }

            .os-option-wrapper {
              padding: 0.75rem;
              border-radius: 0.25rem;
              cursor: pointer;
              overflow: hidden;
              transition-duration: 300ms;
              transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
              border: 1px solid var(--primary-color-600);
              background: var(--primary-color-200);
              color: var(--tertiary-color-500);

              &:hover {
                background: var(--primary-color-400);
              }

              pre {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }

  .enp-graphics {
    display: flex;
    flex-direction: row;

    .first-graph {
      width: 16.666667%;
    }

    .second-graph {
      width: 50%;
    }

    .three-graph {
      width: 33.333333%;
    }
  }

  .enp-compliance {
    .enp-compliance-details {
      visibility: hidden;
      opacity: 0;
      transition:
        visibility 0.2s linear,
        opacity 0.3s linear;
      width: 300px;
      background: #131b24b3;
      color: #fff;
      text-align: center;
      border-radius: 2px;
      padding: 6px;
      position: fixed;
      z-index: 1;
      margin-left: -325px;
      margin-top: -75px;
      backdrop-filter: blur(5px);
      cursor: default !important;
    }

    &:hover {
      .enp-compliance-details {
        visibility: visible;
        opacity: 1;
      }
    }
  }

  .enp-line-chart {
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-left: 1rem;
    height: 300px;
  }

  .enp-doughnut-chart {
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    height: 300px;
  }

  .enp-graph-chart {
    border-top-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    margin-left: 1rem;
  }

  .enp-chart-text {
    display: flex;
    align-items: center;
    height: 1.5rem;
    margin-left: 1rem;
    background-color: #f1f5f9;
    font-family: monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.25rem;
    color: #9ca3af;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    cursor: default;
  }

  .enp-chart-m0 {
    margin-left: 0 !important;
  }

  .enp-compliance-failed {
    color: #bd2c2c;
  }

  .enp-compliance-success {
    color: #6ee5e7;
  }

  .enp-table-header {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-color: var(--primary-color-300);
    flex: 1 1;

    &:hover {
      cursor: default;
    }

    .enp-table-title {
      display: flex;
      padding: 1rem;

      h3 {
        font-size: 0.875rem /* 14px */;
        line-height: 1;
        font-weight: 700;
        color: var(--tertiary-color-400);
        margin-block-start: 0.25rem;
        margin-inline-start: 0.5rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-transform: uppercase;
      }
    }

    .enp-table-columns {
      display: flex;
      padding: 1rem;
      padding-block-start: 0;
      margin-inline-start: 0.5rem;
      font-size: 0.875rem /* 14px */;
      line-height: 1.25rem /* 20px */;
      color: var(--tertiary-color-500);

      .enp-table-column {
        width: 16.666667%;
        transition-property: color;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
          cursor: pointer;
          color: var(--secondary-color-100);
        }
      }
    }
  }

  p {
    .margin-start {
      margin-inline-start: 0.5rem;
    }
  }

  .enp-table-content {
    border-bottom-right-radius: 0.25rem /* 4px */;
    border-bottom-left-radius: 0.25rem /* 4px */;
    border-bottom-width: 1px;
    border-color: var(--primary-color-300);
    margin-block-end: 1.25rem;
    flex: 1 1;

    &:hover {
      cursor: default;
    }

    .enp-content-row {
      display: flex;
      align-items: center;
      padding: 1rem;
      padding-inline-start: 1.5rem;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      border-color: var(--primary-color-300);
      font-size: 0.875rem /* 14px */;
      line-height: 1.25rem /* 20px */;
      color: var(--tertiary-color-300);
      transition-property: background-color;
      transition-duration: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        cursor: pointer;
        background-color: var(--primary-color-200);
      }

      .enp-content-item {
        width: 16.666667%;

        &.small {
          width: 8.333333%;
        }

        .enp-btn {
          width: auto;
          border-radius: 0.25rem;
          font-size: 0.75rem /* 12px */;
          line-height: 1rem /* 16px */;
          height: 2rem;
          padding-right: 1rem;
          padding-left: 1rem;
          border-width: 1px;
          cursor: pointer;
          transition-property: background-color, color;
          transition-duration: 300ms;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

          span {
            cursor: pointer;
          }

          &.enp-scan-btn {
            background-color: #ecfdf5;
            color: #6ee7b7;
            border-color: #6ee7b7;
          }

          &.enp-report-btn {
            background-color: #fef2f2;
            color: #fca5a5;
            border-color: #fca5a5;

            &:hover {
              background-color: #ecc7c7;
              color: #f58a8a;
            }
          }
        }
      }
    }

    .enp-table-progres {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: 100%;
      background-color: transparent;
      position: relative;

      .p-default {
        cursor: default;
      }
    }

    .enp-empty-table {
      flex: 1 1;
      border-bottom-right-radius: 0.25rem /* 4px */;
      border-bottom-left-radius: 0.25rem /* 4px */;
      border-bottom-width: 1px;

      margin-block-end: 1.25rem;
      border-color: var(--primary-color-300);

      &:hover {
        cursor: default;
      }

      .empty-message {
        display: flex;
        align-items: center;
        padding: 1rem;
        padding-inline-start: 1.5rem;
        border-left-width: 1px;
        border-right-width: 1px;
        border-top-width: 1px;
        font-size: 0.875rem /* 14px */;
        line-height: 1.25rem /* 20px */;
        transition-property: background-color;
        transition-duration: 300ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        color: var(--tertiary-color-200);

        &:hover {
          background-color: var(--primary-color-200);
        }
      }
    }
  }

  .enp-graph {
    .graph-container {
      border-top-left-radius: 0.25rem;
      border-top-right-radius: 0.25rem;

      border-top-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;

      border-color: var(--primary-color-600);

      height: 300px;
    }

    .graph-footer {
      display: flex;
      align-items: center;

      height: 1.5rem;
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
        'Courier New', monospace;
      font-size: 0.875rem;
      line-height: 1.25rem;
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      cursor: default;
      padding: 0.25rem;
      background-color: var(--primary-color-500);
      color: var(--tertiary-color-300);
      border-color: var(--primary-color-600);
    }
  }

  .enp-graph-doughnut {
    width: 16.666667%;
  }

  .enp-graph-line {
    width: 50%;
  }

  .enp-graph-points-line {
    width: 33.333333%;

    .graph-container {
      margin-left: 1rem;
    }

    .graph-footer {
      margin-left: 1rem;
    }
  }

  .enp-empty-container {
    flex: 1 1;
    margin-block-end: 1.25rem;
    border-bottom-width: 1px;
    border-color: #e2e8f0;
    border-bottom-right-radius: 0.25rem /* 4px */;
    border-bottom-left-radius: 0.25rem /* 4px */;

    &:hover {
      cursor: default;
    }

    &.enp-empty-message-content {
      display: flex;
      align-items: center;
      padding: 1rem;
      padding-inline-start: 1.5rem;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-width: 1px;
      font-size: 0.875rem /* 14px */;
      line-height: 1.25rem /* 20px */;
      color: #94a3b8;
      transition: 300ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

      &:hover {
        cursor: default;
        background: var(--primary-color-100);
      }
    }
  }

  .card {
    &.table {
      .row {
        .item {
          .id {
            &.action {
              display: flex;
              cursor: pointer;
              padding: 0.75rem;
            }
          }
        }
      }
    }
  }

  @media only screen and (max-width: 600px) {
    padding-inline-start: 5px;
    display: block;
    margin: 10px;
    width: 100%;
    overflow-y: auto;
    height: 81dvh;
    min-height: auto;

    .enp-table-content {
      .enp-content-row {
        .enp-content-item {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          .enp-table-progres {
            p {
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .enp-btn {
            display: flex;
            align-items: center;
            padding-left: 0;
          }
        }
      }
    }
  }
}

[data-theme='dark'] {
  main.enp {
    .enp-table {
      .enp-table-header {
        .enp-table-title {
          color: var(--tertiary-color-200);
        }
      }
    }

    .enp-table-content {
      border-bottom-right-radius: 0.25rem /* 4px */;
      border-bottom-left-radius: 0.25rem /* 4px */;
      border-bottom-width: 1px;
      border-color: var(--primary-color-300);
      margin-block-end: 1.25rem;
      flex: 1 1;

      &:hover {
        cursor: default;
      }

      .enp-content-row {
        .enp-content-item {
          .enp-btn {
            &.enp-scan-btn {
              background-color: #ecfdf5;
              color: #6ee7b7;
              border-color: #6ee7b7;
            }

            &.enp-report-btn {
              background-color: #e9c4c4;
              color: #c74040;
              border-color: #bf4c4c;

              &:hover {
                background-color: #e0adad;
                color: #bd2c2c;
              }
            }
          }
        }
      }
    }

    .enp-line-chart {
      border-color: var(--primary-color-400);
    }

    .enp-doughnut-chart {
      border-color: var(--primary-color-400);
    }

    .enp-graph-chart {
      border-color: var(--primary-color-400);
    }

    .enp-chart-text {
      border-color: var(--primary-color-400);
      background-color: var(--primary-color-100);
    }
  }
}
