.remaining-searches-indicator {
  background: #a7a7a7;
  color: #fff;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 6px;
  width: 85%;
  max-width: 540px;
  letter-spacing: 0.01em;
  user-select: none;
  box-sizing: border-box;
  padding: 1rem;
}
