:global(.modal-wrapper) {
  .passwordRecoveryForm {
    display: flex;
    flex-direction: column;
    max-width: 650px;
    min-width: 500px;
    box-shadow: 0 6px 10px rgb(0 0 0 / 30%);
    // border-top: 3px solid #ffd2d2;
    // border-bottom: 3px solid var(--primary-color-600);
  }
}

:global([data-theme='dark'] .modal-wrapper) .passwordRecoveryForm {
  border: none;
}

.passwordRecoveryContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 0.25rem;

    // border-top: 2px solid var(--primary-color-600);
  }
}

.confirm-button {
  margin-top: 1rem;
}
