@use '../../../styles/settings/mixin' as mixin;

.btn {
	&.btn-red {
		background: var(--secondary-color-50);

		&:hover {
			background: var(--secondary-color-100) !important;
		}
	}

	&.btn-dark-red {
		background: var(--secondary-color-400);
	}

	&.btn-black {
		color: var(--tertiary-color-300);
		background-color: var(--tertiary-color-50);

		&:hover {
			// background-color: var(--tertiary-color-100);
		}

		@include mixin.respond(small) {
			height: 65px;
		}
	}

	&.btn-gray {
		background-color: var(--primary-color-300);
		color: var(--tertiary-color-500);

		transition: scale 200ms ease;

		&:hover {
			scale: 1.04;
		}

		&.error-tertiary-btn {
			min-width: 175px;
			max-width: 175px;
			font-size: 1.15rem;
		}
	}

	&.send-btn {
		justify-content: center;
		align-items: center;

		&.send-extra-styles {
			position: relative;
			width: 3.5rem;
			height: 100%;
		}
	}

	&.btn-cancel {
		padding-inline: 1rem;
		margin-inline-end: 0.5rem;

		width: 50%;

		&:hover {
			scale: 1.05;
		}
	}

	&.btn-add {
		width: 50%;
		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.5rem;
		padding-inline: 1.75rem;

		&:hover {
			scale: 1.02;
		}
	}

	&.primary-full {
		width: 100%;
		margin-block-start: 1rem;

		&.both {
			margin-block-end: 1rem;
		}

		&.bottom {
			margin-block-start: 0px;
			margin-block-end: 1rem;
		}
	}
}

[data-theme='dark'] {
	button.btn {
		&.btn-red {
			background: #d73636;
		}
		&.btn-black {
			background-color: #1b2531;
		}
	}

	.network-form {
		button.btn {
			&.btn-secondary {
				background-color: #232d3a;
			}
		}
	}
}
