button.btn {
  --btn-bg-color: var(--secondary-color-50);
  background: var(--btn-bg-color);

  &.btn-red {
    --btn-bg-color: var(--secondary-color-50);

    &:hover {
      --btn-bg-color: var(--secondary-color-100);
    }
  }

  &.btn-dark-red {
    --btn-bg-color: var(--secondary-color-100);
  }

  &.btn-black {
    color: var(--primary-color);
    --btn-bg-color: var(--tertiary-color-500);
  }

  &.btn-dark-black {
    --btn-bg-color: var(--tertiary-color-500);
    color: var(--primary-color-50);
    transition: scale 200ms ease;
    margin-left: 14px;
  }

  &.btn-gray {
    --btn-bg-color: var(--primary-color-300);
    color: var(--tertiary-color-450);
    transition: scale 200ms ease;

    &:hover {
      scale: 1.04;
    }

    &.error-tertiary-btn {
      min-width: 175px;
      max-width: 175px;
      font-size: 1.15rem;
    }
  }

  &.send-btn {
    justify-content: center;
    align-items: center;

    &.send-extra-styles {
      position: relative;
      width: 3.5rem;
      height: 100%;
    }
  }

  &.btn-cancel {
    padding-inline: 1rem;
    margin-inline-end: 0.5rem;
    width: 50%;

    &:hover {
      scale: 1.05;
    }
  }

  &.btn-add {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    padding-inline: 1.75rem;
    text-wrap: nowrap;

    &:hover {
      scale: 1.02;
    }
  }

  &.primary-full {
    width: 50%;

    &.both {
      margin-block-end: 1rem;
    }

    &.bottom {
      margin-block-start: 0;
      margin-block-end: 1rem;
    }
  }

  &.btn-send-email {
    width: 48%;
  }

  &.btn-error-con {
    width: 48%;
  }
}

[data-theme='dark'] {
  button.btn {
    &.btn-dark-black {
      color: var(--tertiary-color-50);
    }
    &.btn-red {
      background: linear-gradient(90deg, #320809 5.75%, #1d0a0c 73.08%);
      border: 1px solid #b10101;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      color: #cf2e2f;
      transition: all 0.2s ease;

      &:hover {
        background: linear-gradient(90deg, #320809 5.75%, #1d0a0c 73.08%);
        background-size: 150% 200%;
        color: #d95b5b;
        border-color: #cf0000;
      }
    }
    &.btn-gray {
      background: linear-gradient(90deg, #434243 5.75%, #282324 76.44%, #1d191a 96.63%);
      border: 1px solid #bababa;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      transition: all 0.2s ease;
      color: #d9d9d9;

      &:hover {
        background: linear-gradient(90deg, #434243 5.75%, #282324 76.44%, #1d191a 96.63%);
        background-size: 150% 200%;
        color: #ededed;
        border-color: #d6d6d6;
      }
    }
  }
}
