@use '../../../styles/settings/mixin' as mixin;

.btn {
	&.btn-primary {
		background: var(--secondary-color-50);

		&:hover {
			background: var(--secondary-color-100) !important;
		}

		@include mixin.respond(small) {
			height: 44px;
			min-width: 40px;
		}

		&.send-btn {
			justify-content: center;
			align-items: center;
		}
	}

	&.btn-add {
		width: 50%;

		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.5rem;

		padding-inline: 1.75rem;

		&:hover {
			scale: 1.02;
		}
	}
	&.primary-full {
		width: 100%;
		margin-block-start: 1rem;

		&.both {
			margin-block-end: 1rem;
		}
		&.bottom {
			margin-block-start: 0px;
			margin-block-end: 1rem;
		}
	}
}

[data-theme='dark'] {
	button.btn {
		&.btn-primary {
			//background: var(--secondary-color-200);
			background: #d73636;
		}
	}
}
