@use '../../../styles/settings/mixin' as mixin;


button.btn {
	&.btn-primary {
		background: var(--secondary-color-50) !important;

		&:hover {
			background: var(--secondary-color-300) !important;
		}

		@include mixin.respond(small) {
			height: 44px;
			min-width: 40px;
		}		
	}

	&.btn-add {
		width: 50%;

		display: flex;
		flex-direction: row;
		align-items: center;
		column-gap: 0.5rem;

		padding-inline: 1.75rem;

		&:hover {
			scale: 1.05;
		}
	}
}

[data-theme='dark'] {
	.btn {
		.btn-primary {
			background: var(--secondary-color-50);
		}
	}
}
