@use '../../../../styles/settings/mixin' as media;

main.provider {
	padding-inline-end: 0;
	padding-block-end: 0;
	--provider-border-color: var(--tertiary-color-50);

	.provider-score {
		height: 100%;
		display: flex;
		align-items: center;
		padding-inline: 1rem;

		.score-info {
			padding-inline-end: 0.5rem;
			border-inline-end: 1px solid var(--tertiary-color-400);
			white-space: nowrap;
		}

		.score-review {
			padding-inline-start: 0.5rem;
			white-space: nowrap;
			display: flex;
			column-gap: 0.5rem;
			align-items: center;
		}
	}

	.left {
		padding-inline: 0px;
		padding-block-start: 60px;

		.provider-header {
			position: relative;
			display: flex;
			flex-direction: column;
			border-inline: 1px solid var(--provider-border-color);

			.provider-banner-container {
				.provider-banner {
					object-fit: cover;
					object-position: center;
					width: 100%;
					max-width: 100%;
					max-height: 210px;
					min-height: 210px;
				}
			}
			.provider-profile-media {
				position: absolute;
				width: 140px;
				aspect-ratio: 1/1;
				top: 12rem;
				left: 2.5rem;
				background: #fff;
				border-radius: 100%;
				padding: 4px;

				.provider-profilemedia {
					position: relative;
					width: 140px;
					aspect-ratio: 1/1;
					object-fit: cover;
					object-position: center;
					clip-path: circle(50% at 50% 50%);
				}
			}

			.provider-header-content {
				display: flex;
				flex-direction: row;
				height: 120px;
				border-bottom: 1px solid var(--provider-border-color);

				.provider-main-info {
					margin-inline-start: 16rem;
					padding-inline-end: 2rem;
					border-inline-end: 1px solid var(--provider-border-color);
					min-width: 18rem;
					max-width: 18rem;

					h3 {
						color: var(--tertiary-color-600);
						font-size: 1.75rem;
						margin-block-start: 1rem;
						line-height: 2.5rem;
					}
					h4 {
						font-size: 1.1rem;
						letter-spacing: 0.5px;
					}
					span {
						color: var(--tertiary-color-300);
						line-height: 2.5rem;
					}
				}
				.provider-extra-info {
					display: flex;
					flex-direction: column;
					flex: 1 1;

					.provider-verification {
						background: #caffca;
						padding-block-end: 0.75rem;
						padding-block-start: 0.4rem;
						border-block-end: 1px solid var(--provider-border-color);
						color: #008000;

						p {
							display: inline-flex;
							width: fit-content;
							align-items: center;
							height: 100%;
							text-align: center;
							padding-block-start: 2px;
							padding-inline-start: 0.5rem;

							.highlight {
								font-weight: 600;
							}
						}

						svg {
							width: 20px;
							aspect-ratio: 1/1;
							color: #28da28;
							margin-block-end: 3px;
						}
					}

					.provider-info-wrapper {
						display: flex;
						height: 100%;

						.provider-finish-audit {
							display: flex;
							flex-direction: column;
							align-items: center;
							flex: 1 1 40%;
							border-inline-end: 1px solid var(--provider-border-color);
							justify-content: center;
							min-width: 120px;

							.audit-count {
								font-size: 2.25rem;
								font-weight: 600;
							}

							.audit-title {
								text-transform: uppercase;
								font-weight: 600;
								line-height: 2rem;
							}
						}

						.provider-score-local {
							display: flex;
							flex-direction: column;
							flex: 1 1 80%;

							.provider-local {
								min-width: 265px;
								max-height: 2.25rem;
								min-height: 2.25rem;

								border-block-end: 1px solid var(--provider-border-color);
								padding-inline-start: 0.75rem;
								padding-inline-end: 1rem;
								color: var(--tertiary-color-300);

								svg {
									margin-inline-end: 0.25rem;
									margin-block-end: 3px;
									width: 15px;
									color: var(--secondary-color-100);
								}
							}
						}
					}
				}
			}
		}

		.provider-content {
			display: flex;
			border-inline: 1px solid var(--provider-border-color);

			.provider-main-content {
				display: flex;
				flex: 1 1 70%;
				width: 100%;
				height: 100%;
			}
		}
	}

	.right {
		display: none;
		opacity: 0;

		@include media.minScreen(1300px) {
			& {
				display: block;
				opacity: 1;
				padding-inline-end: 0;
				box-shadow: -3px 0px 6px 3px rgba(0, 0, 0, 0.15);

				height: 100%;
				min-height: 100dvh;
				max-height: none;
			}
		}
	}
}

.provider-about {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 1.5rem;

	.about-header {
		width: 100%;

		h2 {
			color: var(--secondary-color-100);
			border-bottom: 1px solid;
			width: fit-content;
			border-radius: 1px;
		}
	}
}

.providers-list {
	h2 {
		padding-inline-start: 1rem;
		padding-block-end: 1rem;
		font-size: 2rem;
	}
}

.provider-card {
	position: relative;
	width: 100%;
	height: 95px;
	display: flex;
	align-items: flex-start;
	border-block: 1px solid var(--tertiary-color-200);

	.provider-card-content {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-inline-start: 7rem;
		padding-block-start: 0.5rem;

		.provider-name {
			padding-block-end: 0.65rem;
			h3 {
				font-size: 1.2rem;
				color: var(--tertiary-color-500);
				display: flex;

				b,
				span {
					display: -webkit-box;
					-webkit-box-orient: vertical;

					overflow: hidden;
					-webkit-line-clamp: 1;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				b {
					padding-inline-end: 3px;
					max-width: 170px;
				}

				span {
					padding-inline-start: 3px;
					max-width: 130px;
				}
			}
		}

		.provider-desc {
			line-height: 1.2rem;
			color: var(--tertiary-color-300);

			max-height: calc((1.2rem) * 2);
			min-height: calc((1.2rem) * 2);
			max-width: 285px;

			display: -webkit-box;
			line-clamp: 2;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;

			overflow: hidden;
			text-overflow: ellipsis;
		}

		.provider-score {
			padding-block-start: 0.25rem;
			padding-inline-start: 0;
		}
	}
}
