@use '../../../../styles/settings/mixin' as media;

main.provider {
	--provider-border-color: var(--primary-color-300);
	--provider-bg-color: var(--primary-color-50);
	--left-shadow: 0px 0px 2rem 1px rgba(0, 0, 0, 0.1);
	--provider-verified: #caffca;
	--provider-verified-100: #28da28;
	--provider-verified-200: #008000;

	--provider-not-verified: #ffe4e4;
	--provider-not-verified-100: var(--secondary-color-50);
	--provider-not-verified-200: var(--secondary-color-100);
}

main.provider {
	padding-inline-end: 0;
	padding-block-end: 0;
	padding-inline-start: 80px;

	.provider-score {
		height: 100%;
		display: flex;
		align-items: center;
		padding-inline: 1rem;

		.score-info {
			padding-inline-end: 0.5rem;
			border-inline-end: 1px solid var(--tertiary-color-400);
			white-space: nowrap;
		}

		.score-review {
			padding-inline-start: 0.5rem;
			white-space: nowrap;
			display: flex;
			column-gap: 0.5rem;
			align-items: center;
		}
	}

	.left {
		padding-inline: 0px;
		margin-block-start: 62px;
		max-width: 960px;
		background: vat(--provider-bg-color);
		box-shadow: var(--left-shadow);
		padding-block-start: 0px;
		border-radius: 4px;
		height: fit-content;
		min-width: 895px;

		.provider-header {
			position: relative;
			display: flex;
			flex-direction: column;
			min-height: 130px;
			max-height: 130px;
			height: 100%;

			.provider-banner-container {
				.provider-banner {
					object-fit: cover;
					object-position: center;
					width: 100%;
					max-width: 100%;
					max-height: 210px;
					min-height: 210px;
				}
			}

			.provider-header-content {
				display: flex;
				flex-direction: row;
				height: 130px;
				border-bottom: 1px solid var(--provider-border-color);

				.provider-extra-info {
					display: flex;
					flex-direction: column;
					flex: 1 1;

					.provider-verification {
						padding-block-end: 0.75rem;
						padding-block-start: 0.4rem;
						border-block-end: 1px solid var(--provider-border-color);

						&.verified {
							background: var(--provider-verified);
							color: var(--provider-verified-200);

							svg {
								color: var(--provider-verified-100);
							}
						}

						&.not-verified {
							background: var(--provider-not-verified);
							color: var(--provider-not-verified-200);

							svg {
								color: var(--provider-not-verified-100);
							}
						}

						p {
							display: inline-flex;
							width: fit-content;
							align-items: center;
							height: 100%;
							text-align: center;
							padding-block-start: 2px;
							padding-inline-start: 0.5rem;

							.highlight {
								font-weight: 600;
								padding-inline-end: 5px;
							}
						}

						svg {
							width: 20px;
							aspect-ratio: 1/1;
							margin-block-end: 3px;
						}
					}

					.provider-info-wrapper {
						display: flex;
						height: 100%;

						.provider-finish-audit {
							display: flex;
							flex-direction: column;
							align-items: center;
							flex: 1 1 40%;
							border-inline-end: 1px solid var(--provider-border-color);
							justify-content: center;
							min-width: 120px;

							.audit-count {
								font-size: 2.25rem;
								font-weight: 600;
							}

							.audit-title {
								text-transform: uppercase;
								font-weight: 600;
								line-height: 2rem;
							}
						}

						.provider-score-local {
							display: flex;
							flex-direction: column;
							flex: 1 1 80%;

							.provider-local {
								min-width: 265px;
								max-height: 2.25rem;
								min-height: 2.25rem;

								border-block-end: 1px solid var(--provider-border-color);
								padding-inline-start: 0.75rem;
								padding-inline-end: 1rem;
								color: var(--tertiary-color-300);

								svg {
									margin-inline-end: 0.25rem;
									margin-block-end: 3px;
									width: 15px;
									color: var(--secondary-color-100);
								}
							}
						}
					}
				}
			}
		}

		.provider-content {
			display: flex;

			.provider-main-content {
				display: flex;
				flex: 1 1 70%;
				width: 100%;
				height: 100%;
				min-height: 80dvh;
			}
		}
	}

	.right {
		display: none;
		opacity: 0;
		max-width: 600px;

		.providers-list {
			height: 100%;
			min-height: 100dvh;
		}

		@include media.minScreen(1300px) {
			& {
				opacity: 1;
				padding-inline-end: 0;
				box-shadow: -3px 0px 20px 3px rgba(0, 0, 0, 0.1);

				display: flex;
				flex-direction: column;
				min-height: 100dvh;
				height: max-content;
			}
		}
	}
}

.providers-list {
	h2 {
		padding-inline-start: 1rem;
		padding-block-end: 1rem;
		font-size: 2rem;
	}
}
[data-theme='dark'] {
	main {
		--left-shadow: 0px 0px 5rem 0px rgb(141 141 141 / 5%);
		--provider-verified: #b1ffb1;
		--provider-verified-100: #18d018;
		--provider-verified-200: #026502;

		--provider-not-verified: #b04646;
		--provider-not-verified-100: #730101;
		--provider-not-verified-200: #550000;
	}
}
