main.admin-user {
	padding: 2rem;
	padding-block-start: 3rem;

	.left {
		width: 66.666667%;
		padding-inline-end: 0.5rem;

		.left-section-title {
			padding-block-end: 20px;
			height: 4rem;
		}
	}

	.right {
		width: 33.333333%;
		padding-inline-start: 0.5rem;

		.right-section-title {
			padding-block-end: 2.25rem;
			height: 4rem;
		}
	}
}
