.scan-start {
  background-color: var(--primary-color);
  padding: 24px;
  border-radius: var(--brd-radius);

  h2 {
    margin-bottom: 12px;
    font-size: 1.1rem;
    font-weight: 700;
    color: var(--tertiary-color-500);
  }

  p {
    margin-bottom: 12px;
    font-size: 0.975rem;
    line-height: 1.5;
  }

  button {
    margin-top: 12px;
  }
}

.scan-start-progress {
  width: 100%;
  background-color: var(--secondary-color);
  overflow: hidden;
  height: 18px;
  margin-top: 12px;
  position: relative;
}

.scan-start-progress-bar {
  background: var(--secondary-color-150);
  position: absolute;
  height: 18px;
}

.scan-start-actions {
  display: flex;
  gap: 12px;
}
