#star-icon {
  color: #ff9100;
  width: 14px;

  &.half-icon {
    clip-path: inset(0 var(--half-percentage) 0 0);
  }
}

.profile-media-container {
  position: absolute;
  width: var(--profile-media-size);
  aspect-ratio: 1/1;
  top: var(--profile-media-top);
  bottom: var(--profile-media-bottom);
  left: var(--profile-media-left);
  right: var(--profile-media-right);
  border-radius: 100%;

  &.border-white {
    background: #fff;
    padding: 4px;
  }

  .profile-media {
    position: relative;
    width: var(--profile-media-size);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    clip-path: circle(50% at 50% 50%);

    &.gray-scale-filter {
      filter: grayscale(1);
    }
  }
}

.active {
  .profile-media-container {
    .profile-media {
      &.gray-scale-filter {
        filter: grayscale(0);
      }
    }
  }
}
