#star-icon {
  color: #ff9100;
  width: 18px;

  &.half-icon {
    position: relative;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to right, transparent 50%, #e0e0e0 50%);
      mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z' clip-rule='evenodd'/%3E%3C/svg%3E")
        no-repeat center / contain;
      -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z' clip-rule='evenodd'/%3E%3C/svg%3E")
        no-repeat center / contain;
    }
  }
}

.rating-content {
  display: flex;
  gap: 2px;
}

.profile-media-container {
  position: absolute;
  width: var(--profile-media-size);
  aspect-ratio: 1/1;
  top: var(--profile-media-top);
  bottom: var(--profile-media-bottom);
  left: var(--profile-media-left);
  right: var(--profile-media-right);
  border-radius: 100%;

  &.border-white {
    background: #fff;
    padding: 4px;
  }

  .profile-media {
    position: relative;
    width: var(--profile-media-size);
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    clip-path: circle(50% at 50% 50%);

    &.gray-scale-filter {
      filter: grayscale(1);
    }
  }
}

.active {
  .profile-media-container {
    .profile-media {
      &.gray-scale-filter {
        filter: grayscale(0);
      }
    }
  }
}

.icon-text-pair {
  width: 100%;
  padding-block: 0.25rem;
  padding-inline: 0.5rem;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  font-size: 1rem;
  line-height: 2rem;

  overflow: hidden;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;

  svg {
    display: inline-flex;
    width: fit-content;
    align-items: center;
    margin-inline-end: 0.35rem;
    overflow: visible;
  }
}
