@use '../../../../styles/settings/mixin' as mixin;

main.lan {
	.left {
		flex: 1 1 68%;
		width: 68%;

		.table {
			.rows {
				.action {
					.publish {
						justify-content: center;
					}
				}
			}

			.id {
				max-width: 8%;
				min-width: 8%;
				margin-inline-end: 1%;

				&.action {
					max-width: 14%;
					min-width: 14%;
				}
			}

			.ip {
				max-width: 22%;
				min-width: 22%;
				margin-inline-end: 1%;
			}
			.full-name {
				max-width: 30%;
				min-width: 30%;
				margin-inline-end: 1%;
			}
		}
	}

	.right {
		// flex: 1 1 33%;
		// width: 33%;
		// box-shadow: rgba(0, 0, 0, 0.35) -20px 0px 70px -45px;
		// padding-inline: 10px;

		.card {
			&.risk-chart {
				.content {
					flex-direction: column;
					row-gap: 2.5rem;

					.chart {
						min-width: 150px;
						max-width: 0%;
					}
				}
			}
		}
	}

	.card {
		&.table {
			.rows {
			}
		}
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 23rem;
		top: -10dvh;
		right: 22dvw;
		filter: blur(120px) brightness(0.5) opacity(0.4);
	}

	.variant-2 {
		width: 15rem;
		bottom: 0dvh;
		right: 4dvw;
		filter: blur(150px) brightness(0.45) opacity(0.55);
	}

	main.lan {
		.right {
			box-shadow: rgb(0, 0, 0) -20px 0px 120px -55px;
		}
	}
}
