main.lan {
  .left {
    flex: 1 1 68%;
    width: 68%;
    overflow: hidden;

    .form-input input {
      border: none;
      border-bottom: 1px solid var(--primary-color-300);
    }

    .table.table-lan {
      background-color: var(--primary-color);
      border-radius: var(--brd-radius);
      .rows {
        overflow: auto;
        max-height: calc(100cqh - 115px);
      }
    }

    .network-layout {
      display: flex;
      flex-direction: column;
      // height: calc(100vh - 120px);
      overflow-y: hidden;
    }
  }

  .right {
    // flex: 1 1 33%;
    // width: 33%;
    // box-shadow: rgba(0, 0, 0, 0.35) -20px 0px 70px -45px;
    // padding-inline: 10px;

    // .card {
    //   &.risk-chart {
    //     .content {
    //       flex-direction: column;
    //       row-gap: 2.5rem;

    //       .chart {
    //         min-width: 150px;
    //         max-width: 0%;
    //       }
    //     }
    //   }
    // }
  }
}

[data-theme='dark'] {
  .variant-1 {
    width: 23rem;
    top: -10dvh;
    right: 22dvw;
    filter: blur(120px) brightness(0.5) opacity(0.4);
  }

  .variant-2 {
    width: 15rem;
    bottom: 0;
    right: 4dvw;
    filter: blur(150px) brightness(0.45) opacity(0.55);
  }
}

@import './components/network-cards.scss';
@import './components/world-map.scss';
