.sidenav {
	background: #202a35;
	transition: width 0.5s ease, top 0.5s ease;
	position: fixed;
	z-index: 1;
	top: 1px;
	width: 0;
	height: 100vh;
	box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
	height: 765px;
}

.sidenav-open {
	width: 100%;
	bottom: 0;
}

.sidenav-expand-up {
	bottom: auto;
	top: 0;
}

.sidenav-content {
	overflow: hidden;
}

.sidenav-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.sidenav-menu {
	list-style: none;
	padding: 0;
	margin: 0;
}

.sidenav-link {
	display: flex;
	align-items: center;
	color: #f3f3f3;
	text-decoration: none;
	border-radius: 0.625rem;
	transition: all 0.3s ease;
	margin-bottom: 0.625rem;
	padding: 0.5rem;
}

.sidenav-link:hover {
	background-color: #fff;
	color: #000;
}

.sidenav-link-text {
	margin-left: 1.5rem;
}