.testing-cred {
  padding-inline: 2.5rem;
  min-width: 400px;
  column-gap: 3rem;

  .avatar {
    margin-block-end: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.75rem;
  }

  .info {
    column-gap: 2.5rem;
  }

  .text {
    row-gap: 0.5rem;

    &.columns {
      font-weight: bold;
    }
  }

  .extra-info-cred {
    cursor: pointer;
    user-select: none;
    width: fit-content;

    &.extra-info-disabled {
      opacity: 0.5;
      cursor: default;
      color: var(--secondary-color-100) !important;
    }
  }
}
