.testing-cred {
  padding-inline: 2.5rem;
  min-width: 400px;
  column-gap: 3rem;

  .avatar {
    margin-block-end: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 0.75rem;
  }

  .info {
    column-gap: 2.5rem;
    flex: 1 1;
  }

  .text {
    row-gap: 0.5rem;

    &.columns {
      font-weight: bold;
    }

    &.info-columns {
      flex: 1 1 100%;
    }

    .password-context {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
      align-content: center;
      text-align: center;

      .password-buttons {
        display: flex;
        gap: 8px;
      }

      button {
        border: none;
        outline: none;
        background-color: transparent;
      }
    }
  }

  .extra-info-cred {
    cursor: pointer;
    user-select: none;
    width: fit-content;

    &.extra-info-disabled {
      opacity: 0.5;
      cursor: default;
      color: var(--secondary-color-100) !important;
    }
  }
}
