@use '../../../../styles/settings/mixin' as mixin;

main.support {
	padding-inline-end: 0px;
	.left {
		width: 65%;
		@include mixin.respond(small) {
			width: 100%;
			padding-block-start: 10px;
		}
		.table {
			.id {
				display: flex;
				justify-content: center;
			}
			.item {
				.id {
					padding-inline-start: 1.25rem;
				}
			}
		}
	}
	.right {
		@include mixin.respond(small) {
			width: 100%;
		}
		width: 35%;
		display: flex;
		box-shadow: rgba(0, 0, 0, 0.35) -20px 0px 70px -45px;
		margin-inline-start: 10px;
	}
	@include mixin.respond(small){
		display: flex;
		flex-direction: column;
		padding-inline-start: 1px;
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 23rem;
		bottom: 30dvh;
		left: 5dvw;
		filter: blur(120px) brightness(0.5) opacity(0.4);
	}
	.variant-2 {
		width: 23rem;
		top: -10dvh;
		right: 4dvw;
		filter: blur(120px) brightness(0.5) opacity(0.38);
	}

	main.support {
		.right {
			box-shadow: rgb(0, 0, 0) -20px 0px 120px -55px;
		}
	}
}
