@use '../../../../styles/settings/mixin' as mixin;

main.social {
	padding-inline-start: 80px;
	height: 90dvh;
	min-height: auto;
	max-height: none;

	.left {
		.table {
			.item {
				height: 42px;
			}
			.role {
				justify-content: center;
				display: flex;
				text-align: center;
				div {
					justify-content: center;
				}
			}
		}
		@include mixin.respond(small) {
			padding-bottom: 10px;
			padding-block-start: 1px;
		}
	}

	.right {
		box-shadow: rgba(0, 0, 0, 0.35) -20px 0px 70px -45px;
		padding-inline-start: 50px;
		.filter {
			.label {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				column-gap: 0.75rem;
				padding-block: 0.75rem;
			}
		}
		@include mixin.respond(small) {
			padding-inline-start: 0;
		}
	}
	@include mixin.respond(small) {
		display: block;
		overflow: auto;
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 23rem;
		bottom: 30dvh;
		left: 5dvw;
		filter: blur(120px) brightness(0.5) opacity(0.4);
	}
	.variant-2 {
		width: 23rem;
		top: -10dvh;
		right: 4dvw;
		filter: blur(120px) brightness(0.5) opacity(0.38);
	}

	main.social {
		.right {
			box-shadow: rgb(0, 0, 0) -20px 0px 120px -55px;
			display: flex;
			flex-direction: column;
			row-gap: 2rem;
			.card {
				.header {
					background-color: var(--primary-color-600);
				}
			}
		}
	}
}
