main.source-code {
	&.actived {
		padding-inline-end: 0;
	}
	.left {
		flex: 1 1 68%;
		width: 68%;

		.table {
			.item {
				min-height: 46px;
			}

			.id {
				min-width: 7%;
				max-width: 7%;
				margin-inline-end: 1%;
				&.action {
					min-width: 17.5%;
					max-width: 17.5%;
					.publish {
						height: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}
			}
			.boolean {
				min-width: 9%;
				max-width: 9%;
				margin-inline-end: 1%;
			}
			.source-code {
				min-width: 10%;
				max-width: 10%;
				margin-inline-end: 1%;
			}
			.full-name {
				max-width: 21.5%;
				min-width: 21.5%;
				margin-inline-start: 0%;
				margin-inline-end: 1%;
			}
			.url {
				max-width: 29%;
				min-width: 29%;
				margin-inline-start: 0%;
				margin-inline-end: 2%;
				.publish {
					display: -webkit-box;
					-webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					-webkit-line-clamp: 2;
					line-height: 1.4em;
					max-height: 2.8em;
					white-space: normal;
					word-wrap: break-word;
				}
			}
		}
	}

	.right {
		// padding-inline: 10px;
		// padding-inline-end: 20px;

		// .card {
		// 	&.risk-chart {
		// 		.content {
		// 			flex-direction: column;
		// 			row-gap: 1.75rem;

		// 			.chart {
		// 				min-width: 106px;
		// 				max-width: 0%;
		// 			}
		// 		}
		// 	}
		// }
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 23rem;
		top: -10dvh;
		right: 22dvw;
		filter: blur(120px) brightness(0.5) opacity(0.4);
	}

	main.source-code {
		.right {
			box-shadow: rgb(0, 0, 0) -20px 0px 120px -55px;
		}
	}
}
