@use '../../../../styles/settings/mixin' as mixin;

main.source-code {
	&.actived {
		padding-inline-end: 0;
	}
	.left {
		flex: 1 1 68%;
		width: 68%;

		.table {
			.item {
				height: 42.5px;
			}

			.source-code {
				justify-content: center;
			}

			.id {
				display: flex;
				min-width: 50px;
				max-width: 85px;
			}
			.full-name {
				min-width: 175px;
				max-width: 350px;
			}
			.url {
				min-width: 230px;
				overflow: hidden;
				text-overflow: ellipsis;
				max-height: 42px;

				.publish {
					text-wrap: pretty;
					overflow: hidden;
					text-overflow: ellipsis;
					line-clamp: 2;
					-webkit-line-clamp: 2;
				}
			}

			.boolean {
				text-align: left;
				max-width: 65px;
				min-width: 65px;
				margin-inline-end: 4px;

				.publish {
					justify-content: flex-start;
					max-width: 65px;
				}
			}

			.action {
				justify-content: center;
				max-width: none;
				width: 100%;
				column-gap: 2px;
				cursor: pointer;
				max-width: 100px;

				span {
					height: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					padding-inline: 7px;
					transition: color 200ms ease;
					flex: 1 1;
					width: 50%;

					&:hover {
						color: var(--secondary-color) !important;
					}
				}
			}
		}

		@include mixin.respond(small) {
			width: 100%;
		}
	}

	.right {
		flex: 1 1 33%;
		width: 33%;
		padding-inline: 10px;
		padding-inline-end: 20px;

		.card {
			&.risk-chart {
				.content {
					flex-direction: column;
					row-gap: 1.75rem;

					.chart {
						min-width: 106px;
						max-width: 0%;
					}
				}
			}

			&.only-info {
				.content {
					.info {
						p {
							line-height: 1.5;
						}
						a {
							text-decoration-line: underline;
							cursor: pointer;
							outline: none;
						}
					}
				}
			}
		}

		@include mixin.respond(small) {
			width: 100%;
		}
	}

	@include mixin.respond(small) {
		display: block;
		padding-inline-start: 10px;
		height: 81dvh;
		min-height: auto;

		.left {
			padding-block-start: 25px;
		}
		.card {
			overflow: auto;
		}
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 23rem;
		top: -10dvh;
		right: 22dvw;
		filter: blur(120px) brightness(0.5) opacity(0.4);
	}

	main.source-code {
		.right {
			box-shadow: rgb(0, 0, 0) -20px 0px 120px -55px;
		}
	}
}
