main.source-code {
	.left {
		flex: 1 1 68%;
		width: 68%;
		.table {
			.item {
				height: 42px;
			}
			.source-code {
				justify-content: center;
			}
			.id {
				display: flex;
			}
		}
	}

	.right {
		flex: 1 1 33%;
		width: 33%;

		.card.risk-chart .content .chart {
			min-width: 60px;
		}
	}
}
