.modal-wrapper .modal.modal-transfer {
  min-width: 600px;

  .step-header {
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    background: var(--option-header-bg);
    padding-inline: 38px;
    padding-block-start: 2rem;
    padding-block-end: 0.25rem;
    gap: 10px;

    h3 {
      font-size: 18px;
      font-weight: 400;
      white-space: break-spaces;
      color: var(--option-header-title);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      text-overflow: ellipsis;
    }

    h2 {
      text-align: center;
      width: 100%;
    }

    b {
      margin-inline-end: 5px;
    }

    span {
      color: var(--option-header-span);
    }
  }
}

.step-content {
  --show-border-color: var(--tertiary-color-50);
  flex: 1;
  padding: 20px 0;
  overflow-y: auto;
  // max-height: calc(100vh - 50vh);

  .more-results {
    max-height: 370px;
    overflow-y: auto;
  }

  .hackers-profile-media {
    width: 68px;
    aspect-ratio: 1/1;
    filter: grayscale(1);
    opacity: 0.8;
    clip-path: circle(50% at 50% 50%);
    transition: all 0.11s ease-in;
  }

  .order-poiinter {
    cursor: pointer;
  }

  .order-snapshot {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    p {
      line-height: 1.5rem;
      padding-block-end: 0.35rem;
      max-width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      font-weight: 600;

      &.pentest-option {
        white-space: break-spaces;
      }

      .space {
        padding-inline-end: 5px;
      }
    }

    .one-pentest {
      color: var(--one-pentest-span);

      &.leading-text {
        line-height: 2rem;
      }
    }
  }

  .option {
    display: flex;
    align-items: center;
    column-gap: 2.5rem;
    padding-block: 1.25rem;
    padding-inline: 4.5rem;
    border-top: 1px solid var(--show-border-color);
    border-bottom: 1px solid #00000000;
    transition: all 0.13s ease-in;

    h2 {
      font-weight: 700;
      font-size: 16px;
      color: var(--secondary-color-50);
    }

    p,
    span {
      user-select: none;
    }

    .step-image {
      filter: grayscale(1);
      transition: all 0.11s ease-in;
      opacity: 0.7;
      width: 40px;
    }

    &:last-child {
      border-bottom: 1px solid var(--show-border-color);
    }

    .price-value {
      color: var(--tertiary-color-450);
      font-family: Roboto;
    }

    .alt-color {
      color: var(--secondary-color-300);
    }
  }

  .select-option {
    border-top: 1px solid #fe4e4e55;
    border-bottom: 1px solid #fe4e4e55;
    background-color: #ff131305;
    box-shadow: 0 0 8px #00000025;

    &:last-child {
      border-bottom: 1px solid #fe4e4e55;
    }

    & + .option {
      border-top: 1px solid #00000000;
    }

    .step-image {
      filter: grayscale(0);
      opacity: 1;
    }

    .hackers-profile-media {
      filter: grayscale(0);
      opacity: 1;
    }

    h5 {
      color: var(--secondary-color-200);
    }

    .price-value {
      color: var(--secondary-color-200);
      font-family: Roboto;
    }

    .alt-color {
      color: var(--secondary-color-200);
    }
  }
}

.button-wrapper {
  margin: 1rem;

  &.next-btns {
    display: flex;
    justify-content: flex-end;
    column-gap: 1rem;
  }

  button:disabled {
    opacity: 0.75;
    cursor: default !important;

    &:hover,
    &:focus {
      background-color: var(--secondary-color-50) !important;
      scale: 1;
      transform: scale(1);
    }
  }
}
