.table {
  width: 100%;
  border-collapse: collapse;
  transition-property: border-image, border;
  transition-duration: 325ms;
  transition-timing-function: linear;

  &.small {
    .columns-name {
      height: 30px;
    }

    .item {
      height: 30px;
    }
  }

  .columns-name {
    display: flex;
    height: 40px;
    align-items: center;
    font-family: Questrial;
    font-size: 14px;
    font-weight: 700;
    color: var(--tertiary-color-400);

    // padding: 0 20px;
    border-bottom: 1px solid var(--primary-color-300);
    transition-property: border-image, border;
    transition-duration: 325ms;
    transition-timing-function: linear;
    max-width: calc(var(--row-size-x) - var(--row-calc-x));

    border-image: -moz-linear-gradient(
      90deg,
      #ffffff4d 15%,
      var(--primary-color-300) 36%,
      var(--primary-color-400) 46%,
      var(--primary-color-400) 54%,
      var(--primary-color-300) 64%,
      #ffffff4d 85%
    );
    border-image: linear-gradient(
      90deg,
      #ffffff4d 15%,
      var(--primary-color-300) 36%,
      var(--primary-color-400) 46%,
      var(--primary-color-400) 54%,
      var(--primary-color-300) 64%,
      #ffffff4d 85%
    );
    border-image-slice: 1;
    border-block: 1px solid;
    user-select: none;

    .column {
      color: inherit;
      transition-property: color;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      transition-duration: 300ms;

      &:hover {
        color: #ef4444;
      }

      &:hover .sort.active {
        visibility: visible;
      }
    }

    div {
      flex: 1;
      cursor: pointer;
      letter-spacing: 0.4px;
      word-spacing: 1px;

      .sort {
        padding-inline-start: 5px;
        font-size: 15px;
      }

      .sort.active {
        visibility: hidden;
      }
    }

    .action {
      text-align: center;
    }
  }

  .rows {
    overflow-y: auto;

    a {
      outline: none;
    }
  }

  .item {
    display: flex;
    align-items: center;
    height: 40px;
    padding-inline: 20px;
    // padding-inline-end: 40px;
    border-bottom: 1px solid var(--primary-color-300);
    color: var(--tertiary-color-300);
    font-family: Questrial;
    font-size: 15px;

    div {
      flex: 1;
      height: 100%;
      display: flex;
      align-items: center;
    }

    &.left-marked {
      border-left: 6px solid var(--secondary-color-50);
      padding-left: 50px;
      background-color: var(--primary-color-200);
    }

    &.item-with-out-action {
      cursor: default !important;
    }

    // &:nth-of-type(odd) {
    //   background-color: #00000004;
    // }

    &:last-child {
      border-bottom: none;
    }

    .lined {
      position: relative;
      padding-left: 24px;

      .sub-domain-icon-v {
        width: 2px;
        background-color: var(--secondary-color-50);
        position: absolute;
        left: 0;
        height: calc(100% + 2px);
        top: 0;
        bottom: 0;

        &.sub-is-last {
          height: 50%;
        }
      }

      .sub-domain-icon-h {
        width: 20px;
        height: 2px;
        background-color: var(--secondary-color-50);
        position: absolute;
        top: 49%;
        left: 0;
      }

      .sub-resource-domain {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }

    .location {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &:hover {
      background-color: var(--primary-color-100);
    }

    &.item-disabled {
      opacity: 0.45;
      user-select: none;
      cursor: default;
    }
  }

  .id {
    flex: 1 0 50px !important;
    max-width: 80px;
  }

  .domain-name,
  .hostname {
    min-width: 35%;
    max-width: 610px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
  }

  .url {
    min-width: 240px;
    width: 240px;
    flex: 1 1 !important;
    margin-inline-end: 14px;
  }

  .ip,
  .os {
    width: 130px;
    flex: inherit !important;
  }

  .server-ip {
    width: 150px;
    flex: inherit !important;
  }

  .location {
    width: 170px;
    flex: inherit !important;
  }

  .date {
    width: 110px;
    flex: inherit !important;
  }

  .username {
    width: 110px;
    flex: inherit !important;
  }

  .vul-class {
    width: 100px;
    flex: inherit !important;
  }

  .source-code {
    width: 100px;
    flex: inherit !important;
  }

  .vul-risk {
    width: 110px;
    flex: inherit !important;
  }

  .vul-score {
    width: 85px;
    flex: inherit !important;

    .risk-score {
      margin-block-start: 0.5rem;
    }

    .space {
      margin-inline-end: 0.25rem;
    }

    .risk-score-helper {
      width: 0.5rem;
      height: 0.5rem;
      margin-inline-start: 0.125rem;
      margin-block-start: 0.5rem;
      border-radius: 100%;
    }
  }

  .vul-title {
    min-width: 100px;
    overflow: hidden;

    &.resource-icon {
      .publish {
        display: inline-flex;
        align-items: center !important;
        text-align: center;
        column-gap: 6px;

        svg {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  .vul-condition {
    max-width: 100px;

    &.with-icon {
      .publish {
        padding-inline: 9px;

        svg {
          width: 1.5rem;
          height: 1.5rem;

          &.open {
            color: oklch(70% 0.19 23.4);
          }

          &.verified {
            color: oklch(65% 0.14 246.14);
          }

          &.fixed {
            color: oklch(73% 0.21 144.11);
          }
        }
      }
    }
  }

  .trash {
    justify-content: center;
    max-width: 50px;

    svg,
    path {
      cursor: pointer;
    }
  }

  .risk {
    min-width: 90px;
    flex: inherit !important;
  }

  .status {
    min-width: 90px;
    flex: inherit !important;
  }

  .count {
    min-width: 80px;
    flex: inherit !important;
  }

  .percent {
    min-width: 80px;
    flex: inherit !important;
  }

  .boolean {
    min-width: 80px;
    flex: inherit !important;
  }

  .full-name {
    min-width: 13.5rem;
    flex: 1 1 !important;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre-wrap;
    text-wrap: pretty;
    max-width: 13.5rem;
  }

  .email {
    min-width: 280px;
    flex: inherit !important;
  }

  .phone {
    flex: 1 1 270px !important;
  }

  .role {
    min-width: 8.5rem;
    flex: inherit !important;
  }

  .province {
    min-width: 16.62rem;
    max-width: 16.62rem;
    flex: inherit !important;
    text-transform: lowercase;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 0.625rem;

    .province-container {
      max-width: 14.688rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .action {
    column-gap: 16px;
    justify-content: center;
    color: var(--tertiary-color-200);

    span {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-inline: 7px;
      transition: color 200ms ease;
      cursor: pointer;

      &:hover {
        color: var(--secondary-color-100);

        svg path {
          color: var(--secondary-color-100);
        }
      }

      &.off {
        opacity: 0.5;
        cursor: default;

        &:hover,
        &:hover svg,
        &:hover path {
          color: inherit;
        }
      }

      &.order-poll-active {
        cursor: pointer;
        color: var(--secondary-color-100);
      }

      &.order-poll-disabled {
        cursor: default;
        color: var(--tertiary-color-200);
        opacity: 0.5;

        &:hover,
        &:hover svg,
        &:hover path {
          color: var(--tertiary-color-200);
        }
      }
    }

    .issue-icon {
      min-width: 65px;

      &.disable {
        cursor: default;

        svg,
        path,
        .issue-count {
          cursor: default;
        }

        &:hover,
        &:focus {
          color: var(--tertiary-color-200);

          svg,
          svg path {
            color: var(--tertiary-color-200);
          }
        }
      }
    }

    .issue-count {
      font-size: 14px;
      font-weight: 700;
      padding-inline-start: 3px;
      padding-inline-end: 0;
      user-select: none;
      cursor: pointer;
      min-width: 18px;
      text-align: left;
    }

    .issue-printer {
      padding-inline-start: 8px;
      cursor: pointer;
    }
  }

  .score-value {
    margin-block-start: 0.5rem;
  }

  .dash-between-val-ball {
    margin-inline-end: 0.25rem;
  }

  .score-ball {
    width: 0.6rem;
    aspect-ratio: 1/1;
    border-radius: 100%;
    margin-block-start: 0.5rem;
    margin-inline: 0.12rem;
  }

  .confirmed {
    color: #65d52e;
  }

  .unconfirmed {
    color: var(--secondary-color-150);
  }
}

[data-theme='dark'] {
  .table {
    .columns-name {
      transition-property: color, border-image, border;
      transition-duration: 325ms;
      transition-timing-function: linear;
      color: var(--secondary-color);

      border-image: -moz-linear-gradient(
        90deg,
        #ffffff00 15%,
        #763642 36%,
        #c04552 46%,
        #b0424f 54%,
        #763642 64%,
        #ffffff00 85%
      );

      border-image: -webkit-linear-gradient(
        90deg,
        #ffffff00 15%,
        #763642 36%,
        #c04552 46%,
        #b0424f 54%,
        #763642 64%,
        #ffffff00 85%
      );
      border-image: linear-gradient(
        90deg,
        #ffffff00 15%,
        #763642 36%,
        #c04552 46%,
        #b0424f 54%,
        #763642 64%,
        #ffffff00 85%
      );
      border-image-slice: 1;
      border-block: 1px solid;
      border-radius: 20px;

      .column {
        &:hover {
          color: var(--secondary-color-300);
        }
      }
    }

    .item {
      border: none;

      &.left-marked {
        border-left: 6px solid var(--secondary-color-50);
        background: #18212b;
        background: -moz-linear-gradient(90deg, #18212b 18%, #161e28 42%, #131b24 67%);
        background: -webkit-linear-gradient(90deg, #18212b 18%, #161e28 42%, #131b24 67%);
        background: linear-gradient(90deg, #18212b 18%, #161e28 42%, #131b24 67%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18212b", endColorstr="#131b24", GradientType=1);
      }
    }
  }
}

.internal-tables {
  // border-top: 1px solid var(--primary-color-300);
  // border-right: 1px solid var(--primary-color-300);
  // border-left: 1px solid var(--primary-color-300);
  background-color: var(--primary-color-50);
}

.internal-tables-scroll {
  max-height: 75%;
  border-bottom: 1px solid var(--primary-color-300);
  overflow-y: scroll;

  &.full-height {
    max-height: 90%;
  }
}

.internal-tables div {
  background-color: var(--primary-color-50);
  border-bottom: 1px solid var(--primary-color-300);
  color: var(--tertiary-color-200);

  &:last-child {
    border-bottom: none;
  }
}

.disable-border div {
  border-bottom: 0 solid var(--primary-color-300);
}

.internal-tables-active {
  &:hover {
    background-color: var(--primary-color-50);
  }

  .select {
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
    text-align: left;
    font-weight: 700;
  }
}

.publish {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.previous-search {
  height: 100%;
  display: flex;
  flex: 1 1;
  flex-direction: column;

  .card {
    &.table {
      &.inx {
        max-height: 75dvh;
      }

      &.sns {
        max-height: 40dvh;
      }

      .columns-name {
        .column {
          font-size: 1rem /* 16px */;
          line-height: 1.5rem /* 24px */;
          width: 50%;
        }
      }

      .rows {
        max-height: 64dvh;
        overflow: auto;

        .item-wrapper {
          display: flex;
          padding-inline: 0.75rem;
          padding-block: 0.25rem;

          .search-item {
            display: flex;
            width: 100%;
            align-items: center;

            p {
              width: 35%;
            }

            .name {
              font-size: 1rem /* 16px */;
              line-height: 1.5rem /* 24px */;
            }
          }
        }
      }
    }
  }
}
