.table {
	&__title {
		&__header {
			display: flex;
			align-items: center;
			height: 40px;
			border-bottom: 1px solid var(--primary-color-400);
			padding: 0 20px;
			background-color: var(--primary-color-300);
			border-bottom: 1px solid var(--primary-color-400);
			color: var(--font-color);
			font-family: Roboto;
			font-size: 13px;
			line-height: 13px;
			text-transform: uppercase;
			font-weight: bold;

			&__title {
				display: flex;
				align-items: center;
				padding-right: 13px;

				.icon {
					color: var(--text-color-alt2);
					margin-right: 13px;
					font-size: 13px;
				}

				span {
					color: var(--text-color-alt);
				}
			}

			.actions {
				display: flex;
				align-items: center;
				border-left: 1px solid var(--header-lines-color);
				color: var(--text-color-alt2);

				> div {
					border-right: 1px solid var(--header-lines-color);
					padding: 0 13px;
				}
			}
		}
	}
}

table {
	width: 100%;
	color: var(--font-color);
	font-family: Questrial;
	font-size: 14px;
	text-indent: 0;
	border-color: inherit;
	border-collapse: collapse;

	thead {
		th {
			padding: 7px 20px;
			text-align: left;
			cursor: pointer;
		}
	}
	tbody {
		overflow-y: auto;
	}

	th {
		// border-bottom: 1px solid var(--primary-color-400);
		padding: 10px 20px;
		text-align: left;
	}
	td {
		border-top: 1px solid var(--primary-color-400);
		padding: 6px 20px;
	}
}

.row {
	overflow-y: auto;
}
