.box-collab-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: var(--brd-radius);

  .box-collab-info {
    h2 {
      display: flex;
      gap: 1rem;

      svg {
        color: red;
      }
    }

    ul {
      // align-self: flex-end;
      list-style: none;
      padding-left: 0;

      li {
        line-height: 1.8;
      }

      &:last-child {
        .link {
          color: var(--secondary-color);
          cursor: pointer;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .collaborators {
    align-items: flex-start !important;
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  background-color: #ff1100;
  color: white;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9rem bold;
}

.add-button:hover {
  background-color: #b30c00;
}
