.modal-wrapper {
	position: fixed;
	left: 0;
	top: 0;

	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 20;
	padding-block: 2.5rem;

	.wrapper-content {
		max-height: 100%;
		overflow-y: auto;
		max-height: 100%;

		&.max-w {
			max-width: 36rem;
		}
		> div {
			width: 100%;
		}
	}

	.form-buttons {
		display: flex;
		margin-block-start: 1.5rem;

		button {
			font-size: 0.875rem /* 14px */;
			letter-spacing: 0.025em;

			padding-block: 0.75rem;

			transition-property: color, background-color, border-color,
				text-decoration-color, fill, stroke;
			transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
			transition-duration: 300ms;
			transition: scale 125ms ease-in;

			&:focus {
				outline: none;
			}

			&.btn-cancel {
				border: 1px solid var(--primary-color-300);
				padding-inline: 1rem;
				margin-inline-end: 0.5rem;

				width: 50%;

				&:hover {
					scale: 1.05;
				}
			}

			&.btn-add {
				width: 50%;

				display: flex;
				flex-direction: row;
				align-items: center;
				column-gap: 0.5rem;

				padding-inline: 1.75rem;

				&:hover {
					scale: 1.05;
				}
			}
		}
	}

	&-title {
		width: 100%;

		.modal-helper-box {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			margin-inline: auto;
			padding: 0.75rem;

			@media only screen and (min-width: 640px) {
				& {
					max-width: 640px;
				}
			}
			@media only screen and (min-width: 768px) {
				& {
					max-width: 768px;
				}
			}
		}

		.modal-header {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			height: 2.5rem;
			padding: 0 1.25rem;
			background-color: var(--primary-color-200) !important;
			border-bottom: 1px solid var(--primary-color-300) !important;
			color: var(--tertiary-color-200) !important;
			font-family: 'Roboto';
			font-size: 0.75rem;
			line-height: 0.813rem;
			text-transform: uppercase;
			font-weight: bold;

			.icon {
				font-size: 1.125rem /* 18px */;
				line-height: 1.75rem /* 28px */;
				margin-inline-end: 0.5rem;
				background-color: inherit !important;
			}
			span {
				font-size: 0.875rem /* 14px */;
				line-height: 1.25rem /* 20px */;
			}
		}
	}
}

.modal {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-inline: auto;
	padding: 0.75rem;
	form {
		padding-block-start: 0.5rem;
		padding-block-end: 1.5rem;
		padding-inline: 1.5rem;

		.form-input {
			position: relative;
			display: flex;
			align-items: center;
			width: 24rem;

			.form-icon {
				position: absolute;

				div {
					width: 0.75rem;
					height: 0.75rem;
					margin-inline: 1rem;
				}
			}

			.text {
				margin-block-start: 1rem;
			}

			input,
			select {
				display: block;
				width: 100%;
				padding-block: 0.75rem;
				padding-inline: 2.75rem;

				&:focus {
					outline: none;
				}
				&:disabled {
					cursor: not-allowed;
				}
			}
		}
	}

	@media only screen and (min-width: 640px) {
		& {
			max-width: 640px;
		}
	}

	@media only screen and (min-width: 768px) {
		& {
			max-width: 768px;
		}
	}
}

.admin-modal {
	form {
		.form-input-text {
			position: relative;
			display: flex;
			align-items: center;
			width: 24rem;

			.form-icon {
				position: absolute;

				div {
					width: 0.75rem;
					height: 0.75rem;
					margin-inline: 1rem;
				}
			}

			input:focus + .form-icon {
				color: var(--input-outline-color);
			}

			input {
				display: block;
				width: 100%;

				background-color: var(--primary-color);
				border: 1px solid var(--primary-color-300);
				padding-block: 0.75rem;
				padding-inline: 2.75rem;

				&:focus {
					outline: none;
				}

				@media (prefers-color-scheme: dark) {
					& {
						color: rgba(209, 213, 219, 1);
					}
				}
			}
		}

		.form-input-checkbox {
			display: flex;
			align-items: center;
			margin-block-start: 1rem;

			input {
				width: 1.25rem;
				height: 1.25rem;
				padding: 2px;
			}

			label {
				margin-inline-start: 0.75rem;
				font-weight: 500;
				font-size: 0.875rem /* 14px */;
				line-height: 1.25rem /* 20px */;
			}
		}
	}
}

.subdomain-modal {
	form {
		display: flex;
		flex-direction: column;
		row-gap: 0.75rem;

		.form-input-text {
			position: relative;
			display: flex;
			align-items: center;
			width: 24rem;

			span {
				position: absolute;

				div {
					width: 0.75rem;
					height: 0.75rem;
					margin-inline: 1rem;
				}
			}
		}
	}
}

.error-wrapper {
	box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
	width: 40.3rem;
	overflow: hidden;
	background-color: var(--primary-color);
	display: flex;
	display: flex;
	flex-direction: column;

	padding-block: 1.25rem;
	font-family: roboto;

	.header-wrapper {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		column-gap: 2.5rem;
		color: var(--tertiary-color-700);
		font-size: 1.875rem /* 30px */;
		line-height: 2.25rem /* 36px */;
		text-transform: uppercase;
		margin-block: 2.5rem;

		h2 {
			font-weight: 700;
			color: var(--tertiary-color-700);
		}
	}

	.error-content {
		width: 100%;
		padding-inline: 2.75rem;
	}
	.error-buttons {
		display: flex;
		justify-content: space-evenly;
		flex: 1;
		margin-block-start: 2rem;
		padding-inline: 2.75rem;
	}
	.light-p {
		color: oklch(0.42 0 0 / 0.7);
		strong {
			color: var(--tertiary-color-700);
		}
	}

	p,
	li {
		line-height: 1.5rem /* 24px */;
		font-size: 14px;
		color: rgb(55 54 54);
	}

	.action-list {
		margin-block: 1.5rem;
		list-style-type: none;
		counter-reset: my-counter;
		display: flex;
		flex-direction: column;
		row-gap: 5px;

		li::before {
			content: counter(my-counter) ')';
			counter-increment: my-counter;
			margin-right: 5px;
		}
	}
	a {
		outline: none;
	}
	.apologies-p {
		margin-block: 1.5rem;
		border-block: 1px solid #b0b0b096;
		padding-block: 0.75rem;
		padding-inline: 2.75rem;
		font-family: 'Questrial';
	}
}
