.modal-wrapper {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 100;
  background-color: rgb(242 243 243 / 75%);
}

.modal-wrapper .modal {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-block: auto;
  opacity: 0;
  animation: modalAnimation 0.2s ease-in 0.05s forwards;
  min-width: 330px;
  background: #ffffff;
  box-shadow: 0 0px 20px rgba(0, 0, 0, 0.12);
  border-image-slice: 1;
  border-radius: var(--brd-radius);
  overflow: hidden;
  color: var(--tertiary-color-600);
  z-index: 120;

  &.report {
    margin-top: 20px;
  }

  &.med-w {
    width: 100%;
    max-width: 560px;

    @media only screen and (max-width: 600px) {
      min-width: 350px;
    }
  }

  &.med-max-w {
    width: 100%;
    max-width: 748px;
  }

  &.max-w {
    width: 100%;
    max-width: 860px;
  }

  .modal-close-btn {
    position: absolute;
    top: 12px;
    right: 20px;
    width: 24px;
    height: 24px;
    padding: 5px;
    cursor: pointer;
    z-index: 100;

    svg {
      color: black;
      width: inherit !important;
      height: inherit !important;
    }

    &:hover {
      svg {
        color: red;
      }
    }
  }

  &.title-wrapper {
    .modal-close-btn {
      top: 5px;
    }
  }

  .header {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
    padding: 0 20px;
    border-bottom: 1px solid var(--primary-color-300);
    color: var(--tertiary-color-400);
    font-family: Roboto;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    font-weight: bold;

    svg {
      font-size: 20px !important;
    }

    @media only screen and (max-width: 600px) {
      justify-content: center;
    }
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
    z-index: 50;

    @media only screen and (max-width: 600px) {
      display: grid;
    }

    @media only screen and (min-width: 640px) {
      & {
        max-width: 640px;
      }
    }

    @media only screen and (min-width: 768px) {
      & {
        max-width: 768px;
      }
    }
  }

  .form-input {
    .static-value {
      display: block;
      width: 100%;
      padding-block: 0.75rem;
      padding-inline: 2.75rem;
      cursor: pointer;
      font-size: 0.75rem /* 12px */;
      line-height: 1rem /* 16px */;
    }
  }
}

//   &-title {
//     width: 100%;

//     // .modal-helper-box {
//     //   width: 100%;
//     //   display: flex;
//     //   align-items: center;
//     //   justify-content: center;
//     //   margin-inline: auto;
//     //   padding: 0.75rem;

//     //   @media only screen and (min-width: 640px) {
//     //     & {
//     //       max-width: 640px;
//     //     }
//     //   }

//     //   @media only screen and (min-width: 768px) {
//     //     & {
//     //       max-width: 768px;
//     //     }
//     //   }
//     // }

//     .header {
//       display: flex;
//       align-items: center;
//       justify-content: flex-start;
//       height: 2.5rem;
//       padding: 0 1.25rem;
//       border-bottom: 1px solid var(--primary-color-300) !important;
//       color: var(--tertiary-color-200) !important;
//       font-family: 'Roboto';
//       font-size: 0.75rem;
//       line-height: 0.813rem;
//       text-transform: uppercase;
//       font-weight: bold;

//       .icon {
//         font-size: 1.125rem;
//         line-height: 1.75rem;
//         margin-inline-end: 0.5rem;
//         background-color: inherit !important;
//       }

//       span {
//         font-size: 0.875rem;
//         line-height: 1.25rem;
//       }
//     }
//   }

.admin-modal2 {
  form {
    .form-input-text {
      position: relative;
      display: flex;
      align-items: center;
      width: 24rem;

      .form-icon {
        position: absolute;

        div {
          width: 0.75rem;
          height: 0.75rem;
          margin-inline: 1rem;
        }
      }

      input:focus + .form-icon {
        color: var(--secondary-color-50);
      }

      input {
        display: block;
        width: 100%;
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color-300);
        padding-block: 0.75rem;
        padding-inline: 2.75rem;

        &:focus {
          outline: none;
        }
      }
    }

    .form-input-checkbox {
      display: flex;
      align-items: center;
      margin-block-start: 1rem;

      input {
        width: 1.25rem;
        height: 1.25rem;
        padding: 2px;
      }

      label {
        margin-inline-start: 0.75rem;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1.25rem;
      }
    }
  }
}

.modal.subdomain-modal2 {
  @media only screen and (max-width: 600px) {
    display: grid;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;

    .form-input-text {
      position: relative;
      display: flex;
      align-items: center;
      width: 24rem;

      span {
        position: absolute;

        div {
          width: 0.75rem;
          height: 0.75rem;
          margin-inline: 1rem;
        }
      }
    }
  }
}

.error-wrapper {
  box-shadow: 0 0 25px #0000001a;
  width: 40.3rem;
  overflow: hidden;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  padding-block: 1.25rem;
  font-family: roboto;

  @media only screen and (max-width: 600px) {
    width: 100%;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 2.5rem;
    color: var(--tertiary-color-700);
    font-size: 1.875rem;
    line-height: 2.25rem;
    text-transform: uppercase;
    margin-block: 2.5rem;

    h2 {
      font-weight: 700;
      color: var(--tertiary-color-700);
    }
  }

  .error-content {
    width: 100%;
    padding-inline: 2.75rem;
  }

  .error-buttons {
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    margin-block-start: 2rem;
    padding-inline: 2.75rem;
  }

  .light-p {
    color: var(--tertiary-color-300);

    strong {
      color: var(--tertiary-color-700);
    }
  }

  p,
  li {
    line-height: 1.5rem;
    font-size: 14px;
    color: #373636;
  }

  .action-list {
    margin-block: 1.5rem;
    list-style-type: none;
    counter-reset: my-counter;
    display: flex;
    flex-direction: column;
    row-gap: 5px;

    li::before {
      content: counter(my-counter) ')';
      counter-increment: my-counter;
      margin-right: 5px;
    }
  }

  a {
    outline: none;
  }

  .apologies-p {
    margin-block: 1.5rem;
    border-block: 1px solid #b0b0b096;
    padding-block: 0.75rem;
    padding-inline: 2.75rem;
    font-family: Questrial;
  }
}

.network-modal-container {
  width: 100%;
  margin-block-start: 1rem;

  .network-modal-content {
    width: 100%;
    padding-inline: 2rem;

    @media only screen and (min-width: 640px) {
      & {
        padding-inline: 1px;
      }
    }
  }
}

[data-theme='dark'] {
  .modal-wrapper {
    background-color: #00000066;
    backdrop-filter: blur(5px) saturate(0.5) contrast(1);

    .modal {
      background: rgb(18 18 18 / 85%);
      //background: #0d0f12cc;
      border: 1px solid #ffffff10;
      box-shadow: 0 2px 60px 20px #000000b3;

      input,
      select,
      textarea {
        background-color: rgb(35 35 35 / 28%);
        border-color: #ffffff10;

        &:focus {
          border-color: var(--secondary-color-50);
        }
      }

      .header {
        color: var(--tertiary-color-200);
      }

      button.btn {
        &.btn-black,
        &.btn-dark-black {
          background-color: var(--primary-color);
        }
      }
    }
  }

  .content {
    color: var(--tertiary-color-100);

    header {
      .title-format {
        color: var(--tertiary-color-400);
      }
    }
  }

  .error-wrapper {
    h2 {
      color: var(--tertiary-color-50);
    }

    .light-p {
      color: var(--tertiary-color-500);

      strong {
        color: var(--tertiary-color-300);
      }
    }

    p,
    li {
      color: var(--tertiary-color-500);
    }
  }

  .empty-content {
    .second-text {
      color: var(--tertiary-color-400);
    }
  }

  .modal-wrapper .modal .modal-close-btn {
    svg {
      color: var(--tertiary-color-50);

      &:hover {
        color: var(--secondary-color-50);
      }
    }
  }
}
