.updating-modal-overlay {
  background-color: rgb(0 0 0 / 20%);
}

.updating-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: rgb(0 0 0 / 70%) !important;
  border-radius: 5px !important;
  backdrop-filter: blur(3.5px);
  overflow: hidden;
  max-width: 45rem;
}

.updating-top-modal {
  padding-inline: 1.5rem;
  padding-block: 2rem;
  width: 100%;
}

.updating-mid-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border-block: 1px solid var(--secondary-color-150);
  padding-inline: 1.5rem;
  max-height: 150px;
}

.updating-mid-modal h2 {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.05em;
  color: var(--primary-color-300);
}

.updating-mid-modal p {
  font-size: 0.825rem;
  font-weight: 400;
  color: var(--tertiary-color-50);
}

.updating-mid-modal div {
  padding-block: 2rem;
}

.updating-mid-modal .updating-modal-vl {
  height: 100cqh;
  padding-block: 0;
  width: 1px;
  background-color: var(--secondary-color-150);
  max-height: 150px;
}

.updating-mid-modal-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}

.updating-bot-modal {
  display: flex;
  flex-direction: column;
  row-gap: 0.55rem;
  padding: 1.5rem;
  width: 100%;
}

.updating-bot-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--primary-color-300);
  letter-spacing: 0.05em;
}

.updating-bot-progress-bar {
  height: 0.25rem;
  width: 100%;
  background-color: #ffffff1a;
}

.updating-bot-progress-stick {
  height: 100%;
  background-color: var(--secondary-color-100);
  transition: all 0.3s ease-in-out;
}
