.navbar {
  position: fixed;
  width: 100%;
  max-width: var(--max-w-layout);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-inline-end: 20px;
  top: 7px;
  color: var(--primary-color-50);
  height: var(--nav-height);
  background: #ffffff;
  transition: background 125ms linear;
  z-index: 5;
  border-radius: var(--brd-radius);
  border: 1px solid #00000015;
  box-shadow: 0 1px 4px 0 #00000005;
  overflow: hidden;

  // opacity: 0;
  animation: fadeInFromTop 0.5s ease-in-out;

  @keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translateY(-13px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .left {
    display: flex;
    column-gap: 0;
    height: 100%;
    margin-left: 1vw;

    .navbar-logo {
      // margin-top: 10px;
      height: 100%;
      width: 50px;
      display: flex;
      margin-left: -15px;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      // background: #ff565e;
      // background: -moz-linear-gradient(150deg, #ff565e 10%, #fe3031 70%);
      // background: -webkit-linear-gradient(150deg, #ff565e 10%, #fe3031 70%);
      // background: linear-gradient(150deg, #ff565e 10%, #fe3031 70%);

      img {
        height: 27px;
      }

      span {
        cursor: pointer;
        transition-duration: 500ms;

        &.rotate-360 {
          transform: rotate(360deg);
        }
      }
    }

    .breadcrumb {
      color: var(--tertiary-color-500);
      text-transform: lowercase;
      font-weight: 600;
      text-align: center;
      display: flex;
      align-items: center;
      word-spacing: 3px;
      font-size: 14px;
      user-select: none;
      min-width: 200px;

      .sep {
        margin: 0 3px;
      }

      .go-home {
        transition: color 150ms linear;
        cursor: pointer;
        color: var(--secondary-color-200);
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -20px;

    .action {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      height: 100%;
      padding: 0 10px;
      border-left: 1px solid #dedede70;
      border-right: 1px solid #d9d9d970;
      background-color: #00000005;
      color: var(--tertiary-color-400);
      cursor: pointer;

      svg {
        width: 18px;
      }

      span {
        margin-left: 5px;
      }

      &:hover {
        color: var(--secondary-color-50);

        svg {
          text-shadow: 1px 1px 3px #000000;
        }
      }

      + .action {
        border-left: none;
      }

      &:last-child {
        border-right: none;
      }

      &.logout {
        svg {
          width: 14px;
        }
      }
    }
  }

  .right {
    display: flex;
    column-gap: 1rem;
    height: 100%;

    .change-theme {
      height: 100%;
      display: flex;
      align-items: center;

      svg {
        height: 18px;
      }
    }

    .user {
      display: flex;
      align-items: center;
      column-gap: 0.75rem;
      position: relative;
      cursor: default;

      .email {
        text-align: left;
        color: var(--tertiary-color-400);
        letter-spacing: 0.3px;
        font-weight: 500;
      }

      .profile {
        width: 2rem;
        display: inline-block;
        aspect-ratio: 1/1;
        background-color: #000;
        border-radius: 100%;
        user-select: none;
      }
    }

    .menu {
      position: absolute;
      top: 90%;
      right: 0%;
      width: 100%;
      height: 0;
      display: flex;
      flex-direction: column;
      padding-block: 20px;
      padding-inline: 15px;
      row-gap: 0.75rem;
      color: var(--tertiary-color-400);
      background-color: var(--primary-color-100);
      cursor: default;
      z-index: 6;
      box-shadow: 0 0 10px 0 #00000026;
      opacity: 0;
      overflow: hidden;
      transition-property: all;
      transition-duration: 100ms;
      transition-timing-function: linear;

      &.active {
        height: fit-content;
        opacity: 1;
      }

      .user {
        padding-block-end: 15px;
        border-block-end: 1px solid #5656567a;
        margin-inline: 0;
        width: 100%;
        max-width: 225px;
        -webkit-line-clamp: 2;
        white-space: pre-line;
        text-wrap: pretty;
        cursor: default;

        .profile {
          width: 2.5rem;
        }

        .username {
          max-height: 45px;
          max-width: 180px;
          text-wrap: pretty;
          overflow: hidden;
          text-overflow: ellipsis;
          cursor: text;
          -webkit-line-clamp: 2;
          -webkit-text-size-adjust: auto;
        }
      }

      .options {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5px;
        row-gap: 1rem;
        padding-inline-start: 5px;
        padding-inline-end: 10px;
        flex: 1 1;
        width: 100%;

        .option {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          column-gap: 1rem;
          transition-property: color, transform;
          transition-duration: 125ms;
          transition-timing-function: linear;
          width: 100%;
          font-size: 13px;

          .text-options {
            margin-inline-start: 0.25rem;
            flex: 1 1;
          }

          &:hover {
            color: var(--secondary-color-200);
          }
        }
      }
    }
  }
}

[data-theme='dark'] {
  .navbar {
    color: var(--tertiary-color-300);
    background: linear-gradient(
      120deg,
      #081019 0%,
      #141a21 24%,
      #202a35 47%,
      #19222c 73%,
      #161e28 100%
    );

    .breadcrumb {
      color: var(--tertiary-color-300);

      .go-home {
        color: var(--secondary-color-100);
        text-shadow: 1px 1px 0 #00000030;
      }
    }

    .actions .action {
      border-left: none;
      border-right: none;
      margin-left: 1px;
      background-color: #13141f68;

      &:hover {
        color: var(--secondary-color-50);
      }
    }

    .user {
      .email {
        // color: var(--tertiary-color-600);
      }
    }

    .menu {
      .options {
        .option {
          &:hover {
            color: var(--secondary-color-50);
          }
        }
      }
    }
  }
}
