.nav-response-container {
	display: flex;
	flex-flow: column nowrap;
}

.sidebav {
	position: absolute;
	bottom: 0;
	min-width: 100dvw;
	background-color: #1a1a1a;
	z-index: 99;

	.sideContent {
		display: flex;
		justify-content: space-around;
		align-items: center;
		cursor: pointer;
		min-height: 4rem;

		.sidenav-btns {
			display: flex;
			align-items: center;
			column-gap: 1.5rem;
		}

		.sidenav-logo {
			max-width: 40px;
		}

		.sidenav-cyan-color {
			color: rgb(236 254 255 / 1);
		}
	}
}

.rotate {
	cursor: pointer;
	transition-duration: 500ms;

	&.open {
		transform: rotate(180deg);
	}
}
