.radar-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-start: -1rem;
}

.radar-animation {
  position: absolute;
  inset: 0;
  border-radius: 100%;
  background-color: rgb(89 33 38 / 16%);
}

.radar-canvas {
  border-radius: 100%;
}
