.guide-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  background-color: #78797f4d;
}

.welcome-modal-container {
  --header-title-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  max-height: fit-content;

  .welcome-modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    width: 100%;
    column-gap: 10px;
    background: linear-gradient(90deg, #be1b1b 33%, #f02c2c 93%, #ff3a3a 100%);

    h2 {
      color: var(--header-title-color);
      font-weight: 500;
    }
  }

  .welcome-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    padding: 30px;
    gap: 30px;

    img {
      width: 90px;
      display: flex;
      align-self: flex-start;
    }

    #brand {
      min-width: 90px;
    }

    .welcome-info {
      display: flex;
      flex-direction: column;

      h3 {
        font-family: Questrial;
        text-transform: uppercase;
        color: var(--tertiary-color-600);
        margin-bottom: 5px;
      }

      p {
        line-height: 1.35rem;

        &.main-paragraph,
        &.take-guide {
          line-height: 1.5rem;
        }
      }

      .main-paragraph {
        color: var(--tertiary-color-400);
      }

      .take-guide {
        color: var(--tertiary-color-700);
        margin-block-start: 1.5rem;
      }

      ul {
        list-style: none;
        padding-inline: 0;
        display: flex;
        flex-direction: column;
        row-gap: 0.75rem;

        li {
          user-select: none;
          cursor: pointer;
          color: var(--secondary-color-100);
          border-bottom: 1px solid var(--secondary-color-100);
          width: fit-content;
        }
      }
    }
  }

  .welcome-btns {
    display: flex;
    column-gap: 14px;
    margin-block-start: auto;
    padding-inline: 1rem;
    padding-block-end: 1rem;
    justify-content: flex-end;
  }
}

.welcome-content.welcome-content-finish {
  overflow-y: auto;
  max-height: 90dvh;
  gap: 8px;
  padding: 1.5rem;

  img {
    width: 130px;
    margin-block-end: 0.5rem;
  }

  .scan-header-info {
    margin-bottom: 1rem;
    max-width: 550px;

    .scan-header-row {
      display: flex;
      justify-content: space-between;
      align-items: justify-content;
      margin-bottom: -40px;

      .scan-basic-info {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        flex: 1 1 70%;
        p {
          width: 100%;
          line-height: 1.2rem;
          strong {
            font-size: .9rem;
            color:#555555;
          }
        }
        b {
          color: var(--codefend-color-red);
        }
        .info-row {
          display: flex;
          gap: 2rem;
          font-size: 0.85rem;

          span {
            strong {
              color: var(--codefend-color-red);
              margin-right: 0.4rem;
              font-weight: 500;
            }
          }
        }

        .user-info {
          font-size: 0.85rem;
          strong {
            color: var(--codefend-color-red);
            margin-right: 0.4rem;
            font-weight: 500;
          }
        }
      }
      .progress-mini {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
        flex: 1 0 30%;
        transform: translateY(-40px);
        div {
          
          div {
            width: 110px !important;
            height: 110px !important;
          }
        }
        span {
          font-size: 1.2rem;
          color: var(--codefend-color-gray-2);
        }
      }
    }
  }

  .card.card-process {
    box-shadow:
      0 0 #0000,
      0 0 #0000,
      0 1px 2px 0 rgb(0 0 0 / 0.05);
    background-color: #f3f3f31f;
    border-color: hsl(240deg 5.9% 90% / 42%);
    border-width: 1px;
    border-style: solid;
    width: 580px;
    margin-bottom: 0;
    padding: 0.25rem 0;

    .card-process-header {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 0 5px 0;
      margin-bottom: 0;
      border-bottom: 1px solid #e0e0e0;
      position: relative;

      .card-process-header-title {
        display: flex;
        align-items: center;
        gap: 10px;

        h3 {
          font-weight: 600;
          font-size: 1rem;
          margin-left: -0.2rem;
          color: #1a1a1a;
        }
      }

      .process-badge > div {
        border-radius: var(--brd-radius);
        border-radius: 2px;
        padding: 6px;
        font-size: 11px;
        letter-spacing: 0.6px;
        pointer-events: none;
        cursor: default;
        font-family: satoshi;
        text-transform: uppercase;
        box-shadow: none;
        font-weight: normal;

        &[data-status='running'] {
          background-color: #d8e7ff;
          color: #12346b;
        }
        &[data-status='completed'] {
          background-color: #e8ffdf;
          color: #4cb922;
        }
        &[data-status='parser'] {
          background-color: #eb5757;
          color: #fff;
        }
      }

      .progress-container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 0.875rem;
        margin-block-start: -1rem;
        width: 200px;
        padding-right: 1rem;

        .progress-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          span {
            font-size: 0.75rem;
            color: var(--tertiary-color-400);
          }
        }
      }
    }

    .card-process-content {
      display: flex;
      flex-direction: column;
      padding-bottom: 0.5rem;

      .card-process-content-info {
        width: 100%;
        padding: 0.5rem var(--card-space);

        .card-process-content-info-container {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
          gap: 1rem;
          font-size: 0.875rem;
          font-weight: 500;
          color: var(--tertiary-color-400);

          .info-item {
            flex: 1 1 25%;
            min-width: 120px;
            padding: 0.35rem 0;
            position: relative;
            white-space: nowrap;
            text-align: center;

            &:first-child {
              text-align: left;
            }

            &:not(:last-child)::after {
              content: '';
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
              height: 70%;
              width: 1px;
              background-color: #e5e7eb;
            }

            span {
              display: block;
              margin-bottom: 0.35rem;
              color: #8f9299;
              font-size: 0.875rem;
            }

            b {
              color: #4a4b4f;
              display: block;
              font-family: 'Satoshi';
              font-size: 1rem;
              color: var(--tertiary-color-600);
              
              &.value-updated {
                animation: value-flash 1s ease-out;
              }
            }
          }
        }
      }

      .card-process-content-progress {
        width: 100%;
        padding: 0 var(--card-space);
        margin-top: 0.25rem;

        .progress-info {
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;

          span {
            font-size: 0.75rem;
            color: var(--tertiary-color-400);
            align-self: flex-end;
          }
        }
      }
    }

    &.card-process-target {
      background: rgb(243 243 243 / 61%);
      .over {
        position: relative;

        .card-process-header {
          padding-block: 0;
          border: none;
          .card-process-header-title {
            margin-block-start: 1rem;
          }
        }

        .progress-container {
          position: absolute;
          top: 8px;
          right: 12px;
          width: 80px;

          .progress-info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.5rem;

            span {
              font-size: 0.75rem;
              color: var(--tertiary-color-400);
            }
          }
        }
      }
    }
  }

  button.btn {
    margin-block-start: 0.25rem;
    width: 100%;
  }
}

@keyframes value-flash {
  0%, 50% {
    color: #16a34a; /* Green flash color */
    transform: scale(1.05);
  }
  100% {
    color: var(--tertiary-color-600);
    transform: scale(1);
  }
}

[data-theme='dark'] {
  .welcome-modal-container {
    --header-title-color: var(--tertiary-color-100);
  }
  .modal.welcome-modal-container {
    p {
      color: var(--tertiary-color-400);
    }
    .check-circle {
      background-color: #218044;
    }
    .finish-issues-found {
      .vul-box-complete {
        .value,
        span {
          color: #218044;
        }
      }
    }
  }
}

.target-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.35rem 1rem;
  width: 100%;

      .target-info-list {
      padding: 0;
      margin: 0;
      
      .target-info-row {
        display: flex;
        gap: 2rem;
        margin-bottom: 0.2rem;
      }

      .info-item {
        font-size: 0.85rem;
        line-height: 1.2;
        
        strong {
          margin-right: 0.5rem;
          color: var(--codefend-color-red);
          font-weight: 500;
        }

        &.user-info {
          margin-top: 0.2rem;
        }
      }
  }

  // .progress-mini {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   gap: 0.25rem;
  //   flex: .7;
    
  //   span {
  //     font-size: 0.8rem;
  //     color: var(--codefend-color-gray-2);
  //   }
  // }
}
