button {
  &.btn {
    &.scan-btn {
      p {
        cursor: pointer;
      }

      .scan-container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        background-color: transparent;

        .button-loader {
          border-color: rgb(0 0 0 / 25%) !important;
          border-left-color: transparent !important;
        }
      }
    }
  }
}
