@use '../../../styles/settings/mixin' as mixin;

.network-header {
	padding: 0.75rem;
	display: flex;

	&_title {
		text-align: left;
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.network-form {
	padding: 1rem;

	&_inputs {
		display: flex;
		flex-direction: column;

		&_edit {
			display: flex;
			align-items: center;
			width: 32rem;
			column-gap: 0.5rem;

			@include mixin.respond(small) {
				display: flex;
				max-width: 350px;
			}

			input {
				display: block;
				width: 100%;
				padding-block: 0.75rem;
				padding-inline: 0.5rem;

				&:focus {
					outline: none;
				}

				&.opacity {
					opacity: 0.45;
				}
			}

			.edit-btn {
				cursor: pointer;

				&_icon {
					width: 2rem;
					height: 2rem;
					cursor: pointer;
					transition: color 140ms ease;

					&.off {
						color: #afafaf;
					}

					&.on {
						color: #ff3939;
					}
				}
			}

			&_reset {
				text-decoration-line: underline;
				text-align: right;
				margin-inline-end: 0.5rem;
				margin-block-start: 1rem;
				cursor: pointer;
			}
		}
	}
}
