main.cloud {
	column-gap: 0.938rem;
	.left {
		overflow-y: auto;
		overflow-x: hidden;
		margin-bottom: -10px;
		margin-top: -10px;
		padding-top: 10px;
		padding-right: 13px;

		display: flex;
		flex-direction: column;
		// justify-content: flex-end;
		align-items: flex-end;

		.list {
			display: flex;
			flex-direction: column;
			row-gap: 0.938rem;
			width: 100%;
		}
	}
	.right {
	}
}
