main.cloud {
	.left {
		flex: 1 1 29%;
		width: 29%;
		overflow-y: auto;
		overflow-x: hidden;
		align-items: flex-end;

		.list {
			display: flex;
			flex-direction: column;
			row-gap: 0.938rem;
			width: 100%;
		}
	}
	.right {
		flex: 1 1 71%;
		width: 71%;
		.selected-content {
			display: flex;
			align-items: center;
			column-gap: 1rem;
			margin-block: 1rem;

			.selected-content-credentials {
			}
			.selected-content-tables {
				display: flex;
				flex: 1 1;
				flex-direction: column;
				width: 50%;
			}
		}

		section.card.table {
			flex: 1 1;
		}
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 17rem;
		top: 36dvh;
		left: 9dvw;
		filter: blur(150px) brightness(0.4) opacity(0.65);
		z-index: 5;
	}
	.variant-2 {
		width: 20rem;
		top: 18dvh;
		left: 7dvw;
		filter: blur(130px) brightness(0.35);
		z-index: 15;
		background: hsla(0, 0%, 100%, 0.56);
		height: 19rem;
	}

	.variant-3 {
		width: 19rem;
		top: 20dvh;
		right: 26dvw;
		filter: blur(140px) brightness(0.3);
		z-index: 20;
	}
}
