@use '../styles/settings/mixin' as mixin;

.card {
	overflow-x: hidden;
	border-width: 1px;
	border-style: solid;
	border-color: var(--primary-color-300);
	transition:
		color,
		background,
		border 500ms linear;
	width: 100%;
	background-color: var(--primary-color);
	border-radius: 3px;

	.header {
		height: 2.5rem;
		display: flex;
		align-items: center;
		font-family: 'Roboto';
		font-weight: bold;
		font-size: 13px;
		line-height: 13px;
		text-transform: uppercase;
		border-bottom: 1px solid var(--primary-color-300);
		background-position: var(--primary-color-200);
		color: var(--tertiary-color-200);
		background-color: #f8f8f8;
		padding-inline: 1.25rem;
		transition:
			color,
			background 275ms linear;

		.title {
			display: flex;
			align-items: center;
			padding-right: 0.813rem;

			.icon {
				color: var(--secondary-color-50);
				margin-right: 13px;
				font-size: 13px;
			}

			span {
				color: var(--tertiary-color-300);
			}
		}

		.actions {
			display: flex;
			align-items: center;
			border-left: 1px solid var(--tertiary-color-700);
			color: var(--secondary-color-50);

			div {
				border-right: 1px solid var(--tertiary-color-700);
				padding-inline: 0.813rem;
				cursor: pointer !important;
			}
		}
	}

	&.only-info {
		.content {
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 1.25rem;
			p {
				color: var(--tertiary-color-400);

				&.collab-info {
					line-height: 1.5;
				}
			}
			a.email-collab {
				text-decoration-line: underline;
				cursor: pointer;
				outline: none;
			}
		}
	}

	&.location-card {
		.rows {
			max-height: 18.5rem;
		}
	}

	&.risk-chart {
		.content {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			padding: 1.485rem;
			gap: 1dvw;

			.chart {
				flex-grow: 0.3;
				max-width: 15%;
				min-width: 170px;

				canvas {
					width: 100% !important;
					height: 100% !important;
				}
			}

			.table {
				flex-grow: 0.7;
				// max-width: 70%;

				.rows .item {
					&:hover {
						color: var(--secondary-color-200);
					}
				}
			}
			@include mixin.respond(large) {
				flex-direction: column;
			}
		}
	}

	&.stats {
		.content {
			display: flex;
			justify-content: space-around;
			align-items: center;

			.content-stat {
				width: 100%;
			}

			.stat {
				font-family: 'Roboto', sans-serif;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				text-transform: uppercase;
				padding-block: 1.2485rem;
				color: var(--tertiary-color-600);
				border-right-width: 1px;
				border-right-style: solid;
				border-right-color: var(--primary-color-300);

				flex: 1 1;
				min-height: 5.938rem;
				max-height: 5.938rem;
				row-gap: 0.25rem;

				&.active {
					color: var(--secondary-color-200);
				}
				&:hover {
					.value,
					p {
						animation: agrandar-y-volver 0.1s;
						color: var(--secondary-color-200);
						text-shadow: 0px 0px 4px rgb(217 26 26 / 20%);
					}
				}

				.value {
					font-weight: 700;
					font-size: 32px;
					line-height: 32px;
					color: var(--tertiary-color-300);

					text-align: center;

					span {
						color: var(--tertiary-color-50);
					}
				}

				p {
					font-size: clamp(11px, 10dvw, 12px);
					font-weight: bold;
					color: var(--tertiary-color-200);
					margin: 0;
					text-wrap: wrap;
					-webkit-line-clamp: 2;
					padding-inline: 0.625rem;
					text-align: center;
				}

				&:last-child {
					border-right: none;
				}
			}
		}
	}

	&.filtered {
		.filters {
			display: flex;
			flex-direction: column;
			padding-block: 0;
			padding-inline: 1.25rem;
			color: var(--tertiary-color-200);

			.filter {
				display: flex;
				align-items: center;
				justify-content: space-between;
				border-bottom-width: 1px;
				border-bottom-style: solid;
				border-bottom-color: var(--primary-color-300);
				width: 100%;
				justify-content: space-between;
				.value {
					display: flex;
					align-items: center;
					justify-content: space-between;
					column-gap: 0.438rem;

					.icon-color {
						color: rgb(96 165 250 / 1);
					}
				}

				&:last-child {
					border-bottom: none;
				}

				&:hover {
					color: var(--secondary-color-50);
				}
			}
		}
	}

	&.messages {
		width: 100%;
		overflow: hidden;
		height: 92dvh;
		display: flex;
		flex-direction: column;

		&.active {
			opacity: 0.7;
			z-index: 10;
			pointer-events: none;
		}

		.content {
			display: flex;
			justify-content: space-around;
			align-items: center;
			overflow-y: auto;
			height: 60dvh;

			.messages-wrapper {
				width: 100%;
				height: 60dvh;
				color: var(--tertiary-color-400);

				span {
					color: var(--tertiary-color-200);
				}

				.tt {
					border-bottom: 1px solid var(--primary-color-300);
				}
			}
		}

		.sender {
			.header {
				justify-content: space-between;
				margin-inline-end: -1.5rem;

				button {
					height: 100%;
				}
			}

			.chatbox-container {
				display: flex;
				height: 9rem;
				column-gap: 2.25rem;
				padding: 1.5rem;

				.chatbox-img {
					display: flex;
					height: 2.5rem;
					width: 2.5rem;
				}

				.chatbox-content {
					flex: 1 1;

					textarea {
						color: var(--tertiary-color-400);
						width: 100%;
						height: 100%;
						outline: none;
						background-color: transparent;
						resize: none;

						&:focus {
							outline: none;
						}
					}
				}
			}
		}
	}

	// + .card {
	// 	margin-block-start: 14px;
	// }
}

.app-card {
	display: flex;
	flex-direction: column;
	padding-inline-start: 1.25rem;
	padding-block-end: 1.25rem;
	pointer-events: none;
	font-size: 0.75rem;
	line-height: 1rem;
	border-radius: 0.625rem;
	transition: border 200ms ease-in;
	padding: 2rem;

	&-border {
		border: 1px solid oklch(0.82 0 0);

		&.active {
			border: 1px solid var(--secondary-color-100);
		}
	}

	&.detail {
		padding-block-start: 1.25rem;
	}

	.text-gray {
		color: var(--tertiary-color-300);
	}

	&-content {
		display: flex;
		align-items: center;
		column-gap: 1.25rem;

		&-img {
			width: 6.149rem;
			min-width: 6.149rem;
			height: 100%;
			min-height: 100%;
			background-color: rgba(128, 128, 128, 0.05);
			transition: all 600ms linear;

			img {
				object-fit: cover;
				object-position: center;
				aspect-ratio: 1/1;
				height: 100%;
				border-radius: 0.313rem;
				user-select: none;
				transition: all 600ms linear;
			}
		}

		&-body {
			display: flex;
			flex-direction: column;
			flex: 1 1;
			text-overflow: ellipsis;
			overflow: hidden;
			overflow-wrap: break-word;

			.app-card-title {
				display: flex;
				align-items: center;
				column-gap: 0.25rem;
				font-weight: 700;
				text-transform: uppercase;

				h3 {
					font-weight: 700;
					text-transform: uppercase;
					border: 0px;
				}

				.card {
					color: var(--tertiary-color-700);
				}

				.detail {
					color: var(--tertiary-color-500);
				}
			}

			.app-details {
				display: flex;
				flex-direction: column;
				margin-block-start: 1.25rem;
				row-gap: 0.25rem;

				&-description {
					max-height: 3rem;
					overflow: hidden;
					font-size: 14px;
					line-height: 1.5rem;
					margin: 0;
					text-wrap: pretty;

					&.isMobile,
					&.notMobile {
						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
					}

					&.isDetail {
						-webkit-line-clamp: 3;
						line-height: 21px;
						max-height: 4rem;
						text-overflow: ellipsis;
						margin-block-end: 0.75rem;
					}
				}

				.reviews {
					display: flex;
					align-items: center;
					column-gap: 0.25rem;
				}
			}
		}

		.second-text {
			padding-inline-start: 1rem;
			border-left: 1px solid var(--tertiary-color-700);
		}
	}
}

.empty-card {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	max-height: 100dvh;

	.empty-container {
		display: flex;
		align-items: center;
		width: 35.25rem;
		height: 6.56rem;
		margin-block: 1.8rem;
	}

	.empty-wrapper {
		display: flex;
		align-items: center;
		flex-grow: 1;
		column-gap: 1.25rem;
		padding: 0 1.75rem;

		.empty-content {
			display: flex;
			flex-direction: column;
			row-gap: 0.5rem;

			.first-text {
				color: var(--secondary-color-200);
				font-weight: 800;
				margin: 0;
			}

			.second-text {
				color: var(--tertiary-color-200);
				display: inline-block;
				font-size: 0.91rem;

				a {
					margin-inline-start: 5px;
				}
			}
		}

		img {
			width: 5rem;
			height: 5rem;
		}
	}
}

.empty-screen {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.empty-container {
		.empty-card-wrapper {
			display: flex;
			align-items: center;
			flex-grow: 1;
			flex-direction: column;
			row-gap: 1.5rem;
			padding: 0 1.75rem;

			.header {
				display: flex;
				flex-direction: column;
				align-items: center;
				column-gap: 0.25rem;

				.first-text {
					text-align: center;
					font-size: 1.5rem;
					line-height: 2rem;
					color: var(--secondary-color-200);
					font-weight: 800;
				}

				.second-text {
					display: inline-block;
					text-align: center;
					font-size: 1.125rem;
					line-height: 1.75rem;
					color: var(--tertiary-color-200);
				}
			}

			.button {
				width: 40%;

				button {
					width: 100%;
				}
			}
		}
	}
}

.app-card-wrapper {
	display: flex;
	justify-content: space-between;
	padding-inline-end: 1.25rem;
	border-radius: 0.313rem;

	&.notMobile {
		column-gap: 7rem;
	}

	.content {
		&.isMobile {
			max-width: 85%;
		}
	}

	button {
		text-transform: uppercase;
		margin-block-start: 1.25rem;
	}

	.app-card {
		.app-card-content-img {
			width: 9.149rem;
		}
	}
}

.testing-cred {
	border-bottom: 1px solid var(--primary-color-300);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-block: 1.25rem;
	padding-inline: 1.5rem;
	column-gap: 2.688rem;
	font-size: 14px;
	color: var(--tertiary-color-200);

	.avatar img {
		height: 3.125rem;
	}

	.info {
		display: flex;
		column-gap: 0.625rem;

		.icons {
			display: flex;
			flex-direction: column;
			justify-content: space-around;

			.svg {
				color: var(--tertiary-color-50);
			}
		}

		.text {
			display: flex;
			flex-direction: column;
		}
	}

	&.hide-border {
		border-bottom-color: transparent;
	}
}

.message-card {
	display: flex;
	flex-direction: column;

	.message-card-title {
		padding-block-start: 1rem;
		padding-inline-end: 0.75rem;
		padding-inline: 1rem;
	}

	.message-card-container {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		column-gap: 2rem;
		padding: 1.5rem;
	}

	.message-card-content {
		border-radius: 100%;
		// width: 100%;
		min-width: 2.185rem;

		img {
			width: 2.5rem /* */;
			aspect-ratio: 1/1;
		}
	}
}

[data-theme='dark'] {
	.app-card {
		&-border {
			border: none;
			border-bottom: 1px solid transparent;
			border-left: 1px solid transparent;
		}

		&.active {
			border: 1px solid var(--secondary-color-100);
			border-radius: 0.625rem;
		}

		&-content {
			.app-card-title {
				.card {
					color: var(--tertiary-color-50);
				}

				.detail {
					color: var(--tertiary-color-50);
				}
			}
			.reviews {
				div {
					position: relative;
					width: 4.688rem;

					img {
						position: absolute;
						top: -10px;
						left: 0;
					}
				}
			}
			&-img {
				width: 6.149rem;
			}
		}

		.app-delete-btn {
			border-radius: 5% 30% 0% 100%/0% 40% 100% 100%;
			background-color: var(--primary-color-100);

			border-top-color: var(--primary-color-100);
			border-right-color: var(--primary-color-100);
			border-width: 1px;
			border-bottom: 0px;
			border-left: 0px;

			&:hover {
				background-color: var(--primary-color-200);
				border-top-color: var(--primary-color-200);
				border-right-color: var(--primary-color-200);
			}

			&:active {
				background-color: var(--primary-color-300);
				border-top-color: var(--primary-color-300);
				border-right-color: var(--primary-color-300);
			}
		}
	}
	.app-card-wrapper {
		background: var(--primary-color-300);
		border-radius: 0.625rem;
		.app-details {
			span,
			.reviews {
				display: none;
			}
		}
	}

	.left .card {
		border: 1px solid #00000025;
		transition:
			color,
			background,
			border 500ms linear;
	}

	.card {
		border: 1px solid transparent;
		background: rgba(18, 26, 35, 0.3);
		backdrop-filter: blur(9px) saturate(0.8) contrast(1);
		.header {
			border: none;
			transition:
				color,
				background 275ms linear;
			background: #0d141b59;
		}

		&.stats {
			.content {
				column-gap: 0px;
				justify-content: flex-start;
				padding: 0px;
				.stat {
					border-right: 1px solid !important;
					border-left: 1px solid !important;
					border-image: linear-gradient(
						180deg,
						rgba(255, 255, 255, 0) 15%,
						rgb(17, 21, 28) 36%,
						rgb(17, 25, 53) 46%,
						rgb(13, 30, 61) 54%,
						rgb(18, 22, 31) 64%,
						rgba(255, 255, 255, 0) 85%
					);
					border-image-slice: 24;
					outline: none;
					background-color: var(--primary-color-300);

					background-image: linear-gradient(
							#444df70b 0.4px,
							transparent 0.4px
						),
						linear-gradient(to right, #444df719 0.4px, #e5e5f700 0.4px);
					&.active {
						.value,
						p {
							color: var(--secondary-color-200);
						}
					}
					&:first-child {
						border-top-left-radius: 0.313rem;
						border-bottom-left-radius: 0.313rem;
					}
					&:last-child {
						border-top-right-radius: 0.313rem;
						border-bottom-right-radius: 0.313rem;
					}
					.value {
						color: var(--tertiary-color-400);
					}
				}
			}
		}
		&.messages {
			.content {
				.messages-wrapper {
					span {
					}

					.tt {
						border-bottom: 1px solid var(--primary-color-300);
					}
				}
			}

			.sender {
				.header {
					justify-content: space-between;
					margin-inline-end: -1.5rem;

					button {
						height: 100%;
					}
				}

				textarea {
					color: var(--tertiary-color-400);
				}
			}
		}
	}
}
