@forward 'settings/settings.scss';

///////////////////////////////////////////////////////////////////
// UTIL
//////////////////////////////////////////////////////////////////
.bg-codefend {
	background-color: var(--bkg-codefend);
	color: var(--color-codefend);
}

.title-format {
	font-family: Roboto, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: var(--color-codefend);
	color: var(--font-color);
	color: #000;
}

.red-border {
	border-left: 6px solid var(--bkg-codefend) !important;
}

.border-bottom {
	border-bottom: 1px solid var(--color-border) !important;
}

.sub-domain-icon-v {
	display: inline-block;
	width: 0.125rem /* 2px */;
	height: 100%;
	background-color: var(--bkg-codefend);
}
.sub-domain-icon-h {
	display: inline-block;
	width: 0.125rem /* 2px */;
	height: 0.125rem /* 2px */;
	align-self: center;
	margin-inline-end: 0;

	background-color: var(--bkg-codefend);
}

.codefend-text-red {
	color: var(--bkg-codefend) !important;
}

.text-white {
	color: var(--main-black) !important;
}

.text-gray {
	color: var(--color-icon) !important;
}

.disable-border div {
	border-bottom: 0px solid var(--color-border);
}
.codefend-border-red {
	border: 1px solid var(--bkg-codefend);
}
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

.text-fend-red {
	color: var(--text-color-fend-red) !important;
}

.tox-textarea {
	height: 500px !important;
}

.flex {
	display: flex;
}

///////////////////////////////////////////////////////////////////
// DEFAULT SIZE PANEL
//////////////////////////////////////////////////////////////////
main.dashboard,
main.company,
main.lan,
main.social,
main.issues-list,
main.source-code,
main.preferences,
main.sb {
	.left {
		width: 70%;
	}
	.right {
		width: 30%;
	}
}

main.preferences {
	.left {
		.table {
			.rows {
				max-height: 36vh;
				overflow-y: auto;
			}
		}
	}
}
main.mobile,
main.cloud {
	flex: 1 1;
	.left {
		flex: 1 1 31%;
		width: 31%;
		margin-block: -0.625rem;

		padding-block-start: 0.625rem;
		padding-block-end: 4rem;
		padding-inline-end: 0.813rem;

		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		max-height: 100dvh;

		.list {
			display: flex;
			flex-direction: column;
			row-gap: 0.938rem;
			width: 100%;
			overflow-y: auto;
			overflow-x: hidden;

			.app-info {
				cursor: pointer;
			}
		}

		.add-button {
			display: flex;
			width: 100%;

			button {
				width: 100%;
				margin-block-end: 1rem;
			}
		}
	}
	.right {
		flex: 1 1 69%;
		width: 69%;

		.card.risk-chart .content {
			padding-inline-end: 10px;

			.chart {
				min-width: 60px;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////
// SEARCH BAR
///////////////////////////////////////////////////////////////////
.search-bar-container {
	margin: 0.625rem;
}

.search-bar {
	display: flex;
	justify-content: flex-start;
	height: 43px;
	margin-bottom: 10px;

	&-wrapper {
		width: 100%;

		.only-btn {
			flex: 1 1 93%;
		}

		.with-select {
			flex: 1 1 78%;
		}

		&-form {
			width: 100%;
			display: flex;
			height: 100%;

			margin-block-end: 1rem;

			.search-input {
				display: flex;
				padding-inline: 1.5rem;
				width: 100%;
				height: 100%;
				background-color: var(--input-background);
				color: var(--input-font-color) !important;
				border: 1px solid var(--color-border);
				font-size: 0.95rem;
				letter-spacing: 0.2px;
				cursor: text;
			}

			.search-select {
				flex: 1 1 15%;
				border: 1px solid var(--color-border);
				height: 100%;

				display: flex;
				font-size: 1rem /* 14px */;
				line-height: 1.25rem /* 20px */;
				padding: 0.625rem /* 10px */;
			}

			.search-button {
				flex: 1 1 7%;
				height: 100%;
				border-start-start-radius: 0px;
				border-end-start-radius: 0px;
				display: flex;
				align-items: center;
				justify-content: center;
				border: none;
				padding: 0px;
			}
		}
	}
}

///////////////////////////////////////////////////////////////////
// editor tiny
//////////////////////////////////////////////////////////////////
.tox-tinymce {
	border-radius: 0%;
}
.tox-sidebar-wrap {
	// max-height: calc(100vh - 260px);
}
.tox-editor-header {
	display: none !important;

	&.editable {
		display: grid !important;
	}
}
//////////////////////////////////////////////////////////////////
// MASSONRY
//////////////////////////////////////////////////////////////////
/* Style your items */
.my-masonry-grid_column > div {
	/* change div to reference your elements you put in <Masonry> */
	background: transparent;
	margin-bottom: 30px;
}
