@forward 'settings/settings';

///////////////////////////////////////////////////////////////////
// UTIL
//////////////////////////////////////////////////////////////////
.bg-codefend {
  background-color: var(--secondary-color-50);
  color: var(--primary-color-100);
}

.block {
  display: block;
}

.border-stat {
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-color-300);
}

.underline-high {
  text-decoration-line: underline;
}

.bg-transparent {
  background-color: transparent !important;
}

.title-format {
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--tertiary-color-700);
}

.red-border {
  border-left: 10px solid var(--secondary-color-50);
}

.sub-domain-icon-v {
  display: inline-block;
  width: 0.125rem /* 2px */;
  height: 100%;
  background-color: var(--secondary-color-50);
}

.no-border {
  border: none !important;
}

.sub-domain-icon-h {
  display: inline-block;
  width: 0.125rem /* 2px */;
  height: 0.125rem /* 2px */;
  align-self: center;
  margin-inline-end: 0;
  background-color: var(--secondary-color-50);
}

.codefend-text-red {
  color: var(--secondary-color-50) !important;
}

.codefend-text-red-200 {
  color: var(--secondary-color-200) !important;
}

.text-white {
  color: var(--primary-color-200) !important;
}

.text-gray {
  color: var(--tertiary-color-100) !important;
}

.disable-border div {
  border-bottom: 0 solid var(--primary-color-300);
}

.codefend-border-red {
  border: 1px solid var(--secondary-color-50);
}

[class^='modal _welcome'] {
  max-height: 750px !important;
  // min-height: 700px;
  height: 90dvh;
  overflow-y: auto !important;
  max-width: 470px;
  padding: 2.5rem;
  padding-top: 30px;
}
.welcome-content {
  // min-height: 50dvh;
  height: 100%;
  // max-height: 700px;
  // overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .logose {
    margin-bottom: 30px;
  }
  &.ojo {
    height: 100%;
    justify-content: flex-start;
  }
  .table {
    // overflow-y: scroll;
    // max-height: 330px;
    // padding-bottom: 100px;
    // min-height: 330px;
    .columns-name {
      padding: 0 !important;
      display: none;
    }
    .item {
      padding: 0;
    }
    .item-domain-cell {
      min-width: 60%;
    }
    .item-cell-4 {
      max-width: 10%;
      pre {
        display: none;
      }
    }
  }
  .btn-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    background-image: linear-gradient(to bottom, rgb(255 255 255), rgb(255 255 255 / 50%));
    position: sticky;
    bottom: 0;
    margin-left: -2.5rem;
    margin-right: -2.5rem;
    transform: translateY(2.5rem);
    padding: 1rem 2.5rem 2.5rem;
    margin-top: auto;
    margin-bottom: 0px;
  }
}

.flex {
  display: flex;
}

.grid-2x2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 2rem;
}

.flex-box {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.flex-box-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.checkbox-container {
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.rating-content {
  display: flex;
  position: relative;
}

.bolder {
  font-weight: 700;
}

.link {
  cursor: pointer;
}

[dir='rtl'] {
  .text-right {
    text-align: left;
    justify-content: flex-start !important;
  }
}

.plain-list {
  list-style: none;
}

.text-right {
  text-align: right;
  justify-content: flex-end !important;
}

[data-theme='light'] {
  .brightness {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

#flashlight {
  width: 100%;
  height: 100%;
}

.network-btn {
  position: absolute;
  top: 2%;
  right: 1.5%;
  width: -moz-fit-content;
  width: fit-content;
  aspect-ratio: 1/1;
  background-color: #d9d9d963;
  border-radius: 100%;
  padding: 6px;
  color: #39393985;
  transition-property: color, background-color;
  transition-duration: 125ms;
  transition-timing-function: linear;
  cursor: pointer;
  user-select: none;
  z-index: 100;

  &:hover {
    background-color: #c5c5c5a3;
    color: #393939b3;
  }
}

.no-pointers {
  pointer-events: none;
  cursor: default;
}

.app-card-disabled {
  opacity: 0.5;
  cursor: default;
}

///////////////////////////////////////////////////////////////////
// DEFAULT SIZE PANEL
//////////////////////////////////////////////////////////////////
// .sidebar.is-open + main {
//   // opacity: 0.8;

//   .left .app-card-content-img {
//     opacity: 0.4;
//   }
// }

// .sidebar + main {
//   transition: 100ms ease 0ms !important;

//   .left .app-card-content-img {
//     transition: 100ms ease 0ms !important;
//   }
// }

main {
  width: 100%;
  height: 100dvh;

  // max-height: calc(100dvh - var(--nav-height));
  max-height: calc(100dvh - 10px);

  display: flex;
  justify-content: space-between;
  column-gap: var(--card-space);

  opacity: 0;
  padding-inline-start: calc(var(--sidebar-width) + 12px);

  // padding-block-start: 3dvw;

  // margin-block-start: calc(18px + var(--nav-height));

  // transition-delay: 70ms;
  // transition-property: padding-block-start, opacity, background, color;
  // transition-duration: 400ms;
  // transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);

  overflow-y: hidden;
  overflow-x: hidden;

  @media only screen and (min-width: 1880px) {
    // margin-inline: auto;
  }

  .left {
    flex: 1 1 70%;
    overflow-x: auto;

    // padding-block-start: 3dvw;
    // padding: 0 5px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    // row-gap: var(--card-space);

    transition-delay: 40ms;
    transition-property: padding-block-start, opacity, background, color;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }

  .right {
    flex: 1 1 38%;

    // padding: 0 12px;
    // height: 100%;

    // padding-block-start: 3dvw;
    // box-shadow: var(--right-pane-shadow);
    display: flex;
    flex-direction: column;
    row-gap: var(--card-space);
    overflow-y: auto;

    transition-delay: 90ms;
    transition-property: padding-block-start, opacity, background, color;
    transition-duration: 400ms;
    transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);
  }

  &.actived {
    opacity: 1;

    // padding-block-start: 0;

    .left {
      // padding-block-start: 65px;
      padding-block-start: 0;
      margin-block-start: calc(18px + var(--nav-height));
    }

    .right {
      padding-block-start: 0;
      margin-block-start: calc(18px + var(--nav-height));
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    flex: 1 1 90%;
    row-gap: 0.938rem;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    .app-info {
      cursor: pointer;
      height: fit-content;

      &.app-card-disabled {
        opacity: 0.5;
        cursor: default;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// DASHBOARD
//////////////////////////////////////////////////////////////////

main.dashboard {
  .left {
    // margin-block-end: 1.25rem;

    .card {
      .content {
        padding: 0;
      }
    }

    .table {
      .vul-title {
        min-width: 48%;
        max-width: 48%;
      }

      .vul-class,
      .username,
      .vul-score,
      .date {
        min-width: 13%;
        max-width: 13%;
      }
    }
  }

  .table {
    .issue-name-cell {
      gap: 1rem;
    }
  }

  @media only screen and (max-width: 1480px) {
    .right {
      .card {
        &.risk-chart {
          .content {
            .chart {
              flex: 1 1 100%;
              min-width: 105px;
              max-width: 0%;
            }
          }
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// PREFERENCES PANEL
//////////////////////////////////////////////////////////////////
main.preferences {
  .left {
    .table {
      .rows {
        overflow-y: auto;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    display: block;
    min-height: auto;
    height: 81dvh;

    .left {
      overflow-x: auto;
      padding-block-start: 10px;
    }

    .right {
      padding-block-start: 20px;
    }
  }
}

///////////////////////////////////////////////////////////////////
// MOBILE CLOUD PANEL
//////////////////////////////////////////////////////////////////
main.mobile,
main.cloud {
  flex: 1 1;
  padding-inline-end: 0;
  height: 100dvh;
  overflow: hidden;

  .left {
    flex: 1 1 31%;
    width: 31%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 100dvh;

    .card {
      overflow: hidden;
      width: 100%;
      margin-block-start: 0.5rem;
      margin-block-end: 0.25rem;
      border: 0;
    }

    .search-app {
      width: 100%;
      margin-block-end: 0.75rem;
      margin-block-start: 0.5rem;
      border-radius: 3px;
      padding-inline-start: 1rem;
      padding-inline-end: 1.35rem;
      padding-block: 1.25rem;
      font-size: 14px;
      flex: 1 1 5%;
    }

    .mobile-card-delete {
      position: fixed;
      left: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
    }

    .add-button {
      display: flex;
      width: 100%;

      button {
        width: 100%;
        margin-block-end: 1rem;
      }
    }
  }

  .right {
    flex: 1 1 69%;
    width: 69%;
    scrollbar-width: none;
    overflow-y: auto;
    overflow-x: hidden;
    padding-inline-end: 10px;
    min-height: 100dvh;
    max-height: 0%;
    height: auto;
    scrollbar-gutter: stable;

    &::-moz-scrollbar {
      width: 0;
      display: none;
    }

    &::-webkit-scrollbar {
      width: 0;
      display: none;
    }

    .selected-content {
      display: flex;
      align-items: flex-start;
      column-gap: 1rem;

      .selected-content-credentials {
        height: 100%;
        flex: 1 1 100%;
        width: 50%;

        .card {
          &.user-list {
            height: 100%;

            .list {
              display: flex;
              flex-direction: column;
              height: 90%;

              .empty-card {
                margin-block: auto;
              }
            }
          }
        }
      }

      .selected-content-tables {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        flex: 0.5 0.5 49%;
        width: 49%;
        gap: 1rem;

        .card.stats {
          .content {
            .stat {
              background: transparent;
            }
          }
        }
      }
    }

    .quick-action {
      width: 24rem;

      .modal-header {
        span {
          font-size: 0.875rem /* 14px */;
          line-height: 1.25rem /* 20px */;
        }
      }

      .helper-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        padding: 0.75rem;

        @media only screen and (min-width: 640px) {
          & {
            max-width: 640px;
          }
        }

        @media only screen and (min-width: 768px) {
          & {
            max-width: 768px;
          }
        }
      }
    }

    .app-card {
      .actions {
        display: flex;
        align-items: center;
        border-left: 1px solid var(--tertiary-color-700);
        color: var(--secondary-color-50);

        div {
          border-right: 1px solid var(--tertiary-color-700);
          padding: 0 11px;
          letter-spacing: 1px;
          font-size: 13.5px;
          cursor: pointer !important;
          user-select: none;
          pointer-events: auto;
          transition: color 150ms ease;

          &:hover {
            color: var(--secondary-color-300);
          }

          &.disable-report-action {
            cursor: default !important;
            opacity: 0.5;

            &:hover {
              color: inherit;
            }
          }
        }
      }
    }

    .card.risk-chart .content {
      padding-inline-end: 10px;
    }
  }
}

///////////////////////
// WELCOME CONTAINER
//////////////////////////////////

.welcome-container {
  --container-bg: var(--primary-color-100);
  --header-title-color: var(--tertiary-color-500);
  width: 700px;
  max-height: 90vh;

  border-radius: 0.15rem;
  background-color: var(--container-bg);

  z-index: 120;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  --one-pentest-span: var(--tertiary-color-300);
  --show-border-color: var(--tertiary-color-50);
  --option-header-bg: var(--secondary-color-200);
  --option-header-title: var(--primary-color-50);
  --option-header-span: var(--primary-color-200);

  .order-plan-loader-title {
    width: 100%;
    text-align: center;
    margin-block-end: 1.5rem;
    background-color: var(--secondary-color-100);
    color: var(--primary-color-100);
    padding-block: 1rem;
  }

  .welcome-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    .welcome-header-title {
      display: flex;
      column-gap: 12px;
      align-items: center;
      padding: 15px 35px 20px;
      width: 100%;

      img {
        height: 28px;
        margin-top: 5px;
      }

      h2 {
        font-family: Roboto, Verdana, sans-serif;
        color: var(--header-title-color);
        font-size: 26px;
        font-weight: 700;
        text-transform: uppercase;
        line-height: 18px;
        flex: 1;

        span {
          font-size: 14px;
          display: block;
          opacity: 0.5;
        }
      }
    }
  }

  .welcome-content {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    min-height: 400px;

    .step-header {
      font-size: 14px;
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 100%;
      background: var(--option-header-bg);
      padding: 20px 38px;
      gap: 10px;

      .number {
        color: var(--option-header-title);
        background: var(--secondary-color-300);
        border-radius: 50%;
        min-width: 25px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        font-family: Roboto;
      }

      h3 {
        font-size: 18px;
        font-weight: 400;
        white-space: break-spaces;
        color: var(--option-header-title);

        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        text-overflow: ellipsis;
      }

      h2 {
        text-align: center;
        width: 100%;
      }

      b {
        margin-inline-end: 5px;
      }

      span {
        color: var(--option-header-span);
      }
    }

    .resource-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 90%;
      margin-inline: auto;
      margin-block-end: 2rem;
      width: 100%;

      h3.sub-title {
        margin-inline-start: 10px;
        margin-block-start: 1rem;
        color: #343434;
      }

      button.load-resource-btn {
        padding-inline: 2.5rem;
      }
    }

    .step-content {
      flex: 1;
      padding: 20px 0;
      overflow-y: auto;
      max-height: calc(100vh - 50vh);

      h4 {
        font-weight: 700;
        font-size: 1.35rem;
        min-width: 72px;
      }

      h5 {
        font-size: 1rem;
        line-height: 1.25rem;
      }

      .welcome-main-info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 2rem;
        margin-inline-start: 4.5rem;
        margin-inline-end: 3rem;

        svg {
          width: 5rem;
          height: 5rem;
          color: var(--secondary-color-100);
        }

        .welcome-main-text {
          display: flex;
          flex-direction: column;
          row-gap: 1rem;

          p {
            line-height: 23px;
            color: #7b7777;
          }
        }
      }

      &.web-welcome {
        display: flex;
        flex-direction: column;

        .form {
          max-width: 73%;
          margin-inline-start: auto;
          margin-inline-end: 2rem;
          margin-block-start: auto;

          .button-wrapper.next-btns {
            margin-block-start: 2.75rem;
            margin-inline: 0;
            max-width: none;
            width: 100%;
          }
        }
      }

      &.select-resource-welcome {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
        margin-block-end: 2rem;

        .welcome-resource {
          --color-title: var(--tertiary-color-500);
          --color-resource: var(--tertiary-color-450);
          --color-resource-hover: var(--tertiary-color-500);

          height: 130px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          cursor: pointer;
          transition: all 120ms ease;
          color: var(--color-title);
          border: 1px solid var(--color-resource);
          padding-block-start: 2rem;

          svg {
            width: 40px;
            height: 40px;
          }

          .caption-card {
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            text-align: center;
            row-gap: 0.25rem;
            transition: all 200ms ease;
            user-select: none;
            color: var(--color-resource);
            width: 100%;
            padding-block: 9px;

            h4 {
              transition: color 190ms ease;
              font-size: 15px;
              font-weight: 700;
            }
          }

          &:hover {
            border-color: var(--secondary-color-100);

            svg {
              color: var(--secondary-color-100);
            }

            .caption-card {
              h4 {
                color: var(--secondary-color-100);
              }
            }
          }

          &.resource-selected {
            background: #fff6f6;
            border-color: var(--secondary-color-50);

            svg {
              color: var(--secondary-color-50);
            }

            .caption-card {
              background-color: var(--secondary-color-50);
              color: #fff;
              border: none;
            }

            &:hover {
              border-color: var(--secondary-color-50);

              svg {
                color: var(--secondary-color-50);
              }

              .caption-card {
                h4 {
                  color: inherit;
                }
              }
            }
          }

          &.full-disable {
            opacity: 0.65;
            cursor: default;

            &:hover {
              border-color: inherit;

              svg {
                color: inherit;
              }

              .caption-card {
                h4 {
                  color: inherit;
                }
              }
            }
          }
        }
      }
    }

    .button-wrapper {
      margin: 1rem;

      &.next-btns {
        display: flex;
        justify-content: flex-end;
        column-gap: 1rem;
      }

      .secondary-container {
        width: 25%;
      }

      .primary-container {
        width: 33.333333%;
      }

      &.form-buttons {
        button.btn-secondary {
          width: 25%;

          &:hover {
            scale: 1;
          }
        }

        button.btn-primary {
          width: 40%;

          &:hover {
            scale: 1;
          }
        }
      }
    }
  }

  .welcome-btns {
    display: flex;
    column-gap: 14px;
    margin-block-start: auto;
    padding-inline: 1rem;
    padding-block-end: 1rem;
    justify-content: flex-end;
  }
}

///////////////////////////////////////////////////////////////////
// SEARCH BAR
///////////////////////////////////////////////////////////////////
.search-bar-container {
  margin: 0.625rem;
}

.search-bar {
  display: flex;
  justify-content: flex-start;
  height: 43px;
  margin-bottom: 10px;

  &-wrapper {
    width: 100%;

    .only-btn {
      flex: 1 1 93%;
    }

    .with-select {
      flex: 1 1 78%;
    }

    &-form {
      width: 100%;
      display: flex;
      height: 100%;

      margin-block-end: 1rem;

      .search-input {
        display: flex;
        padding-inline: 1.5rem;
        width: 100%;
        height: 100%;
        background-color: var(--primary-color);
        color: var(--tertiary-color-500) !important;
        border: 1px solid var(--primary-color-300);
        font-size: 0.95rem;
        letter-spacing: 0.2px;
        cursor: text;
      }

      .search-select {
        flex: 1 1 15%;
        border: 1px solid var(--primary-color-300);
        height: 100%;
        display: flex;
        font-size: 1rem /* 14px */;
        line-height: 1.25rem /* 20px */;
        padding: 0.625rem /* 10px */;
      }

      .search-button {
        flex: 1 1 7%;
        height: 100%;
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        padding: 0;
      }
    }
  }
}

///////////////////////////////////////////////////////////////////
// editor tiny
//////////////////////////////////////////////////////////////////
.tox-tinymce {
  border-radius: 0;

  & .tox-edit-area,
  & .tox-edit-area iframe {
    max-height: calc(100dvh - 160px);
  }
}

.tox-editor-header {
  display: none !important;

  &.editable {
    display: grid !important;
  }
}

//////////////////////////////////////////////////////////////////
// MASSONRY
//////////////////////////////////////////////////////////////////
.my-masonry-grid_column > div {
  background: transparent;
  margin-bottom: 30px;
}

//////////////////////////////////////////////////////////////////
// Error Boundry
//////////////////////////////////////////////////////////////////
.error-boundry {
  width: 100%;
  min-height: 100dvh;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1;
  justify-content: center;
  align-items: center;
  row-gap: 10rem;
  padding-block: 4rem;
  z-index: 1;

  header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;

    .error-boundry-title {
      width: fit-content;
      font-size: 3.875rem;
      line-height: 4.25rem;
      font-weight: 700;
      font-family: Questrial;
      text-align: center;
      text-wrap: balance;
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--tertiary-color-600);
    }

    .error-boundry-text {
      width: fit-content;
      font-size: 1.25rem;
      line-height: 1.5rem;
      font-weight: 400;
      font-family: Questrial;
      text-align: center;
      text-wrap: balance;
      text-overflow: ellipsis;
      overflow: hidden;
      color: var(--tertiary-color-300);
    }
  }
}

.card.risk-chart {
  .content {
    .table {
      .columns-name {
        justify-content: center;
      }

      .rows {
        .item {
          justify-content: center;
        }
      }
    }
  }
}

//////////////////////////////////////////////////////////////////
// KEY FRAMES
//////////////////////////////////////////////////////////////////
.vibrate {
  animation: vibrate 550ms linear both;
}

@keyframes scanMove {
  0% {
    transform: translateY(-25px);
  }

  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(-25px);
  }
}

@keyframes pulse {
  50% {
    opacity: 0.5;
  }
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, 2px);
  }

  80% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes agrandar-y-volver {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.1);
  }
}

@keyframes enter {
  to {
    transform: scale(0);
    opacity: 0;
    filter: blur(12px);
  }

  from {
    transform: scale(1);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes enter {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes float {
  0% {
    transform: rotate(0deg) translate(100px) rotate(0deg);
  }

  100% {
    transform: rotate(360deg) translate(100px) rotate(-360deg);
  }
}

@keyframes dot-pulse {
  0%,
  100% {
    transform: scale(0);
    opacity: 0.5;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes orbit-spin {
  0% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }

  5% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.684208);
    opacity: 0.58;
  }

  10% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.631576);
    opacity: 0.51;
  }

  15% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.578944);
    opacity: 0.44;
  }

  20% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.526312);
    opacity: 0.37;
  }

  25% {
    transform: translate(0%) scale(0.47368);
    opacity: 0.3;
  }

  30% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.526312);
    opacity: 0.37;
  }

  35% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.578944);
    opacity: 0.44;
  }

  40% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.631576);
    opacity: 0.51;
  }

  45% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.684208);
    opacity: 0.58;
  }

  50% {
    transform: translate(calc(var(--uib-size) * -0.5)) scale(0.73684);
    opacity: 0.65;
  }

  55% {
    transform: translate(calc(var(--uib-size) * -0.4)) scale(0.789472);
    opacity: 0.72;
  }

  60% {
    transform: translate(calc(var(--uib-size) * -0.3)) scale(0.842104);
    opacity: 0.79;
  }

  65% {
    transform: translate(calc(var(--uib-size) * -0.2)) scale(0.894736);
    opacity: 0.86;
  }

  70% {
    transform: translate(calc(var(--uib-size) * -0.1)) scale(0.947368);
    opacity: 0.93;
  }

  75% {
    transform: translate(0%) scale(1);
    opacity: 1;
  }

  80% {
    transform: translate(calc(var(--uib-size) * 0.1)) scale(0.947368);
    opacity: 0.93;
  }

  85% {
    transform: translate(calc(var(--uib-size) * 0.2)) scale(0.894736);
    opacity: 0.86;
  }

  90% {
    transform: translate(calc(var(--uib-size) * 0.3)) scale(0.842104);
    opacity: 0.79;
  }

  95% {
    transform: translate(calc(var(--uib-size) * 0.4)) scale(0.789472);
    opacity: 0.72;
  }

  100% {
    transform: translate(calc(var(--uib-size) * 0.5)) scale(0.73684);
    opacity: 0.65;
  }
}

@keyframes simple-spinner {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes spin-rotation {
  to {
    transform: rotate(0deg);
  }

  from {
    transform: rotate(360deg);
  }
}

@keyframes radar81 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes pulse-scale {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.075);
    opacity: 0.7;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes ping {
  0% {
    transform: scale(0.8);
    opacity: 0.8;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes glow {
  0%,
  100% {
    opacity: 0.5;
    filter: brightness(1) blur(3px);
  }

  50% {
    opacity: 0.8;
    filter: brightness(1.3) blur(5px);
  }
}

@keyframes pulse-glow {
  0%,
  100% {
    transform: scale(1);
    opacity: 0.4;
  }

  50% {
    transform: scale(1.1);
    opacity: 0.6;
  }
}

@keyframes strike {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    color: var(--text-color-dash);
  }
}

@keyframes no-strike {
  from {
    width: 100%;
    color: var(--text-color-dash);
  }

  to {
    width: 0%;
    color: var(--text-colors);
  }
}

@keyframes overlayAnimation {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalAnimation {
  from {
    opacity: 0;
    transform: translateY(5%);
  }

  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

//////////////////////////////////////////////////////////////////
// DARK MODE
//////////////////////////////////////////////////////////////////
[data-theme='dark'] {
  main {
    .variant-1 {
      width: 16rem;
      top: 4dvh;
      right: 31dvw;
      filter: blur(100px) brightness(0.5) opacity(0.45);
    }

    .variant-2 {
      width: 16rem;
      top: 20dvh;
      right: 2dvw;
      filter: blur(115px) brightness(0.5);
    }

    .right {
      padding-left: 14px;
      background: #121a234d !important;
      backdrop-filter: blur(9px) saturate(0.8) contrast(1) !important;
      box-shadow: #000 -20px 0 120px -55px;
      border-image-slice: 1;
      background-image: linear-gradient(#444df719 0.4px, transparent 0.4px),
        linear-gradient(to right, #444df719 0.4px, #e5e5f700 0.4px);
      background-size: 8px 8px;
    }
  }

  main.mobile,
  main.cloud {
    .left {
      .list {
        .app-info {
          border-radius: 10px;
          background: var(--primary-color-250);

          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            background: var(--primary-color-500);
            background: -moz-linear-gradient(
              90deg,
              var(--primary-color-400) 11%,
              var(--primary-color-500) 73%
            );
            background: -webkit-linear-gradient(
              90deg,
              var(--primary-color-400) 11%,
              var(--primary-color-500) 73%
            );
            background: linear-gradient(
              90deg,
              var(--primary-color-400) 11%,
              var(--primary-color-500) 73%
            );
          }

          .app-card-pt {
            padding-block-start: 1.25rem;
          }
        }
      }
    }

    .right {
      .card {
        .content {
          .chart {
            flex: 1 1;
            margin-inline: auto;
          }
        }
      }
    }
  }

  .network-btn {
    background-color: #333f4d78;
    color: #ffffff61;

    &:hover {
      background-color: #3b4a5b94;
      color: #ffffff82;
    }
  }

  .error-boundry {
    header {
      .error-boundry-title {
        color: var(--tertiary-color-50);
      }

      .error-boundry-text {
        color: var(--tertiary-color-100);
      }
    }
  }

  .brightness {
    width: auto;
    aspect-ratio: 1/1;
    position: absolute;
    border-radius: 100%;
    pointer-events: none;
    user-select: none;
    z-index: 0;

    background: radial-gradient(circle, #ffffff6e 7%, #ffffff94 100%);
    opacity: 1;
    visibility: visible;

    transition-property: opacity, visible;
    transition-duration: 400ms;
    transition-timing-function: linear;
  }

  .welcome-container {
    --container-bg: var(--primary-color-50);
    --header-title-color: var(--tertiary-color-400);
    --one-pentest-span: #9b9a9a;
    --show-border-color: var(--primary-color-500);

    border-color: var(--primary-color-400);

    .welcome-header {
      .steps {
        --default-color: #344251;
        --completed-color: #0f1822;
        --current-color: #242f3b;

        .step {
          p {
            color: var(--tertiary-color-200);
          }

          &.current {
            p {
              color: var(--tertiary-color-50);
            }
          }
        }
      }
    }

    .step-header {
      h3 {
        color: var(--tertiary-color-100);
      }

      span {
        color: var(--tertiary-color-500);
      }
    }

    .scope-content {
      .select-option {
        border-color: var(--primary-color-600);
        background-color: #293542;
      }
    }

    .report-type-card {
      --color-title: var(--tertiary-color-50);
      --color-resource: var(--tertiary-color-400);
      --color-resource-hover: var(--tertiary-color-200);
    }
  }
}

//////////////////////////////////////////////////////////////////
// RESPONSIVE
//////////////////////////////////////////////////////////////////

// @media only screen and (min-width: 1200px) {
//   main {
//     padding-inline-start: calc(var(--sidebar-width) + 1rem);

//     .left {
//       padding: 0;
//     }

//     .right {
//       // padding: 0 0 0 0.5rem;
//     }
//   }
// }
