@use './settings/mixin' as media;

.load-resource {
	max-width: none;
	.welcome-container {
		width: 800px;
	}
}
.welcome-container {
	width: 700px;
	max-height: 90vh;

	border-radius: 0.15rem;
	background-color: var(--primary-color-100);

	z-index: 120;

	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	--one-pentest-span: var(--tertiary-color-300);
	--show-border-color: var(--tertiary-color-50);
	--option-header-bg: var(--secondary-color-200);
	--option-header-title: var(--primary-color-50);
	--option-header-span: var(--primary-color-200);

	.order-plan-loader-title {
		width: 100%;
		text-align: center;
		margin-block-end: 1.5rem;
		background-color: var(--secondary-color-100);
		color: var(--primary-color-100);
		padding-block: 1rem;
	}

	.welcome-header {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;

		.welcome-header-title {
			display: flex;
			column-gap: 12px;
			align-items: center;
			padding: 15px 35px 20px 35px;
			width: 100%;

			img {
				height: 28px;
				margin-top: 5px;
			}

			h2 {
				font-family: Roboto, Verdana, sans-serif;
				color: var(--tertiary-color-500);
				font-size: 26px;
				font-weight: 700;
				text-transform: uppercase;
				line-height: 18px;
				flex: 1;

				span {
					font-size: 14px;
					display: block;
					opacity: 0.5;
				}
			}
		}
	}

	.welcome-content {
		display: flex;
		flex-direction: column;
		flex: 1 1 100%;
		min-height: 400px;

		.step-header {
			font-size: 14px;
			display: flex;
			align-items: center;
			width: 100%;
			max-width: 100%;
			background: var(--option-header-bg);
			padding: 20px 38px;
			gap: 10px;

			.number {
				color: var(--option-header-title);
				background: var(--secondary-color-300);
				border-radius: 50%;
				min-width: 25px;
				height: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				font-weight: 700;
				font-size: 16px;
				font-family: Roboto;
			}

			h3 {
				font-size: 18px;
				// line-height: 16px;
				font-weight: 400;
				white-space: break-spaces;
				color: var(--option-header-title);

				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				text-overflow: ellipsis;
			}
			h2 {
				text-align: center;
				width: 100%;
			}
			b {
				margin-inline-end: 5px;
			}
			span {
				color: var(--option-header-span);
			}
		}

		.resource-container {
			display: flex;
			flex-direction: column;
			justify-content: center;
			max-width: 90%;
			margin-inline: auto;
			margin-block-end: 2rem;
			width: 100%;

			h3.sub-title {
				margin-inline-start: 10px;
				margin-block-start: 1rem;
				color: #343434;
			}
			button.load-resource-btn {
				margin-inline-start: auto;
				padding-inline: 2.5rem;
			}
		}
		.step-content {
			flex: 1;
			padding: 20px 0px;
			overflow-y: auto;
			max-height: calc(100vh - 50vh);

			h4 {
				font-weight: 700;
				font-size: 1.35rem;
				min-width: 72px;
			}
			h5 {
				font-size: 1rem;
				line-height: 1.25rem;
			}

			.welcome-main-info {
				display: flex;
				align-items: center;
				justify-content: flex-start;
				column-gap: 2rem;
				margin-inline-start: 4.5rem;
				margin-inline-end: 3rem;

				svg {
					width: 5rem;
					height: 5rem;
					color: var(--secondary-color-100);
				}

				.welcome-main-text {
					display: flex;
					flex-direction: column;
					row-gap: 1rem;
					p {
						line-height: 23px;
						color: #7b7777;
					}
				}
			}

			&.web-welcome {
				display: flex;
				flex-direction: column;
				.form {
					max-width: 73%;
					margin-inline-start: auto;
					margin-inline-end: 2rem;
					margin-block-start: auto;

					.button-wrapper.next-btns {
						margin-block-start: 2.75rem;
						margin-inline: 0;
						max-width: none;
						width: 100%;
					}
				}
			}

			&.select-resource-welcome {
				max-width: 100%;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;
				column-gap: 1rem;
				row-gap: 1rem;
				margin-block-end: 2rem;
				.welcome-resource {
					--color-title: var(--tertiary-color-500);
					--color-resource: var(--tertiary-color-450);
					--color-resource-hover: var(--tertiary-color-500);
					height: 130px;
					display: flex;
					flex-direction: column;
					justify-content: space-between;
					align-items: center;
					cursor: pointer;
					transition: all 120ms ease;
					color: var(--color-title);
					border: 1px solid var(--color-resource);
					padding-block-start: 2rem;

					svg {
						width: 40px;
						height: 40px;
					}

					.caption-card {
						text-transform: uppercase;
						display: flex;
						flex-direction: column;
						text-align: center;
						row-gap: 0.25rem;
						transition: all 200ms ease;
						user-select: none;
						color: var(--color-resource);
						width: 100%;
						padding-block: 9px;

						h4 {
							transition: color 190ms ease;
							font-size: 15px;
							font-weight: 700;
						}
					}

					&:hover {
						border-color: var(--secondary-color-100);

						svg {
							color: var(--secondary-color-100);
						}

						.caption-card {
							h4 {
								color: var(--secondary-color-100);
							}
						}
					}

					&.resource-selected {
						background: #fff6f6;
						border-color: var(--secondary-color-50);

						svg {
							color: var(--secondary-color-50);
						}
						.caption-card {
							background-color: var(--secondary-color-50);
							color: #fff;
							border: none;
						}

						&:hover {
							border-color: var(--secondary-color-50);

							svg {
								color: var(--secondary-color-50);
							}
							.caption-card {
								h4 {
									color: inherit;
								}
							}
						}
					}

					&.full-disable {
						opacity: 0.65;
						cursor: default;

						&:hover {
							border-color: inherit;
							svg {
								color: inherit;
							}
							.caption-card {
								h4 {
									color: inherit;
								}
							}
						}
					}
				}
			}
		}

		.button-wrapper {
			margin: 1rem;

			&.next-btns {
				display: flex;
				justify-content: flex-end;
				column-gap: 1rem;
			}

			.secondary-container {
				width: 25%;
			}

			.primary-container {
				width: 33.333333%;
			}

			&.form-buttons {
				button.btn-secondary {
					width: 25%;

					&:hover {
						scale: 1;
					}
				}
				button.btn-primary {
					width: 40%;

					&:hover {
						scale: 1;
					}
				}
			}
		}
	}
}

[data-theme='dark'] {
	.welcome-container {
		background-color: var(--primary-color-50);
		border-color: var(--primary-color-400);

		--one-pentest-span: #9b9a9a;
		--show-border-color: var(--primary-color-500);

		.welcome-header {
			.welcome-header-title {
				h2 {
					color: var(--tertiary-color-400);
				}
			}
			.steps {
				--default-color: #344251;
				--completed-color: #0f1822;
				--current-color: #242f3b;

				.step {
					p {
						color: var(--tertiary-color-200);
					}

					&.current {
						p {
							color: var(--tertiary-color-50);
						}
					}
				}
			}
		}

		.step-header {
			h3 {
				color: var(--tertiary-color-100);
			}
			span {
				color: var(--tertiary-color-500);
			}
		}

		.scope-content {
			.select-option {
				border-color: var(--primary-color-600);
				background-color: #293542;
			}
		}

		.report-type-card {
			--color-title: var(--tertiary-color-50);
			--color-resource: var(--tertiary-color-400);
			--color-resource-hover: var(--tertiary-color-200);
		}
	}
}
