main.dashboard {
  .left {
    .content-box-assets {
      display: flex;
      flex-direction: row;
      gap: 12px;
      justify-content: center;
      margin-bottom: 12px;

      .box-assets {
        flex: 1;
      }
    }

    .over {
      .item-cell-1 {
        font-size: 0.95rem;
      }

      .item-cell-4 {
        text-align: right;
        padding-right: 12px;
      }
    }

    .card {
      .content {
        padding: 12px;
      }
    }

    .table {
      .vul-title {
        min-width: 48%;
        max-width: 48%;
        font-size: 0.95rem;
      }

      .vul-class,
      .username,
      .vul-score,
      .date {
        min-width: 13%;
        max-width: 13%;
        font-size: 0.95rem;
      }
    }

    .box-assets {
      display: flex;
      flex-direction: row;
      gap: 12px;

      .box-assets-right {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding: 12px;

        p {
          max-width: 85%;
          line-height: 1.5;
          font-size: 0.975rem;
          letter-spacing: 0.1px;
        }

        button {
          max-width: 40%;
          margin-top: 12px;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;

    .card {
      margin-bottom: 12px;

      &.stats {
        .content {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0;
        }
      }

      &.risk-chart {
        .content {
          padding: 12px;
          display: flex;
          align-items: center;
          gap: 12px;
        }
      }
    }
  }

  // Estilos estandarizados para títulos de módulos
  .simple-section-header {
    height: 40px;
    display: flex;
    align-items: center;
    font-family: 'ITC Avant Garde', Questrial;
    font-weight: 700;
    font-size: 0.975rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--primary-color-300);
    color: var(--tertiary-color-200);
    background-color: var(--primary-color);
    padding: 0 12px;

    .title {
      display: flex;
      align-items: center;
      gap: 12px;

      .icon {
        color: var(--secondary-color-50);
        font-size: 0.975rem;
      }

      span {
        color: var(--tertiary-color-300);
      }
    }
  }

  @media only screen and (max-width: 1480px) {
    .right {
      .card {
        &.risk-chart {
          .content {
            .chart {
              flex: 1 1 100%;
              min-width: 200px;
              max-width: 30%;
            }
          }
        }
      }
    }
  }
}

[data-theme='dark'] {
  main.dashboard {
    .variant-1 {
      width: 16rem;
      top: 4dvh;
      right: 31dvw;
      filter: blur(100px) brightness(0.5) opacity(0.45);
    }

    .variant-2 {
      width: 16rem;
      top: 20dvh;
      right: 2dvw;
      filter: blur(115px) brightness(0.5);
    }

    .simple-section-header {
      background-color: var(--primary-color-200);
      border-bottom: none;
    }
  }
}
