main.dashboard {
	overflow: hidden;

	.colaborators {
		> .colaborators-container {
			max-height: 100dvh;
			overflow: hidden;
		}
	}

	.right {
		.card.risk-chart .content {
			padding-block: 1.8rem;

			.chart {
				min-width: 70px;
			}
		}
	}
}
