.check-mail {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
}

.check-mail_img {
  width: 10rem;

  img {
    width: 70px;
    aspect-ratio: 1/1;
  }
}

.check-mail_text {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--tertiary-color-400);
  }

  p {
    color: var(--tertiary-color-500);
  }
}

:global([data-theme='dark']) {
  .check-mail_text p {
    color: #afafaf;
  }
}
