.check-mail {
  display: flex;
  align-items: center;
  column-gap: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;

  &[data-img-only='true'] {
    justify-content: flex-start;
    align-items: center;
    margin-block: 1rem;
    margin-inline-start: 2rem;

    .check-mail_img {
      width: 12rem;

      img {
        width: 180px;
      }
    }
  }
}

.check-mail_img {
  width: 6rem;

  img {
    width: 70px;
  }
}

.check-mail_text {
  display: flex;
  flex-direction: column;
  row-gap: 0;

  span {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: var(--tertiary-color-600);
  }

  p {
    color: var(--tertiary-color-200);
    font-size: 0.9rem;
  }
}

:global([data-theme='dark']) {
  .check-mail_text p {
    color: #afafaf;
  }
}
