button.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	cursor: pointer;

	padding-inline: 23px;

	color: var(--primary-color);
	font-size: 13px;
	font-family: 'Roboto';
	font-weight: 800;
	text-decoration: none;

	height: 45px;
	border-radius: 4px;
	background-color: var(--secondary-color-50);
	border: none;
	position: relative;

	transition-property: background, color;
	transition-duration: 200ms;
	transition-timing-function: cubic-bezier(0.15, -0.31, 0.73, 0.96);

	&:focus {
		outline: none;
	}

	&.no-border-height {
		height: auto;
		border-radius: 0px;
	}

	@media only screen and (max-width: 768px) {
		& {
			font-size: 15px;
			height: 35px;
			padding-block: 0;
			padding-inline: 13px;
		}
	}
}

.signin-btn {
	display: flex;
	column-gap: 0.5rem;
}

[data-theme='dark'] {
	button.btn {
		color: var(--tertiary-color-50);
	}
}
