button.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  cursor: pointer !important;

  padding-inline: 23px;

  color: var(--primary-color);
  font-size: 15px;
  font-family: Questrial;
  font-weight: 400;
  text-decoration: none;

  min-height: 40px;
  border-radius: 5px;
  background-color: var(--secondary-color-50);
  border: none;
  position: relative;

  transition-property: background, color, transform;
  transition-duration: 130ms;
  transition-timing-function: cubic-bezier(0.15, -0.31, 0.73, 0.96);

  &:focus {
    outline: none;
  }

  &:hover {
    transform: scale(1.01);
  }

  &.no-border-height {
    height: auto;
    border-radius: 0;
  }

  &.center {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &.full {
    width: 100%;
  }

  &:disabled {
    opacity: 0.65;
    cursor: default !important;

    &:hover,
    &:focus {
      background-color: var(--secondary-color-50) !important;
      scale: 1;
      transform: scale(1);
    }
  }

  &.scan-btn {
    cursor: pointer;
    background-color: #efefef;
    border: 1px solid var(--primary-color-400);
    color: var(--tertiary-color-100);
    height: 2rem;
    border-radius: 0.25rem;
    margin-inline-end: 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;

    &:hover {
      background-color: #fdbdbd;
      color: var(--secondary-color-200);
      border: 1px solid var(--secondary-color-200);
      font-weight: 700;
    }

    .message {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      background: transparent;
    }
  }

  &.external-loading {
    background-color: var(--primary-color-100);
    cursor: default;
    color: var(--tertiary-color-100);
    border: 1px solid var(--secondary-color-400);
  }

  @media only screen and (max-width: 768px) {
    & {
      font-size: 15px;
      height: 35px;
      padding-block: 0;
      padding-inline: 13px;
    }
  }

  @media only screen and (max-width: 639px) {
    &.limit-height {
      min-height: 65px;
    }
  }
}

.signin-btn {
  display: flex;
  column-gap: 0.5rem;
}

[data-theme='dark'] {
  button.btn {
    color: #ffffff;

    &.scan-btn {
      background-color: var(--primary-color-100);

      &:hover {
        background-color: #ffaaaa;
        color: var(--secondary-color-200);
        border: 1px solid var(--secondary-color-300);
        font-weight: 700;
      }
    }

    &.btn-dark-black,
    &.btn-black {
      background-color: var(--primary-color-100);
    }
  }
}

@media only screen and (max-width: 640px) {
  button.btn.btn-mobile-small {
    font-size: 14px;
    padding-inline: 12px;
    padding-block: 10px;
    height: fit-content;
    min-height: auto;
  }
}
