.modal-wrapper .modal .header {
  height: fit-content;
  padding-block: 0.75rem;
}

.modal-wrapper .modal-report-selector:has(.type-selector-container) {
  height: 500px;
}

.report-type-modal {
  width: 1020px;
  height: 250px;

  border-radius: 0.5rem;

  h3 {
    width: 100%;
    text-align: center;
    font-weight: 550;
    padding-block-start: 1.5rem;
    padding-inline-start: 0;
    font-size: 1.5rem;
  }

  .report-type-container {
    .resource-figure svg {
      margin-bottom: 3px;
    }
    .resource-figure.mobile svg,
    .resource-figure.lan svg {
      width: 2.2rem !important;
      height: 2.2rem !important;
    }
    display: flex;
    flex-flow: row nowrap;
    column-gap: 2rem;
    row-gap: 0;
    padding: 2.25rem;
    justify-content: flex-start;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    scrollbar-width: thin;
  }
}

.type-selector-container {
  h3 {
    margin-block-end: 1rem;
  }

  .table {
    max-width: 90%;
    margin-inline: auto;

    .rows {
      max-height: 17rem;
    }

    .full-name {
      margin-inline-end: 1%;
    }

    .full-name,
    .url {
      .publish {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;
        overflow-wrap: break-word;
        line-height: 1.3rem;
      }
    }
  }

  .app-card-container {
    .list {
      display: flex;
      flex-direction: column;
      overflow: hidden auto;
      row-gap: 0.938rem;
      max-width: 90%;
      margin-inline: auto;
      max-height: 21rem;
      padding-block-end: 2rem;

      .app-info {
        border-radius: 0.75rem;
      }

      .app-card-border {
        border-radius: 0.65rem;
      }

      .app-card-content-body .app-card-title h3 {
        overflow: hidden;
      }
    }
  }
}

[data-theme='dark'] {
  .type-selector-container {
    .app-card-container {
      .list {
        .app-info {
          border: 1px solid var(--tertiary-color-450);
          margin-inline-end: 1rem;
        }
      }
    }
  }
}
