.testing-cred {
	padding-inline: 2.5rem;
	min-width: 400px;
	column-gap: 3rem;

	.avatar {
		margin-block-end: auto;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		row-gap: 0.75rem;
	}
	.info {
		column-gap: 2.5rem;
	}
	.text {
		row-gap: 0.25rem;
	}

	.extra-info-cred {
		margin-block-start: 1rem;

		&.extra-info-btn {
			cursor: pointer;
			user-select: none;
		}
	}
}
