.modal-wrapper .modal .header {
	height: fit-content;
	padding-block: 0.75rem;
}

.report-type-modal {
	width: 700px;
	height: 350px;

	border-radius: 0.5rem;

	h3 {
		width: 100%;
		text-align: left;
		padding-block-start: 1.5rem;
		padding-inline-start: 3.75rem;
		font-size: 1.5rem;
	}

	.report-type-container {
		display: flex;
		flex-flow: row wrap;
		column-gap: 2rem;
		row-gap: 1.5rem;
		padding: 2.25rem;
		justify-content: flex-start;
		align-items: center;
	}
}

.type-selector-container {
	h3 {
		margin-block-end: 1rem;
	}

	.table {
		max-width: 90%;
		margin-inline: auto;

		.rows {
			max-height: 17rem;
		}

		.full-name {
			margin-inline-end: 1%;

			.publish {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 2;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: normal;
				overflow-wrap: break-word;
				line-height: 1.3rem;
			}
		}
	}
}
