.modal-wrapper .modal .header {
	height: fit-content;
	padding-block: 0.75rem;
}

.report-type-modal {
	width: 700px;
	height: 350px;

	border-radius: 0.5rem;

	h3 {
		padding-block-start: 1rem;
		width: 100%;
		text-align: left;
		padding-inline-start: 1.5rem;
	}

	.report-type-container {
		display: flex;
		flex-flow: row wrap;
		column-gap: 2rem;
		row-gap: 1rem;
		padding: 2.25rem;
		justify-content: flex-start;
		align-items: center;
	}
}

.report-type-card {
	width: 135px;
	height: 95px;

	border-radius: 0.25rem;

	border: 2px solid var(--tertiary-color-300);
	display: flex;
	flex-direction: column;
	padding: 0.25rem;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all 120ms ease;
	padding-block-start: 0.5rem;

	svg {
		width: 36px;
		height: 36px;
	}

	.caption-card {
		font-weight: 700;
		text-transform: uppercase;
		color: var(--tertiary-color-450);
		display: flex;
		flex-direction: column;
		text-align: center;
		row-gap: 0.25rem;

		h4 {
			font-size: 1.2rem;
		}
		h5 {
			font-size: 0.9rem;
			text-transform: lowercase;
			span {
				color: var(--secondary-color-50);
			}
		}
	}

	&:hover {
		background-color: rgb(253, 244, 244);
		border-color: rgb(255, 174, 174);

		svg {
			color: var(--secondary-color-100);
		}

		.caption-card {
			color: var(--tertiary-color-500);

			span {
				color: var(--secondary-color-150);
			}
		}
	}
}
