.button-loader {
	background-color: inherit !important;
	border: 3px solid rgb(0 0 0 / 50%) !important;
	border-left-color: transparent !important;
	width: 14px !important;
	height: 14px !important;
	border-radius: 50% !important;
	animation: spin-rotation 1s linear infinite;
	position: absolute;
	left: var(--pos-left);
	cursor: pointer;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	overflow: hidden;

	&.loader-screen {
		width: 100dvw;
		height: 100dvh;
	}
	&.loader-full {
		width: 100%;
		height: 100%;
	}

	&.overlay {
		position: absolute;
		left: 0;
		top: 0;
		overflow: hidden;
		z-index: 100;
		background-color: #6b728040;
	}
	.icon {
		width: 2.75rem;
		aspect-ratio: 1/1;
	}
	.small-icon {
		width: 2.5rem;
		aspect-ratio: 1/1;
	}
}

.spinner {
	display: grid;
	border-radius: 50%;
	-webkit-mask: radial-gradient(
		farthest-side,
		#0000 50%,
		var(--secondary-color-mask) 50%
	);
	background:
		linear-gradient(
				357deg,
				var(--secondary-color-50) 50%,
				var(--secondary-color-50) 0
			)
			center/4px 100%,
		linear-gradient(
				90deg,
				var(--secondary-color-50) 50%,
				var(--secondary-color-50) 0
			)
			center/100% 4px;
	animation: simple-spinner 1.1s linear(-0.12 -6.54%, 0.68 101.63%) infinite
		normal;
	background-repeat: no-repeat;

	&::before,
	&::after {
		content: '';
		grid-area: 1/1;
		border-radius: 15%;
		background: inherit;
		opacity: 0.915;
		transform: rotate(38deg);
	}

	&::after {
		opacity: 0.83;
		transform: rotate(180deg);
	}
}

@keyframes simple-spinner {
	100% {
		transform: rotate(1turn);
	}
}

@keyframes spin-rotation {
	to {
		transform: rotate(0deg);
	}

	from {
		transform: rotate(360deg);
	}
}
