.team-collaborators {
  background: var(--primary-color);
  border-radius: var(--brd-radius);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem; /* Espacio entre imagen y texto */
  padding: 2rem;
  margin-bottom: 24px;

  svg {
    height: 13rem;
    width: 13rem;
    color: var(--secondary-color-200);
  }

  .header-content {
    display: flex;
    flex-direction: column; /* Alinea el texto verticalmente */
    gap: 1rem;

    button {
      max-width: 300px;
    }
  }

  @media (max-width: 640px) {
    flex-direction: column;
    align-items: center; /* Alineación centrada en dispositivos pequeños */
    text-align: center;
  }
}
