.leftTop {
  background-color: var(--primary-color);
  padding: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;

  // margin-top: 3rem;
  border-radius: var(--brd-radius);
}

.leftTopContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  --text-color: var(--tertiary-color-50);

  h1,
  p {
    color: var(--text-color);
  }

  h1 {
    margin-block-end: 1.5rem;
  }

  p {
    max-width: 85%;
    line-height: 2rem;
  }

  button {
    margin-block-start: 2rem;
  }
}

@media screen and (max-width: 1450px) {
  .leftTop {
    flex-direction: column;

    .leftTopContent {
      justify-content: center;
      align-items: center;
    }
  }
}

:global([data-theme='light']) {
  .leftTopContent {
    --text-color: var(--tertiary-color-500);
  }
}
