main.user-profile {
  .left {
    // overflow-x: hidden;
    // overflow-y: auto;

    .user-profile-top {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 2rem;
      background-color: var(--primary-color);
      border-radius: var(--brd-radius);

      svg {
        width: 13rem;
        height: 13rem;
        color: var(--secondary-color-200);
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
        align-items: center;
      }
    }

    .box-assets {
      display: flex;
      align-items: flex-start;
      gap: var(--card-space);
      width: 100%;
      height: fit-content;

      .card {
        overflow: hidden;
        min-width: 200px;
        padding: 0.5rem;
        flex: 1 1 50%;
        height: fit-content;
      }
    }

    .status-card-container {
      display: none;
    }

    .qr-contain {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      margin-top: 1.6rem;

      .disabled-btn {
        margin-top: auto;
      }

      .mfa-active-icon {
        background-color: rgb(220, 252, 231);
        padding: 1rem;
        border-radius: 100%;
        height: fit-content;
        width: fit-content;
        color: rgb(22 101 52 / 1);
        align-self: center;
        margin-bottom: 1rem;

        svg {
          width: 2rem;
          height: 2rem;
        }
      }

      .mfa-active {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: rgba(0, 255, 85, 0.05);
        padding: 1rem;
        border-radius: var(--brd-radius);
        border: 1px solid rgba(0, 255, 85, 0.1);

        h3 {
          color: rgb(22 101 52 / 1);
          font-size: 1.1rem;
          width: 100%;
          margin-bottom: 0.5rem;
        }

        p {
          padding: 0;
          color: rgb(21 128 61 / 1);
          width: 100%;
        }
      }
    }

    .qr-contain input {
      margin-bottom: 0rem;
    }
  }

  .right {
    height: 100%;
    margin-left: 0;
    // overflow-y: auto;
    margin-bottom: 0px;

    .card {
      margin-bottom: var(--card-space);

      &.stats {
        .content {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 0;
        }
      }

      &.risk-chart {
        .content {
          padding: 12px;
          display: flex;
          align-items: center;
          gap: var(--card-space);
        }
      }
    }
  }

  &.actived {
    .left {
      flex: 1 1 60%;
      padding-block-start: 0;
      margin-block-start: 0;
    }
    .right {
      flex: 1 1 40%;
      padding-block-start: 0;
      margin-block-start: 0;
    }
  }

  // @media only screen and (max-width: 600px) {
  //   display: block;
  //   min-height: auto;
  //   height: 81dvh;
  //   padding: 0;

  //   .left {
  //     width: 100%;
  //     overflow-x: auto;
  //     padding-block-start: 10px;
  //   }

  //   .right {
  //     width: 100%;
  //     padding-block-start: 20px;
  //   }
  // }
}

.card.rectangle svg,
.card.rectangle img {
  max-width: 170px;
  max-height: 170px;
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

[data-theme='dark'] {
}

@media only screen and (max-width: 600px) {
  main.user-profile {
    display: block;
    min-height: auto;
    height: 81dvh;
    padding: 0;
    .left {
      width: 100%;
      overflow-x: auto;
      padding-block-start: 10px;
    }
    .right {
      width: 100%;
      padding-block-start: 20px;
    }
  }
}
@media only screen and (max-width: 1000px) {
  main.user-profile {
    .left {
      .status-card-container {
        display: flex;
      }
    }
    .right {
      display: none;
    }
  }
}

@media only screen and (min-width: 1230px) {
  main.user-profile {
    width: 96%;
  }
}

@container left-main (max-width: 600px) {
  main.user-profile {
    .left {
      .box-assets {
        flex-direction: column;
        min-height: fit-content;

        .card {
          flex: 1 1 100%;
          min-height: max-content;
        }
      }
    }
  }
}

main.user-profile .box-assets .card .over {
  display: flex;
  flex-direction: column;
  height: fit-content;
  padding: 0.2rem;
  gap: 0rem;

  .form-button {
    width: 100%;
  }

  .form-input {
    width: 100%;
  }
}

.card .over p {
  padding-inline: var(--card-space);
  margin-block-end: var(--card-space);
  font-size: 16px;
  font-family: Questrial;
  margin-top: 10px;
  line-height: 1.5em;
}
