.change-page-container {
  // position: absolute;
  // top: 4%;
  // left: 5%;
  margin: 30px 0 20px;
  border-bottom: 2px solid var(--primary-color-600);
  padding-bottom: 10px;
  width: 100%;

  a {
    background: transparent;
    box-shadow: none;
    border: none;
    color: var(--tertiary-color-300);
    padding: 0 5px 10px;
  }

  a + a {
    margin-inline-start: 1.5rem;
  }

  a.active-link {
    color: var(--secondary-color-50);
    border-bottom: 2px solid var(--secondary-color-50);
  }
}
