.order{
    width:42vw;
    max-width:42vw;
    margin:0 auto ;
    padding:2rem 0;

    
    
   .order-header{
     display:flex;
     column-gap: 1.5rem;
     padding:0 2rem;
     align-items: center;
     margin-bottom:1rem;


     span{
        color:#000;
        font-size:24px;
        font-weight: 700;
        text-transform: uppercase;
     }
   }

    .tabs{
        display: flex;
        // align-items: center;

        font-size: 14px;
        font-weight: 700;
        padding:0 2rem;

        .tab{
            padding:0.5rem 1rem;
            border-bottom:2px solid #e5e5e5;
            color:#e5e5e5;
            text-transform: capitalize;
            font-weight: 700;
            text-align: center;


            &.selected{
                border-color:var(--color-active-border);
                color:var(--color-active-border);

            }
        }
    }

    .option-header{
        font-size: 14px;
        margin:1rem 0 2rem;
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        column-gap:0.2rem;
        // justify-content: space-between;
        padding:0 2rem;
        width: 100%;
        max-width:100%;


        h1{
           color:#000;
           font-size:14px;
           font-weight:600;
           

        }
        span{
            color:#9b9a9a
        }
    }

    .show-border{
            border-top: 1px solid var(--color-border);
            border-bottom:1px solid var(--color-border);
    }

    .option{
        padding:1rem 0;
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
       padding-left:2.5rem;
        padding-right: 2.5rem;

        &.bottom-border{
            border-bottom:1px solid var(--color-border);
        }

        &.selected{
            background-color: #fff8f8;
        }

        h2{
            font-weight:700;
            font-size:16px;
            color: var(--color-active-border);
            
        }
        
    }
    .codefend-color {
        color: var(--color-active-border);
    
    }

    .top{
        display: flex;
        align-items: center;
        flex-wrap:wrap;
        color:#000;
    
        
        // > span{
        //     color:var(--color-icon);
        // }
    }

    .scope-content{

        input,input[type='radio']{
            border:1px solid var(--color-active-border) !important;
            color: var(--color-active-border) !important;
            
        }
        

    }

    .button-wrapper{
        margin-right: 3rem;
    }

    .details{
        display:flex;
        flex-direction: row;

    }

    .payment-details{
        display:flex;
        align-items: center;
        column-gap: 2rem;
        margin:2rem 0;
        padding:0 2rem;

        .qrcode{
            
        }

        .details{
            display:flex;
            flex-direction: column;

        }
    }

}