.order-container {
	width: 100%;
	max-width: 51dvw;
	max-height: 87.75dvh;
	min-height: 87dvh;
	height: 100%;

	padding-block: 1rem;

	border-radius: 0.15rem;
	background-color: var(--primary-color-50);
	border: 1px solid var(--primary-color-400);

	z-index: 120;

	overflow: auto;

	display: flex;
	flex-direction: column;
	justify-content: space-between;

	.order-header {
		display: flex;
		flex-flow: column nowrap;
		row-gap: 0.5rem;
		justify-content: flex-start;
		align-items: flex-start;
		flex: 1 1;
		padding-inline: 1rem;

		.order-header-title {
			display: flex;
			flex-flow: row nowrap;
			column-gap: 1.35rem;
			padding-inline-start: 0;
			padding-inline-end: 1rem;
			align-items: center;

			h2 {
				color: var(--tertiary-color-400);
				font-size: 24px;
				font-weight: 700;
				text-transform: uppercase;
				margin-block-start: auto;
				padding-block-end: 6px;
			}
		}

		.steps {
			-webkit-box-flex: 0;
			flex: 0 0 100%;
			justify-content: space-around;
			display: flex;
			margin-block-start: 0.75rem;
			width: 100%;

			.step {
				width: 100%;
				position: relative;
				display: flex;
				flex-wrap: wrap;
				-webkit-box-pack: center;
				justify-content: center;

				.step-dot {
					position: relative;
					display: inline-block;
					width: 30px;
					height: 30px;

					border: 1px solid #c2d0e0;
					background-color: #c2d0e0;

					border-radius: 30px;
					border: 1px solid;
					margin: auto;

					top: 0.125em;
					z-index: 2;

					&:before {
						content: '';
						position: absolute;
						top: -1px;
						left: -1px;
						width: 30px;
						height: 30px;
						transform: scale(0.75);
						border-radius: 30px;
						background-color: #c2d0e0;

						transition: background-color 250ms ease;
					}
				}

				p {
					font-size: 15px;
					display: block;
					margin: 0.5em 0;
					text-align: center;
					flex: 0 0 100%;
					color: var(--tertiary-color-200);
					letter-spacing: 0.5px;
				}

				&::before,
				&::after {
					position: absolute;
					border: 1px solid #c2d0e0;
					height: 1px;
					display: block;
					z-index: 1;
					top: 15px;
					content: '';
				}

				&::before {
					width: 100%;
					border: 1px solid #c2d0e0;
				}

				&::after {
					width: 0%;
					left: 0;
					transition: 0.2s linear;
					border: 1px solid #c2d0e0;
				}

				&:first-child {
					&::before,
					&::after {
						width: 50% !important;
						left: unset;
						right: unset;
						transform: translateX(51%);
					}
				}

				&:last-child {
					&::before,
					&::after {
						width: 50% !important;
						left: unset;
						right: unset;
						transform: translateX(-51%);
					}
				}

				&.completed {
					.step-dot {
						border-color: var(--secondary-color-50);

						&::before {
							background-color: var(--secondary-color-50);
						}
					}
					p {
						color: var(--tertiary-color-50);
					}

					&::before,
					&::after {
						width: 100%;
						transition: 0.2s linear;
					}

					&::after {
						border: 1px solid var(--secondary-color-50) !important;
					}
				}

				&.current {
					.step-dot {
						border-color: var(--secondary-color-50);
					}

					p {
						color: var(--tertiary-color-50);
						//font-weight: 600;
					}

					&::after {
						border: 1px solid var(--secondary-color-50) !important;
						width: calc(50% - 10px);
						transition: 0.2s linear;
					}

					&::before {
						border: 1px solid #c2d0c0;
					}
				}

				&.next-step {
					&::before {
						top: 15px;
					}
				}
			}
		}
	}

	.show-bottom-border {
		border-block-end: 1px solid var(--primary-color-500);
		border-block-start: 0px !important;
	}
	.show-top-border {
		border-block-start: 1px solid var(--primary-color-500);
		border-block-end: 0px !important;
	}
	.show-both-borders {
		border-block: 1px solid var(--primary-color-500);

		&-active {
			border-color: var(--secondary-color-50);
		}
	}
	.underline-high {
		text-decoration-line: underline;
	}

	.order-pointer {
		cursor: pointer;
	}

	.orders-content {
		display: flex;
		flex-direction: column;
		flex: 1 1;
		height: 100%;

		.option-header {
			font-size: 14px;
			margin-block-start: 0;
			margin-block-end: 1rem;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 0.2rem;
			padding: 0 2rem;
			width: 100%;
			max-width: 100%;

			h3 {
				color: var(--tertiary-color-500);
				font-size: 14px;
				font-weight: 600;
				white-space: break-spaces;
				line-height: 1.75rem;
			}
			b {
				margin-inline-end: 5px;
			}
			span {
				color: var(--tertiary-color-100);
			}
		}

		.scope-content {
			margin-block-end: 1rem;
			margin-block-start: 1rem;

			.select-option {
				border-block: 2px solid var(--primary-color-600);
				background-color: #293542;
			}

			.option {
				padding: 1rem 0;
				display: flex;
				align-items: center;
				column-gap: 1.5rem;
				padding-left: 2.5rem;
				padding-right: 2.5rem;

				.radio-option {
					width: 2.2rem;
					height: 1.6rem;
					aspect-ratio: 1/1;
				}

				h2 {
					font-weight: 700;
					font-size: 16px;
					color: var(--secondary-color-50);
				}
			}

			.order-img-wrapper {
				display: flex;
				align-items: center;

				.order-img {
					display: flex;
					flex: 1 1;
					align-items: center;
					column-gap: 1rem;
					justify-content: space-between;
					padding-block: 1rem;
					padding-inline: 2rem;
				}
			}

			.order-img-btc {
				height: 100%;
				display: flex;
				align-items: center;
				column-gap: 2rem;

				padding-inline: 2rem;

				border-left-width: 1px;
				border-color: var(--tertiary-color-400);
			}

			.order-snapshot {
				display: flex;
				flex-flow: column nowrap;

				p {
					line-height: 1.5rem;
					padding-block-end: 0.35rem;
					max-width: 100%;
					white-space: nowrap;
					text-overflow: ellipsis;

					&.pentest-option {
						white-space: break-spaces;
					}

					.space {
						padding-inline-end: 5px;
					}
				}

				.one-pentest {
					color: #9b9a9a;
				}

				.limitations {
					padding-inline-start: 5px;
				}
			}

			.order-dash-space {
				margin-inline-start: 0.5rem;
			}

			.underline-high {
				text-decoration-line: underline;
			}

			h4 {
				font-weight: 700;
				font-size: 1.35rem;
				min-width: 72px;
			}
			h5 {
				font-size: 1rem;
				line-height: 1.25rem;
			}
		}

		.scope-confirm {
			display: flex;
			align-items: center;
			column-gap: 1rem;

			padding-inline: 2.5rem;
			padding-block: 1.25rem;

			.disclaimers {
				padding-inline-end: 5px;
			}
		}

		.button-wrapper {
			margin-inline-end: 3rem;

			&.next-btns {
				display: flex;
				justify-content: flex-end;
				column-gap: 1rem;
				margin-block-start: auto;
			}

			.secondary-container {
				width: 25%;
			}

			.primary-container {
				width: 33.333333%;
			}
		}
	}
}

.order {
	width: max-content;
	max-width: 51dvw;
	padding: 1rem 0;
	max-height: 87.75dvh;
	background-color: var(--primary-color-50);
	z-index: 120;
	overflow: auto;

	input {
		//  border: 1px solid var(--secondary-color-50) !important;
		//  color: var(--secondary-color-50)  !important;
		accent-color: var(--secondary-color-50);
	}

	.top {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		color: var(--tertiary-color-400);
	}

	.details {
		display: flex;
		flex-direction: row;
	}

	.payment-details {
		display: flex;
		align-items: center;
		column-gap: 2rem;
		margin: 2rem 0;
		padding: 0 2rem;

		.qrcode {
			background-color: #fff;
			padding: 0.5rem;
			box-shadow:
				0 4px 6px -1px rgb(0 0 0 / 0.1),
				0 2px 4px -2px rgb(0 0 0 / 0.1);
		}

		.details {
			display: flex;
			flex-direction: column;
			row-gap: 0.25rem;

			color: var(--tertiary-color-100);

			&.space {
				row-gap: 0.25rem;
			}

			h2 {
				font-size: 1rem;
				font-weight: 700;
			}

			.address-container {
				display: flex;
				align-items: center;
				column-gap: 1rem;
				padding-block: 1rem;
				margin-inline: 1rem;

				&.address {
					text-decoration-line: underline;
				}
			}
		}
	}
}

[data-theme='dark'] {
	.option-header {
		h3 {
			color: var(--tertiary-color-100);
		}
		span {
			color: var(--tertiary-color-500);
		}
	}

	.order {
		.tabs {
			.tab {
				border-bottom: 2px solid var(--tertiary-color-400);
				color: var(--tertiary-color-400);
				&.selected {
					border-color: var(--secondary-color-50);
					color: var(--secondary-color-50);
				}
			}
		}
	}
}
