main {
	.modal-wrapper {
		.wrapper-content {
			overflow: hidden;

			&.max-w {
				max-width: inherit;
			}
		}
	}
}

.order {
	width: max-content;
	max-width: 51dvw;
	padding: 1rem 0;
	max-height: 87.75dvh;
	background-color: var(--primary-color-50);
	z-index: 120;
	overflow: auto;

	&.no-max-h {
		max-height: 0%;
	}

	.order-header {
		display: flex;
		column-gap: 1.5rem;
		padding: 0 2rem;
		align-items: center;
		margin-bottom: 1rem;

		h2 {
			color: var(--tertiary-color-400);
			font-size: 24px;
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	.tabs {
		display: flex;
		font-size: 14px;
		font-weight: 700;
		padding: 0 2rem;

		.tab {
			padding: 0.5rem 1rem;
			border-bottom: 2px solid var(--tertiary-color-50);
			color: var(--tertiary-color-50);
			text-transform: capitalize;
			font-weight: 700;
			text-align: center;
			cursor: pointer;

			&.selected {
				border-color: var(--secondary-color-50);
				color: var(--secondary-color-50);
			}
		}
	}

	.option-header {
		font-size: 14px;
		margin: 1rem 0 2rem;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 0.2rem;
		padding: 0 2rem;
		width: 100%;
		max-width: 100%;

		h1 {
			color: var(--tertiary-color-500);
			font-size: 14px;
			font-weight: 600;
		}
		span {
			color: var(--tertiary-color-100);
		}
	}

	.show-border {
		border-top: 1px solid var(--primary-color-300);
		border-bottom: 1px solid var(--primary-color-300);
	}

	.option {
		padding: 1rem 0;
		display: flex;
		align-items: center;
		column-gap: 1.5rem;
		padding-left: 2.5rem;
		padding-right: 2.5rem;

		&.bottom-border {
			border-bottom: 1px solid var(--primary-color-300);
		}

		&.selected {
			background-color: var(--primary-color-200);
		}

		.radio-option {
			width: 2.2rem;
			height: 1.6rem;
			aspect-ratio: 1/1;
		}

		h2 {
			font-weight: 700;
			font-size: 16px;
			color: var(--secondary-color-50);
		}
	}
	.codefend-color {
		color: var(--secondary-color-50);
	}
	input {
		//  border: 1px solid var(--secondary-color-50) !important;
		//  color: var(--secondary-color-50)  !important;
		accent-color: var(--secondary-color-50);
	}

	.top {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		color: var(--tertiary-color-400);
	}

	.content {
		height: 100%;
		min-height: 80dvh;
		overflow-y: auto;

		.scope-confirm {
			display: flex;
			align-items: center;
			column-gap: 1rem;

			padding-inline: 2.5rem;
			margin-block-start: 5rem;
			padding-block: 1.25rem;

			.confirm-check {
				width: 20%;
				flex: 0.15 0.15 0%;
				height: 1.5rem;
			}

			.confirm-label {
				display: flex;
				align-items: center;
				column-gap: 0.25rem;

				color: var(--tertiary-color-600);
			}
		}
	}

	.button-wrapper {
		margin-inline-end: 3rem;

		&.next-btns {
			display: flex;
			justify-content: flex-end;
			column-gap: 1rem;
			margin-block-start: 1.5rem;
		}

		.secondary-container {
			background-color: rgb(37 99 235 / 1);
			width: 25%;
		}

		.primary-container {
			background-color: rgb(234 179 8 / 1);
			width: 33.333333%;
		}
	}

	.details {
		display: flex;
		flex-direction: row;
	}

	.payment-details {
		display: flex;
		align-items: center;
		column-gap: 2rem;
		margin: 2rem 0;
		padding: 0 2rem;

		.qrcode {
			background-color: #fff;
			padding: 0.5rem;
			box-shadow:
				0 4px 6px -1px rgb(0 0 0 / 0.1),
				0 2px 4px -2px rgb(0 0 0 / 0.1);
		}

		.details {
			display: flex;
			flex-direction: column;
			row-gap: 0.25rem;

			color: var(--tertiary-color-100);

			&.space {
				row-gap: 0.25rem;
			}

			h2 {
				font-size: 1rem;
				font-weight: 700;
			}

			.address-container {
				display: flex;
				align-items: center;
				column-gap: 1rem;
				padding-block: 1rem;
				margin-inline: 1rem;

				&.address {
					text-decoration-line: underline;
				}
			}
		}
	}
}

.scope-content {
	.order-img-wrapper {
		display: flex;
		align-items: center;

		.order-img {
			display: flex;
			flex: 1 1;
			align-items: center;
			column-gap: 1rem;
			justify-content: space-between;
			padding-block: 1rem;
			padding-inline: 2rem;
		}
	}
	.order-img-btc {
		height: 100%;
		display: flex;
		align-items: center;
		column-gap: 2rem;

		padding-inline: 2rem;

		border-left-width: 1px;
		border-color: var(--tertiary-color-400);
	}

	.order-pointer {
		cursor: pointer;
	}

	.order-snapshot {
		display: flex;
		flex-flow: column nowrap;

		.one-pentest {
			color: #9b9a9a;
		}
	}
	.order-dash-space {
		margin-inline-start: 0.5rem;
	}

	.underline-high {
		text-decoration-line: underline;
	}
}

[data-theme='dark'] {
	.order {
		.option-header {
			h1 {
				color: var(--tertiary-color-100);
			}
			span {
				color: var(--tertiary-color-400);
			}
		}

		.tabs {
			.tab {
				border-bottom: 2px solid var(--tertiary-color-400);
				color: var(--tertiary-color-400);
				&.selected {
					border-color: var(--secondary-color-50);
					color: var(--secondary-color-50);
				}
			}
		}
	}
}
