[data-theme='dark'] {
  .variant-1 {
    width: 17rem;
    top: 36dvh;
    left: 9dvw;
    filter: blur(150px) brightness(0.4);
    z-index: 5;
  }

  .variant-2 {
    width: 20rem;
    top: 18dvh;
    left: 7dvw;
    filter: blur(130px) brightness(0.35) opacity(0.65);
    z-index: 15;
    background: #ffffff8f;
    height: 19rem;
  }

  .variant-3 {
    width: 19rem;
    top: 20dvh;
    right: 26dvw;
    filter: blur(140px) brightness(0.3);
    z-index: 20;
  }
}

.mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mobile .left {
  width: 50%;
  min-width: 320px;
  height: 738px;
  overflow-y: scroll;
  scrollbar-width: none;
}

.mobile .right {
  width: 30%;
  min-width: 280px;
  height: 100%;
  overflow-y: auto;
}

.mobile .left::-webkit-scrollbar {
  display: none;
}

.mobile-icon-title {
  display: inline-flex;
  align-items: center;
  margin-right: 8px;
  font-size: 1.2em;
  vertical-align: middle;
  color: #ff3939;
}

main.mobile .custom-title {
  font-size: 1.2rem;
}

.custom-text.mb-3 {
  font-size: 0.9rem;
}

.custom-mobile-add-card.custom-card.p-4.mb-4 > *:not(:last-child) {
  margin-bottom: 0.7rem;
}
