@use '../../../../styles/settings/mixin' as mixin;

main.mobile {
	.left {
		display: flex;

		.card {
			@include mixin.respond(small) {
				display: contents;
			}

			.header {
				font-size: 15px;
				padding-inline-start: 0px;
			}

			.actions {
				div {
					transition: color 150ms ease;

					&:hover {
						color: var(--secondary-color-300);
					}
				}
			}
		}

		.search-app {
			width: 100%;
			margin-block-end: 0.75rem;
			margin-block-start: 0.5rem;
			border-radius: 3px;
			padding-inline-start: 1rem;
			padding-inline-end: 1.35rem;
			padding-block: 1.25rem;
			font-size: 14px;
			flex: 1 1 5%;
		}

		.mobile-card-delete {
			position: fixed;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}

		.list {
			flex: 1 1 90%;

			.app-info {
				height: fit-content;

				.modal-wrapper {
					background-color: rgba(0, 0, 0, 0.45);
				}
			}
		}

		@include mixin.respond(small) {
			width: 100%;
		}
	}

	.right {
		.selected-content {
			display: flex;
			align-items: center;
			column-gap: 1rem;
			margin-block: 1rem;

			.selected-content-credentials {
				height: 100%;
				align-self: stretch;
				flex: 0.5 0.5 50%;
				width: 50%;
			}

			.selected-content-tables {
				display: flex;
				flex-direction: column;
				align-self: stretch;
				flex: 0.5 0.5 49%;
				width: 49%;
				padding-inline-end: 10px;

				.card.stats {
					.content {
						.stat {
							background: transparent;
						}
					}
				}
			}
		}

		.quick-action {
			width: 24rem;

			.modal-header {
				span {
					font-size: 0.875rem /* 14px */;
					line-height: 1.25rem /* 20px */;
				}
			}

			.helper-box {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-inline: auto;
				padding: 0.75rem;

				@media only screen and (min-width: 640px) {
					& {
						max-width: 640px;
					}
				}

				@media only screen and (min-width: 768px) {
					& {
						max-width: 768px;
					}
				}
			}
		}
	}

	@include mixin.respond(small) {
		display: flex;
		flex-direction: column;
		padding-inline-start: 10px;
		height: 81dvh;
		overflow-y: auto;
		min-height: auto;
		.left {
			padding-block-start: 35px;
		}

		.right {
			min-height: 600px;
			width: 100%;
			overflow: hidden;

			.selected-content {
				display: block;
				width: 100%;

				.selected-content-credentials {
					height: 100%;
					width: 100%;
				}

				.selected-content-tables {
					width: 100%;
				}
			}
		}
	}
}

[data-theme='dark'] {
	.variant-1 {
		width: 17rem;
		top: 36dvh;
		left: 9dvw;
		filter: blur(150px) brightness(0.4);
		z-index: 5;
	}

	.variant-2 {
		width: 20rem;
		top: 18dvh;
		left: 7dvw;
		filter: blur(130px) brightness(0.35) opacity(0.65);
		z-index: 15;
		background: hsla(0, 0%, 100%, 0.56);
		height: 19rem;
	}

	.variant-3 {
		width: 19rem;
		top: 20dvh;
		right: 26dvw;
		filter: blur(140px) brightness(0.3);
		z-index: 20;
	}
}
