main.mobile {
	column-gap: 0.5rem;

	.left {
		.mobile-card-delete {
			position: fixed;
			left: 0;
			top: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
		}
	}

	.right {
		.selected-content {
			display: flex;
			align-items: center;
			column-gap: 1rem;
			margin-block: 1rem;

			.selected-content-credentials {
				height: 100%;
				align-self: stretch;
			}
			.selected-content-tables {
				display: flex;
				flex-grow: 1;
				flex-direction: column;
				align-self: stretch;
			}
		}

		.quick-action {
			width: 24rem;

			.modal-header {
				span {
					font-size: 0.875rem /* 14px */;
					line-height: 1.25rem /* 20px */;
				}
			}

			.helper-box {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-inline: auto;
				padding: 0.75rem;

				@media only screen and (min-width: 640px) {
					& {
						max-width: 640px;
					}
				}
				@media only screen and (min-width: 768px) {
					& {
						max-width: 768px;
					}
				}
			}
		}
	}
}
