.btn {
	&.btn-secondary {
		background-color: var(--btn-color-alt);

		&:hover {
			background-color: #1a1a1a;
		}
	}

	&.btn-cancel {
		border: 1px solid var(--color-border);
		padding-inline: 1rem;
		margin-inline-end: 0.5rem;

		width: 50%;

		&:hover {
			scale: 1.05;
		}
	}
}
