@use '../../../styles/settings/mixin' as mixin;

.btn {
	&.btn-secondary {
		background-color: var(--tertiary-color-400);

		&:hover {
			background-color: var(--tertiary-color-600);
		}

		@include mixin.respond(small) {
			height: 65px;
		}
	}

	&.btn-cancel {
		border: 1px solid var(--primary-color-300);
		padding-inline: 1rem;
		margin-inline-end: 0.5rem;

		width: 50%;

		&:hover {
			scale: 1.05;
		}
	}
}

[data-theme] {
	button.btn {
		&.btn-secondary {
			color: var(--primary-color-100);
		}
	}
}
