.password-req-container {
  --text-colors: #575757;
  --text-color-dash: #353535;
  --dash-red-color: #ff0000;
  color: var(--text-colors);
  margin-block-start: 6px;
  padding-top: 20px;

  .password-req-title {
    margin-block-start: 1.25rem;
    font-weight: 700;
    letter-spacing: 0.25px;
    margin-bottom: 0.7rem;
  }

  .password-req-list {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    align-items: flex-start;
    justify-content: center;
    margin-top: 0.5rem;

    .password-req-item {
      display: inline-flex;
      align-items: center;
      column-gap: 0.65rem;
      position: relative;
      margin-bottom: 0.5rem;

      small {
        position: relative;
        font-size: 0.8rem;
      }
    }
  }

  .dashed-item {
    position: absolute;
    background-color: var(--dash-red-color);
    height: 2px;
    width: 0%;
    top: 44%;
    animation: strike 0.35s ease-in-out forwards;

    &.strike {
      animation: strike 0.35s ease-in-out forwards;
    }

    &.no-strike {
      animation: no-strike 0.35s ease-in-out forwards;
    }
  }
}

body[data-theme='dark'] {
  .password-req-container {
    --text-colors: #dddddd;
    --text-color-dash: #e1e1e1;
    --dash-red-color: #e31616;
  }
}

@keyframes strike {
  from {
    width: 0%;
  }

  to {
    width: 100%;
    color: var(--text-color-dash);
  }
}

@keyframes no-strike {
  from {
    width: 100%;
    color: var(--text-color-dash);
  }

  to {
    width: 0%;
    color: var(--text-colors);
  }
}
