main.webapp {
	.left {
		width: 70%;

		.table {
			.domain-name {
				width: 205px;
			}
			.location {
				width: 160px;
			}
			.item {
				.location {
					.flag {
						margin-inline-end: 0.75rem;
					}
				}
			}
		}
	}
	.over {
		overflow-y: auto;
		overflow-x: hidden;
	}
}
