.progressBarContainer {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  width: 100%;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.progressBar {
  display: flex;
  justify-content: space-between;
  column-gap: 0.25rem;
}

.progressBarItem {
  height: 0.45rem;
  flex: 1 1 100%;
  transition: all ease 0.25s;
  border-radius: 3px;
  background-color: var(--tertiary-color-50);
}

.progressBarItemActive {
  background-color: #930f0f;
}

.progressBarItemNow {
  background-color: #ff8484;
}

.headerText {
  // text-align: center;

  p {
    color: var(--tertiary-color-300);
    margin-block-end: 0;
  }
}
