.sidebar {
  padding-top: 10px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  left: 10px;
  // top: calc(var(--nav-height) + 18px);
  // left: 1vw;
  position: absolute;
  z-index: 4;
  margin-block-start: calc(18px + var(--nav-height));

  // border: 1px solid var(--primary-color-300);
  background-color: var(--primary-color);

  // border-radius: 0.55rem;
  width: var(--sidebar-width);

  // height: calc(90dvh - 12px);
  max-height: 100dvh;
  // min-height: 100%;
  height: fit-content;
  overflow-y: auto;
  transition:
    width 130ms ease-out,
    background 130ms linear,
    backdrop-filter 130ms linear,
    filter 130ms linear,
    blur 130ms linear,
    backdrop-filter 130ms linear;

  animation: sideLeft 0.5s ease-in-out;

  @keyframes sideLeft {
    from {
      opacity: 0;

      // transform: translateY(13px);
    }

    to {
      opacity: 1;

      // transform: translateY(0);
    }
  }

  // &:not(:hover) {
  //   width: 51px !important;

  //   a {
  //     &::after {
  //       content: '' !important;
  //       opacity: 0;
  //       transform: translateX(-13%);
  //     }
  //   }
  // }

  :first-child {
    // border-top-left-radius: 0.54rem;
    // border-top-right-radius: 0.54rem;
  }

  .sidebar-group {
    margin-bottom: 0.7dvh;
  }

  .sidebar-group-title {
    font-size: 1.1rem;
    font-weight: bold;
    padding-inline: 20px;
    line-height: 1.5;
    margin-top: 1rem;
    font-family: satoshi;
  }

  a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 5vh;
    min-height: 30px;
    max-height: 38px;
    font-size: 0.85rem;
    outline: none;
    color: #333;
    width: 100%;
    padding-inline: 20px;
    padding-left: 25px;
    text-align: center;
    transition:
      color 100ms ease,
      background-color 100ms ease,
      border 150ms ease-out;

    &:hover {
      background-color: #e1e1e1eb;

      // color: #f9f9f9e6;
      border-bottom-color: #f76767eb;
    }

    svg {
      pointer-events: none;
    }

    &.disabled {
      cursor: not-allowed;
      color: var(--tertiary-color-200);
      background-color: var(--primary-color-100);
    }

    &.active {
      background-color: #d14e4e;
      border-bottom-color: var(--secondary-color-50);
      color: var(--primary-color);
    }

    /*    &::after {
      content: attr(data-text);
      font-size: 0.95rem;
      display: block;

      // opacity: 0;
      overflow: hidden;
      white-space: nowrap;
      font-weight: 600;
      word-spacing: 1.5px;
      letter-spacing: 0.2px;
      transform: translateX(-13%);
      width: 100%;
      text-align: left;
      transition:
        transform 275ms ease 90ms,
        opacity 125ms ease-in 0ms;
    } */
  }

  // &.is-open {
  //   box-shadow: 2px 4px 13px #00000033;
  // }

  // &.is-open:hover {
  //   width: 280px;

  //   a {
  //     &::after {
  //       content: attr(data-text);
  //       opacity: 1;
  //       transform: translateX(3%);
  //     }

  // }
}

[data-theme='dark'] .sidebar {
  background: var(--primary-color-500);
  border-right: 1px solid;
  border-image: linear-gradient(
    210deg,
    #ffffff00 15%,
    #203968 36%,
    #40538f 46%,
    #20437c 54%,
    #2e4b58 64%,
    #ffffff00 85%
  );
  border-image-slice: 1;
  background-size: 14px 14px;
  backdrop-filter: blur(5px) saturate(0.8) contrast(1);
  box-shadow: 1px 2px 5px 1px #0000004d;

  &.is-open {
    background: #121a234d;
    backdrop-filter: blur(9px) saturate(0.8) contrast(1);
    box-shadow: 2px 3px 28px 15px #00000066;
    background-image: linear-gradient(#444df710 0.4px, transparent 0.4px),
      linear-gradient(to right, #444df710 0.4px, #e5e5f700 0.4px);
    background-size: 2px 2px;

    a {
      ::after {
        text-shadow: 1px 2px 7px #000000;
      }

      &:hover {
        background: linear-gradient(90deg, #15202ed9 5%, #121a20e6 25%, #121a2080 30%);
        color: #f76767db;
      }
    }
  }

  &:not(:hover) {
    background: var(--primary-color-500);
    backdrop-filter: blur(5px) saturate(0.8) contrast(1);
    box-shadow: 1px 2px 5px 1px #0000004d;
    background-image: none;
    background-size: 14px 14px;
  }

  a {
    border: none;
    color: var(--tertiary-color-300);

    &.active {
      background-color: var(--primary-color-mask) !important;
      color: var(--secondary-color-50) !important;
    }
  }
}
