@use '../../styles/settings/mixin' as mixin;

.codefend-img-bg {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100dvw;
	min-height: 100dvh;
	z-index: 0;
	background-position: center;
	background-size: cover;
	background: rgb(253, 253, 253);
	background: -moz-linear-gradient(
		150deg,
		rgba(253, 253, 253, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(250, 250, 250, 1) 89%
	);
	background: -webkit-linear-gradient(
		150deg,
		rgba(253, 253, 253, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(250, 250, 250, 1) 89%
	);
	background: linear-gradient(
		150deg,
		rgba(253, 253, 253, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(250, 250, 250, 1) 89%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdfdfd",endColorstr="#fafafa",GradientType=1);
	background-repeat: no-repeat;
	background-image: url('/codefend/access-bkg.webp');

	@include mixin.respond(small) {
		display: none;
	}

	.brand-img {
		top: 40%;
		position: absolute;
		left: 10%;

		img {
			min-width: 0;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
		}

		@include mixin.respond(lmedium) {
			& {
				left: 5%;

				img {
					width: 83%;
				}
			}
		}
		@include mixin.respond(xmedium) {
			img {
				width: 68%;
			}
		}
	}
}

.xcodefend-img-bg {
	display: none;
	@include mixin.respond(small) {
		display: flex;
		justify-content: center;
	}
}

section.access {
	min-width: 100dvw;
	min-height: 100dvh;
	position: relative;
	z-index: 1;
	color: #222222;

	.container {
		min-height: 100dvh;
		min-width: 100dvw;

		display: flex;
		justify-content: flex-end;
		align-items: center;

		@include mixin.respond(small) {
			display: block;
		}
	}

	.nav {
		display: flex;
		margin-block-end: 25px;
		column-gap: 1.25rem /* 20px */;

		span {
			font-size: 1.125rem /* 18px */;
			line-height: 1.75rem /* 28px */;

			padding-block: 3px;
			padding-inline: 0;
			border-bottom: 3px solid #6f6f6f;

			&.active {
				color: var(--secondary-color-50);
				border-bottom: 3px solid var(--secondary-color-50);
			}
		}
	}

	.brand {
		padding-block: 30px;
		padding-inline: 140px;
		flex-grow: 1;
		max-width: 740px;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
		min-width: 54%;
	}

	.forms {
		min-width: 40%;
		min-height: 100dvh;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-grow: 1;

		padding-block: 27px;
		padding-inline: 75px;

		background-color: var(--primary-color);

		@include mixin.respond(lmedium) {
			padding-inline: 35px;
		}

		.link {
			font-size: 0.875rem /* 14px */;
			line-height: 1.25rem /* 20px */;
			cursor: pointer;

			&.link-color {
				color: #afafaf;
			}
		}

		.link-center {
			text-align: center;
		}

		.link-underline {
			&:hover {
				text-decoration: underline;
			}
		}

		form {
			.input-group {
				margin-block-start: 0.5rem;

				input {
					width: 100%;
				}

				select {
					width: 100%;
				}
			}

			.extra-group {
				margin-block-start: 1.5rem;

				&.text-center {
					text-align: center;
				}

				.signup-button {
					display: flex;
					align-items: center;
					column-gap: 0.5rem;
				}
			}
		}
	}
}

form.signup-confirm {
	.check-mail {
		display: flex;
		align-items: center;
		column-gap: 1rem;
		margin-block-start: 1rem;
		margin-block-end: 2rem;

		.check-mail_img {
			width: 10rem;

			img {
				width: 5dvw;
				aspect-ratio: 1/1;
			}
		}

		.check-mail_text {
			display: flex;
			flex-direction: column;
			row-gap: 0.5rem;

			span {
				font-weight: 700;
				font-size: 1.125rem /* 18px */;
				line-height: 1.75rem /* 28px */;
			}

			p {
				color: #afafaf;
			}
		}
	}

	.confirm-input {
		margin-block-start: 0.5rem;
		display: flex;
		flex-direction: column;

		label {
			color: #ff3939;
			font-weight: 700;
			margin-bottom: 0.5rem;
			font-size: 1.1rem;
		}

		input {
			width: 100%;
		}
	}

	.confirm-button {
		margin-block-start: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		column-gap: 1rem;

		button {
			display: flex;
			align-items: center;
			column-gap: 0.5rem;
		}
	}
}

.network-btn {
	position: absolute;
	top: 2%;
	right: 1.5%;
	width: -moz-fit-content;
	width: fit-content;
	aspect-ratio: 1/1;
	background-color: rgb(217 217 217 / 39%);
	border-radius: 100%;
	padding: 6px;
	color: rgb(57 57 57 / 52%);
	transition-property: color, background-color;
	transition-duration: 125ms;
	transition-timing-function: linear;
	cursor: pointer;
	user-select: none;

	&:hover {
		background-color: rgb(197 197 197 / 64%);
		color: rgb(57 57 57 / 70%);
	}
}

[data-theme='dark'] {
	section.access {
		color: var(--tertiary-color);
	}

	.network-btn {
		position: absolute;
		top: 2%;
		right: 1.5%;
		width: -moz-fit-content;
		width: fit-content;
		aspect-ratio: 1/1;
		background-color: #333f4d78;
		border-radius: 100%;
		padding: 6px;
		color: rgb(255 255 255 / 38%);
		transition-property: color, background-color;
		transition-duration: 125ms;
		transition-timing-function: linear;
		cursor: pointer;
		user-select: none;

		&:hover {
			background-color: rgb(59 74 91 / 58%);
			color: rgb(255 255 255 / 51%);
		}
	}
}
