#particles-js {
  display: none;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background: #960c0c;
  background: linear-gradient(294deg, #960c0c 70%, #d00505 90%);

  canvas {
    width: 70vw !important;
  }
}

section.access {
  --brand-view: none;
  --bkg-view: none;
  --form-inline-padding: 20px;
  --form-block-padding: 1.5rem 27px;
  --form-w: 100%;
  --form-max-w: 100%;
  --form-h: 100dvh;
  --form-position: relative;
  --form-radius: 0;
  --section-text-color: #222222;
  --brand-r: inherit;
  --brand-t: 5dvw;
  --brand-l: 50%;
  --brand-translate: -50% 0%;

  min-width: 100dvw;
  min-height: 100dvh;
  position: relative;
  z-index: 1;
  color: var(--section-text-color);

  .bkg {
    display: var(--bkg-view);
    background-repeat: no-repeat;
    background-image: url('/codefend/access-bkg.png');
    background-size: auto 100vh;
    background-position: 70%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .brand {
    display: var(--brand-view);
    position: absolute;
    width: 570px;
    z-index: 10;
    max-width: 35vw;
    top: var(--brand-t);
    left: var(--brand-l);
    right: var(--brand-r);
    translate: var(--brand-translate);

    span {
      position: absolute;
      right: 4%;
      bottom: 10%;
      color: #ffffff;
      font-size: 0.8vw;
      opacity: 0.8;
    }
  }

  .forms {
    width: var(--form-w);
    height: var(--form-h);
    max-width: var(--form-max-w);
    position: var(--form-position);
    border-radius: var(--form-radius);

    box-shadow: 0 0 30px #00000060;
    display: flex;
    flex-direction: column;

    flex-grow: 1;
    padding-block: var(--form-block-padding);
    padding-inline: var(--form-inline-padding);
    background-color: var(--primary-color);
    overflow: auto;

    .nav {
      display: flex;
      margin-block-end: 20px;
      column-gap: 1.25rem /* 20px */;

      span {
        font-size: 1.125rem /* 18px */;
        line-height: 1.75rem /* 28px */;
        color: var(--tertiary-color-300);
        padding-block: 3px;
        padding-inline: 10px;
        border-bottom: 3px solid #e3e3e3;

        &.active {
          opacity: 1;
          color: var(--secondary-color-50);
          border-bottom: 3px solid var(--secondary-color-50);
        }
      }
    }

    .link {
      font-size: 0.875rem /* 14px */;
      line-height: 1.25rem /* 20px */;
      cursor: pointer;

      &.link-color {
        color: #afafaf;
      }
    }

    .link-center {
      text-align: center;
    }

    .link-underline {
      &:hover {
        text-decoration: underline;
      }
    }

    .btn {
      width: 140px;
      min-height: 0%;

      &.btn-black {
        height: 35px;
      }

      @media only screen and (min-width: 740px) {
        &,
        &.btn-black {
          height: 35px;
          min-height: 45px;
        }
      }
    }

    form {
      .input-group {
        margin-block-start: 0.5rem;

        input {
          width: 100%;
        }

        select {
          width: 100%;
        }
      }

      .extra-group {
        margin-block-start: 1.5rem;

        &.text-center {
          text-align: center;
        }

        .signup-button {
          display: flex;
          align-items: center;
          column-gap: 0.5rem;
        }
      }

      .low-space {
        margin-block-start: 1rem;
      }

      .check-mail {
        display: flex;
        align-items: center;
        column-gap: 1rem;
        margin-block-start: 1rem;
        margin-block-end: 2rem;

        .check-mail_img {
          width: 10rem;

          img {
            width: 70px;
            aspect-ratio: 1/1;
          }
        }

        .check-mail_text {
          display: flex;
          flex-direction: column;
          row-gap: 0.5rem;

          span {
            font-weight: 700;
            font-size: 1.125rem /* 18px */;
            line-height: 1.75rem /* 28px */;
          }

          p {
            color: #afafaf;
          }
        }
      }
    }

    .confirm-button {
      margin-block-start: 1.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 1rem;

      button {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;
      }
    }
  }
}

form.signup-confirm {
  .confirm-input {
    margin-block-start: 0.5rem;
    display: flex;
    flex-direction: column;

    label {
      color: #ff3939;
      font-weight: 700;
      margin-bottom: 0.5rem;
      font-size: 1.1rem;
    }

    input {
      width: 100%;
    }
  }
}

.margin-top {
  margin-block-start: 1.5rem;
}

@media only screen and (min-width: 600px) {
  #particles-js {
    display: block;
  }

  section.access {
    --bkg-view: block;
    --form-position: absolute;
    --form-block-padding: 27px;
    --form-w: 60dvw;
    --form-h: auto;
    --form-max-w: 650px;
    --form-radius: 10px;
    --brand-r: 60vw;
    --brand-t: 27vh;
    --brand-l: inherit;
    --brand-translate: 0% 0%;

    .forms {
      top: 5vh;
      bottom: 5vh;
      right: 5vw;
      z-index: 10;
    }
  }
}

@media only screen and (min-width: 740px) {
  section.access {
    --brand-view: block;
    --form-inline-padding: 35px;
    --form-w: 45dvw;
  }
}

@media only screen and (min-width: 980px) {
  section.access {
    --form-inline-padding: 65px;

    form.signup-confirm {
      .check-mail {
        img {
          width: 95px;
        }
      }
    }
  }
}

[data-theme='dark'] {
  section.access {
    --section-text-color: var(--tertiary-color);
  }
}
