@import '../../../../../../styles/settings/mixin';

.CompanyIndexView {
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 1.5rem;
	width: 100%;
	overflow: hidden;

	.company-search {
		width: 100%;
		display: flex;
		align-items: center;
		margin: 0 auto;
	}

	.companies {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		margin-top: 1.5rem;
		overflow: auto;
		gap: 1rem;
		padding-bottom: 10rem;

		.company {
			width: 100%;
			cursor: pointer;
			border: 1px solid var(--tertiary-color-500);
			flex-grow: 1;
			border-radius: 4px;

			@include respond(medium) {
				width: 70%;
			}
			@include respond(small) {
				width: 100%;
			}

			&.selected {
				border-color: var(--color-active-border);
			}

			.company-card {
				width: 100%;
				max-width: 100%;
				height: 12rem;
				border-radius: 4px;
				display: flex;
				align-items: center;
				color: var(--tertiary-color-500);
				padding: 0.5rem;
				column-gap: 2rem;

				.img-wrapper {
					width: 6.149rem;
					aspect-ratio: 1/1;
					border-radius: 100%;
					background-color: rgba(128, 128, 128, 0.1);
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						width: 100%;
						object-fit: cover;
					}
				}

				.company-detail {
					flex: 1 1;
					width: 100%;

					.company-web {
						font-size: 0.97rem;
					}

					.link {
						color: var(--color-active-border);
					}
				}
			}
		}
	}
}
