.CompanyIndexView {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;

  .table-group {
    overflow: auto;
    // margin-inline: 3rem;
  }

  .table.table-admin {
    background: var(--primary-color);
  }

  .company-search {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
  }

  .companies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 1.5rem;
    overflow: auto;
    padding: 1rem;
    padding-bottom: 10rem;
    column-gap: 1.25rem;
    row-gap: 2rem;

    .company {
      width: 100%;
      cursor: pointer;
      background: #ffe4e40d;
      border: 1px solid rgb(222 222 222 / 70%);
      box-shadow: 4px 2px 8px 0 rgb(170 170 170 / 10%);
      border-radius: 0.4rem;

      transition: all 150ms ease;

      @media only screen and (max-width: 900px) {
        width: 70%;
      }

      @media only screen and (max-width: 600px) {
        width: 100%;
      }

      &.selected {
        border: 1px solid #ff1b1b8c;
        box-shadow: 4px 3px 8px 1px rgb(255 146 146 / 10%);
        background: #ffe4e440;
      }

      .company-card {
        width: 100%;
        max-width: 100%;
        height: 12rem;
        border-radius: 4px;
        display: flex;
        align-items: center;
        color: var(--tertiary-color-500);
        padding: 0.5rem;
        column-gap: 1.5rem;
        pointer-events: none;

        .img-wrapper {
          width: 6.149rem;
          aspect-ratio: 1/1;
          border-radius: 100%;
          background-color: #80808003;
          display: flex;
          align-items: center;
          justify-content: center;
          clip-path: circle(50% at 50% 50%);

          img {
            width: 100%;
            object-fit: cover;
          }
        }

        .company-detail {
          flex: 1 1;
          width: 100%;

          .company-name {
            font-weight: 700;
            font-size: 18px;
            text-overflow: ellipsis;
            overflow-wrap: anywhere;
            overflow: hidden;
          }

          .company-id {
            margin-block-start: 0.5rem;
            display: flex;
            flex-direction: column;
            width: 140px;
          }

          .company-web {
            font-size: 0.97rem;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            -webkit-line-clamp: 2;
            white-space: normal;
            overflow-wrap: break-word;
          }

          .link {
            color: var(--secondary-color-100);
            z-index: 100;
            pointer-events: auto;
            text-decoration-line: underline;
            visibility: hidden;

            &.view {
              visibility: visible;
            }
          }
        }
      }
    }
  }
}

body[data-theme='dark'] {
  .CompanyIndexView {
    .company {
      background: var(--primary-color-100);
      box-shadow: 4px 2px 8px 0 #161e2891;
      border-color: #0c121866;

      &.selected {
        border: 1px solid #d52b2bab;
        box-shadow: 4px 2px 8px 0 #b1191936;
        background: #141c27;
      }
    }
  }
}
