/* Color Scheme Light */
:root {
	--color-main: oklch(25.2% 0 0);
	--bg-black: oklch(23.93% 0 0);
	--color-black: oklch(99.4% 0 0);
	--sidebar-bkg: oklch(98.51% 0 0);

	--color-gray: oklch(51.03% 0 0);
	--color-codefend: oklch(99.11% 0 0);
	--color-icon: oklch(75.4% 0 0);
	--color-border: oklch(92.19% 0 0);
	--color-border2: oklch(92.19% 0 0);
	--color-active-border: oklch(65.36% 0.232 26.55);
	--focus-icon: oklch(33.94% 0.04 7.29);
	--color-panel: oklch(76.68% 0 0);
	--font-color: oklch(68.3% 0 0);
	--font-alternative: oklch(68.3% 0 0);

	--main-black: oklch(97.61% 0 0);
	--input-background: oklch(100% 0 0);
	--input-font-color: oklch(25.2% 0 0);
	--text-color-main: oklch(25.2% 0 0);

	--text-color-fend-red: oklch(63.82% 0.189 24.23);

	--toolbar-text-color: oklch(100% 0 0);
	--toolbar-bg-color: oklch(25.62% 0 0);

	color-scheme: light;

	--bkg-main: oklch(100% 0 0);
	--bkg-alt: oklch(97.91% 0 0);
	--bkg-codefend: oklch(67.25% 0.213 24.94);

	--sidebar-width: 4rem;

	--text-large: 1.125rem;
	--text-small: 0.75rem;
	--text-color: oklch(32.11% 0 0);
	--text-color-alt: oklch(51.03% 0 0);
	--text-color-alt2: oklch(67.25% 0.213 24.94);
	--text-color-alt3: oklch(68.3% 0 0);

	--btn-color-main: oklch(67.25% 0.213 24.94);
	--btn-color-alt: oklch(32.11% 0 0);

	--nav-height: 3.125rem;

	--header-lines-color: oklch(0% 0 0);
	--header-title-bkg: oklch(97.61% 0 0);

	--input-outline-color: oklch(67.25% 0.213 24.94);

	--stats-value-color: oklch(85.45% 0 0);

	--higlights-color-line: oklch(37.1% 0.111 24.27);
	--highlights-color-bkg: oklch(27.36% 0.096 26.27);

	--padding-general: 0 3dvw;
	--padding-top-sections-c: 3.125rem;

	--section-alt-bkg: #f2f2f2;

	--mobile-breakpoint: 768px;
}

.dark:root {
	--bkg-main: oklch(26.86% 0 0);
	--bkg-alt: oklch(29.72% 0 0);
	--text-color: oklch(73.16% 0 0);

	--header-title-bkg: oklch(29.72% 0 0);
	--color-border: oklch(32.5% 0 0);

	--text-color-alt: oklch(100% 0 0);

	--header-lines-color: oklch(100% 0 0);
	--sidebar-bkg: oklch(29.72% 0 0);
	--color-icon: oklch(51.73% 0 0);
}
