/* Color Scheme Light */
:root {
	--primary-color-50: #fdfdfd;
	--primary-color-100: #fafafa;
	--primary-color-200: #f8f8f8;
	--primary-color-300: #f7f7f7;
	--primary-color-400: #e5e5e5;

	--tertiary-color: #222222;

	--color-gray: #666;
	--color-icon: #afafaf;
	--color-border2: #d0c5c5;
	--color-active-border: #ff3939;
	--focus-icon: #4a2f34;
	--color-panel: #b3b3b3;
	--font-color: #999999;
	--font-alternative: #999999;

	--input-background: #ffffff;
	--input-font-color: #222222;
	--text-color-main: #222222;

	--text-color-fend-red: #e84f4f;

	--toolbar-text-color: #ffffff;
	--toolbar-bg-color: #232323;

	color-scheme: light;

	--bkg-main: #ffffff;
	--bkg-codefend: #fe4e4e;

	--sidebar-width: 64px;

	--text-large: 18px;
	--text-small: 12px;
	--text-color: #333333;
	--text-color-alt: #666666;
	--text-color-alt2: #fe4e4e;
	--text-color-alt3: #999999;

	--btn-color-main: #fe4e4e;
	--btn-color-alt: #333333;

	--nav-height: 50px;

	--header-lines-color: #000000;

	--input-outline-color: #fe4e4e;

	--stats-value-color: #cfcfcf;

	--higlights-color-line: #6f2121;
	--highlights-color-bkg: #4c0b0b;

	--padding-general: 0 3dvw;
	--padding-top-sections-c: 50px;

	--section-alt-bkg: #f2f2f2;

	--mobile-breakpoint: 768px;
}

.dark:root {
	--bkg-main: oklch(26.86% 0 0);
	--primary-color-200: oklch(29.72% 0 0);
	--text-color: oklch(73.16% 0 0);

	--primary-color-300: oklch(29.72% 0 0);
	--primary-color-400: oklch(32.5% 0 0);

	--text-color-alt: oklch(100% 0 0);

	--header-lines-color: oklch(100% 0 0);
	--primary-color-100: oklch(29.72% 0 0);
	--color-icon: oklch(51.73% 0 0);
}
