@forward 'colors';
@forward 'normalize';

@font-face {
  font-family: 'ITC Avant Garde';
  font-weight: 300;
  font-style: normal;
  src:
    local('ITC Avant Garde'),
    url('/fonts/ITCAvantGardeGothicExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: 'ITC Avant Garde';
  font-weight: 400;
  font-style: normal;
  src:
    local('ITC Avant Garde'),
    url('/fonts/ITCAvantGardeGothicNormal.ttf') format('truetype');
}

@font-face {
  font-family: 'ITC Avant Garde';
  font-weight: 500;
  font-style: normal;
  src:
    local('ITC Avant Garde'),
    url('/fonts/ITCAvantGardeGothicMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'ITC Avant Garde';
  font-weight: 700;
  font-style: normal;
  src:
    local('ITC Avant Garde'),
    url('/fonts/ITCAvantGardeGothicBold.ttf') format('truetype');
}

@font-face {
  font-family: Questrial;
  font-style: normal;
  font-weight: 400;
  src:
    local('Questrial'),
    url('/fonts/Questrial-Regular.ttf') format('truetype');
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-moz-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--primary-color-500);
}

::-moz-scrollbar-track {
  background: var(--primary-color-500);
}

::-webkit-scrollbar-thumb {
  background: #ff6c6c;
}

::-moz-scrollbar-thumb {
  background: #ff6c6c;
}

::-webkit-scrollbar-thumb:hover {
  background: #e75e5e;
}

::-moz-scrollbar-thumb:hover {
  background: #e75e5e;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color-50) var(--primary-color-500);
}

body {
  transition: background, color;
  transition-duration: 500ms;
  transition-timing-function: linear;
  background: #ffffffd9;
  color: var(--tertiary-color-500);
  font-family: 'ITC Avant Garde', Questrial;
}

body[data-theme='dark'] {
  background: #1d2732;
  background: -moz-linear-gradient(180deg, rgb(31 32 32 / 100%) 0%, rgb(30 31 30 / 100%) 100%);
  background: -webkit-linear-gradient(180deg, rgb(31 32 32 / 100%) 0%, rgb(30 31 30 / 100%) 100%);
  background: linear-gradient(180deg, rgb(31 32 32 / 100%) 0%, rgb(30 31 30 / 100%) 100%);
  color: var(--tertiary-color-200);
}

#root {
  height: 100%;
  width: 100%;
}

h2 {
  color: var(--tertiary-color-450);
}

h3 {
  color: var(--tertiary-color-300);
}

a,
select {
  cursor: pointer;
}

select {
  color: var(--tertiary-color-400);
}

a {
  color: inherit;
  text-decoration: inherit;
  outline: none;

  svg {
    pointer-events: none;
  }

  &.disabled {
    outline: none;
    cursor: not-allowed !important;
    color: var(--tertiary-color-200) !important;
    background-color: var(--primary-color-100) !important;

    &:hover {
      cursor: not-allowed !important;
      color: var(--tertiary-color-200) !important;
      background-color: var(--primary-color-100) !important;
    }

    &:active {
      outline: none;
    }
  }

  &:focus {
    outline: none;
  }
}

.codefend-checkbox {
  color: inherit !important;
  padding: 0;
  --primary-hover-color: #c92222;
  --checkbox-diameter: 17.5px;
  --checkbox-border-radius: 5px;
  --checkbox-border-color: var(--tertiary-color-50);
  --checkbox-border-width: 1px;
  --checkbox-border-style: solid;
  --checkmark-size: 1.2;
}

[data-theme='dark'] {
  .codefend-radio {
    --radio-bg: linear-gradient(to right bottom, #f07878, #9e1f1f);
    --radio-bg-before: linear-gradient(to right bottom, #202c38, #2f4660);
  }
}
