@forward 'colors';
@forward 'normalize.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src:
		local('Roboto-Regular'),
		url('/fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Roboto';
	font-style: bold;
	font-weight: 700;
	src:
		local('Roboto-Bold'),
		url('/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
	font-family: Questrial;
	font-style: normal;
	font-weight: 400;
	src:
		local('Questrial-Regular'),
		url('/fonts/Questrial-Regular.ttf') format('truetype');
}

/* scrollbar */
::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--primary-color-500);
}

::-webkit-scrollbar-thumb {
	background: #ff6c6c;
}

::-webkit-scrollbar-thumb:hover {
	background: #e75e5e;
}

*,
::before,
::after {
	box-sizing: border-box;
	scrollbar-width: thin;
	scrollbar-color: var(--secondary-color-50) var(--primary-color-500);
}

body {
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: fit-content;
	min-height: 100dvh;
	max-width: 100dvw;
	touch-action: manipulation;
	transition: background, color;
	transition-duration: 500ms;
	transition-timing-function: linear;
	background: rgb(253, 253, 253);
	background: -moz-linear-gradient(
		150deg,
		rgba(253, 253, 253, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(250, 250, 250, 1) 89%
	);
	background: -webkit-linear-gradient(
		150deg,
		rgba(253, 253, 253, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(250, 250, 250, 1) 89%
	);
	background: linear-gradient(
		150deg,
		rgba(253, 253, 253, 1) 11%,
		rgba(255, 255, 255, 1) 48%,
		rgba(250, 250, 250, 1) 89%
	);
	color: var(--tertiary-color-500);
}

body[data-theme='dark'] {
	transition: background;
	transition-duration: 500ms;
	transition-timing-function: linear;

	background: rgb(29, 39, 50);
	background: -moz-linear-gradient(
		150deg,
		rgba(25, 34, 44, 0.9878326330532213) 10%,
		rgba(31, 41, 54, 1) 52%,
		rgba(31, 41, 52, 1) 91%
	);
	background: -webkit-linear-gradient(
		150deg,
		rgba(25, 34, 44, 0.9878326330532213) 10%,
		rgba(31, 41, 54, 1) 52%,
		rgba(31, 41, 52, 1) 91%
	);
	background: linear-gradient(
		150deg,
		rgba(25, 34, 44, 0.9878326330532213) 10%,
		rgba(31, 41, 54, 1) 52%,
		rgba(31, 41, 52, 1) 91%
	);
	color: var(--tertiary-color-200);
}

#root {
	height: 100%;
	width: 100%;
}

body,
input,
pre,
h1,
h2,
h3,
h4,
h5,
h6,
.modal_info,
.codefend_main_ac,
.codefend_secondary_ac,
.text-format p {
	font-family: Questrial;
}

input,
.modal_info,
.text-format p,
.title-format {
	font-size: 0.942rem;
}

h2 {
	color: var(--tertiary-color-450);
}

h3 {
	color: var(--tertiary-color-300);
}

a,
select {
	cursor: pointer;
}

select {
	color: var(--tertiary-color-400);
}

a {
	text-decoration: none;
	color: inherit;
	text-decoration: inherit;

	svg {
		pointer-events: none;
	}

	&.disabled {
		cursor: not-allowed !important;
		color: var(--tertiary-color-200) !important;
		background-color: var(--primary-color-100) !important;

		&:hover {
			cursor: not-allowed !important;
			color: var(--tertiary-color-200) !important;
			background-color: var(--primary-color-100) !important;
		}
	}
}

main {
	width: 100%;
	height: 100dvh;
	min-height: 1000px;
	max-height: calc(100dvh - var(--navbar-height));

	display: flex;
	justify-content: space-between;
	column-gap: 0.625rem;

	opacity: 0;
	color: var(--primary-color-100);

	padding-inline-start: calc(var(--sidebar-width) + 0.938rem);
	padding-inline-end: 0.938rem;
	padding-block-start: 3dvw;
	padding-block-end: 0.938rem;

	margin-block-start: var(--navbar-height);

	transition-delay: 70ms;
	transition-property: padding, opacity, background, color;
	transition-duration: 400ms;
	transition-timing-function: cubic-bezier(0.47, 1.64, 0.41, 0.8);

	overflow-y: auto;
	overflow-x: hidden;

	@media only screen and (min-width: 1880px) {
		margin-inline: auto;
	}

	&.actived {
		opacity: 1;
		padding-block-start: 0px;

		.left {
			padding-block-start: 65px;
		}

		.right {
			padding-block-start: 65px;
		}
	}
}

.codefend-checkbox {
	color: inherit !important;
	padding: 0;
	--primary-hover-color: hsl(0, 71%, 46%);
	--checkbox-diameter: 17.5px;
	--checkbox-border-radius: 5px;
	--checkbox-border-color: var(--tertiary-color-50);
	--checkbox-border-width: 1px;
	--checkbox-border-style: solid;
	--checkmark-size: 1.2;
}
